<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.user.UserRoleRelMapper'>

    <!-- 关系映射 -->
    <resultMap id="UserRoleRelModelMap" type="UserRoleRelModel" >
                <result property="creater" column="creater" />
                <result property="id" column="id" />
                <result property="userId" column="user_id" />
                <result property="roleId" column="role_id" />
                <result property="createDate" column="create_date" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='UserRoleRelModelMap' parameterType='UserRoleRelModel'>
        select <include refid='sql_columns' /> from st_user_role_rel  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='UserRoleRelModelMap' parameterType='UserRoleRelModel'>
        select <include refid='sql_columns' /> from st_user_role_rel  <include refid='sql_where' /> order by id desc
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='UserRoleRelModelMap' parameterType='UserRoleRelModel' >
        select <include refid='sql_columns' /> from st_user_role_rel  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='UserRoleRelModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO st_user_role_rel
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='creater!=null' > creater , </if>
                <if test='id!=null' > id , </if>
                <if test='userId!=null' > user_id , </if>
                <if test='roleId!=null' > role_id , </if>
                <if test='createDate!=null' > create_date , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='creater!=null' > #{creater} , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='userId!=null' > #{userId} , </if>
                <if test='roleId!=null' > #{roleId} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='UserRoleRelModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  st_user_role_rel SET
        <trim  suffixOverrides=",">
                <if test='creater!=null' > creater= #{creater} , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='userId!=null' > user_id= #{userId} , </if>
                <if test='roleId!=null' > role_id= #{roleId} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from st_user_role_rel  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from st_user_role_rel where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        creater,
        id,
        user_id,
        role_id,
        create_date
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='userId!=null' > user_id= #{userId} and </if>
                <if test='roleId!=null' > role_id= #{roleId} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
            </trim>
        </where>
    </sql>

    <!--自定义SQL-->

    <delete id='delByRoleId' parameterType='java.lang.Long'>
        delete from st_user_role_rel  where role_id=#{roleId}
    </delete>


</mapper>
