<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.transfer.TransferInDepotItemMapper'>

    <!-- 关系映射 -->
    <resultMap id="TransferInDepotItemModelMap" type="TransferInDepotItemModel" >
            <result property="overdueDate" column="overdue_date" />
            <result property="modifyDate" column="modify_date" />
            <result property="transferDepotId" column="transfer_depot_id" />
            <result property="inGoodsId" column="in_goods_id" />
            <result property="expireNum" column="expire_num" />
            <result property="inGoodsNo" column="in_goods_no" />
            <result property="transferBatchNo" column="transfer_batch_no" />
            <result property="productionDate" column="production_date" />
            <result property="inGoodsName" column="in_goods_name" />
            <result property="transferNum" column="transfer_num" />
            <result property="creater" column="creater" />
            <result property="inGoodsCode" column="in_goods_code" />
            <result property="id" column="id" />
            <result property="wornNum" column="worn_num" />
            <result property="tallyingUnit" column="tallying_unit" />
            <result property="barcode" column="barcode" />
            <result property="createDate" column="create_date" />
            <result property="inCommbarcode" column="in_commbarcode" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='TransferInDepotItemModelMap' parameterType='TransferInDepotItemModel'>
        select <include refid='sql_columns' /> from t_transfer_in_depot_item  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='TransferInDepotItemModelMap' parameterType='TransferInDepotItemModel'>
        select <include refid='sql_columns' /> from t_transfer_in_depot_item  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='TransferInDepotItemModelMap' parameterType='TransferInDepotItemModel' >
        select <include refid='sql_columns' /> from t_transfer_in_depot_item  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='TransferInDepotItemModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO t_transfer_in_depot_item
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='overdueDate!=null' > overdue_date , </if>
                <if test='modifyDate!=null' > modify_date , </if>
                <if test='transferDepotId!=null' > transfer_depot_id , </if>
                <if test='inGoodsId!=null' > in_goods_id , </if>
                <if test='expireNum!=null' > expire_num , </if>
                <if test='inGoodsNo!=null and !"".equals(inGoodsNo)' > in_goods_no , </if>
                <if test='transferBatchNo!=null and !"".equals(transferBatchNo)' > transfer_batch_no , </if>
                <if test='productionDate!=null' > production_date , </if>
                <if test='inGoodsName!=null and !"".equals(inGoodsName)' > in_goods_name , </if>
                <if test='transferNum!=null' > transfer_num , </if>
                <if test='creater!=null' > creater , </if>
                <if test='inGoodsCode!=null and !"".equals(inGoodsCode)' > in_goods_code , </if>
                <if test='id!=null' > id , </if>
                <if test='wornNum!=null' > worn_num , </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > tallying_unit , </if>
                <if test='barcode!=null and !"".equals(barcode)' > barcode , </if>
                <if test='createDate!=null' > create_date , </if>
                <if test='inCommbarcode!=null and !"".equals(inCommbarcode)' > in_commbarcode , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='overdueDate!=null' > #{overdueDate} , </if>
                <if test='modifyDate!=null' > #{modifyDate} , </if>
                <if test='transferDepotId!=null' > #{transferDepotId} , </if>
                <if test='inGoodsId!=null' > #{inGoodsId} , </if>
                <if test='expireNum!=null' > #{expireNum} , </if>
                <if test='inGoodsNo!=null and !"".equals(inGoodsNo)' > TRIM(#{inGoodsNo}) , </if>
                <if test='transferBatchNo!=null and !"".equals(transferBatchNo)' > TRIM(#{transferBatchNo}) , </if>
                <if test='productionDate!=null' > #{productionDate} , </if>
                <if test='inGoodsName!=null and !"".equals(inGoodsName)' > TRIM(#{inGoodsName}) , </if>
                <if test='transferNum!=null' > #{transferNum} , </if>
                <if test='creater!=null' > #{creater} , </if>
                <if test='inGoodsCode!=null and !"".equals(inGoodsCode)' > TRIM(#{inGoodsCode}) , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='wornNum!=null' > #{wornNum} , </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > TRIM(#{tallyingUnit}) , </if>
                <if test='barcode!=null and !"".equals(barcode)' > TRIM(#{barcode}) , </if>
                <if test='createDate!=null' > #{createDate} , </if>
                <if test='inCommbarcode!=null and !"".equals(inCommbarcode)' > #{inCommbarcode} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='TransferInDepotItemModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  t_transfer_in_depot_item SET
        <trim  suffixOverrides=",">
                <if test='overdueDate!=null' > overdue_date= TRIM(#{overdueDate}) , </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                <if test='transferDepotId!=null' > transfer_depot_id= #{transferDepotId} , </if>
                <if test='inGoodsId!=null' > in_goods_id= #{inGoodsId} , </if>
                <if test='expireNum!=null' > expire_num= #{expireNum} , </if>
                <if test='inGoodsNo!=null and !"".equals(inGoodsNo)' >in_goods_no= TRIM(#{inGoodsNo}) , </if>
                <if test='transferBatchNo!=null and !"".equals(transferBatchNo)' >transfer_batch_no= TRIM(#{transferBatchNo}) , </if>
                <if test='productionDate!=null' > production_date= #{productionDate} , </if>
                <if test='inGoodsName!=null and !"".equals(inGoodsName)' >in_goods_name= TRIM(#{inGoodsName}) , </if>
                <if test='transferNum!=null' > transfer_num= #{transferNum} , </if>
                <if test='creater!=null' > creater= #{creater} , </if>
                <if test='inGoodsCode!=null and !"".equals(inGoodsCode)' >in_goods_code= TRIM(#{inGoodsCode}) , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='wornNum!=null' > worn_num= #{wornNum} , </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= TRIM(#{tallyingUnit}) , </if>
                <if test='barcode!=null and !"".equals(barcode)' >barcode= TRIM(#{barcode}) , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
                <if test='inCommbarcode!=null and !"".equals(inCommbarcode)' >in_commbarcode= #{inCommbarcode} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_transfer_in_depot_item  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from t_transfer_in_depot_item where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        overdue_date,
        modify_date,
        transfer_depot_id,
        in_goods_id,
        expire_num,
        in_goods_no,
        transfer_batch_no,
        production_date,
        in_goods_name,
        transfer_num,
        creater,
        in_goods_code,
        id,
        worn_num,
        tallying_unit,
        barcode,
        create_date,
        in_commbarcode
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='overdueDate!=null' > overdue_date= #{overdueDate} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='transferDepotId!=null' > transfer_depot_id= #{transferDepotId} and </if>
                <if test='inGoodsId!=null' > in_goods_id= #{inGoodsId} and </if>
                <if test='expireNum!=null' > expire_num= #{expireNum} and </if>
                <if test='inGoodsNo!=null and !"".equals(inGoodsNo)' >in_goods_no= #{inGoodsNo} and </if>
                <if test='transferBatchNo!=null and !"".equals(transferBatchNo)' >transfer_batch_no= #{transferBatchNo} and </if>
                <if test='productionDate!=null' > production_date= #{productionDate} and </if>
                <if test='inGoodsName!=null and !"".equals(inGoodsName)' >in_goods_name= #{inGoodsName} and </if>
                <if test='transferNum!=null' > transfer_num= #{transferNum} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='inGoodsCode!=null and !"".equals(inGoodsCode)' >in_goods_code= #{inGoodsCode} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='wornNum!=null' > worn_num= #{wornNum} and </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} and </if>
                <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='inCommbarcode!=null and !"".equals(inCommbarcode)' >in_commbarcode= #{inCommbarcode} and </if>
            </trim>
        </where>
    </sql>

	<!--自定义SQL-->  
	<!-- 检查商品是否使用 -->
    <select id='checkGoodsIsUse' resultType="java.lang.Integer" parameterType="java.lang.Long">
        select 
        	count(*)
        from t_transfer_in_depot_item t1
        left join t_transfer_in_depot t2 on t1.transfer_depot_id = t2.id
        where t2.status in ('011','012') and t1.in_goods_id = #{id}
    </select>

    <select id="getInItemListByTransferId" resultType="map" parameterType='Long'>
       select tid.code AS indepotcode,tidi.in_goods_id,tidi.in_goods_no,tidi.in_goods_name,tidi.transfer_batch_no AS in_transfer_batch_no,
              tidi.transfer_num AS in_transfer_num,tidi.worn_num,tidi.expire_num
       from t_transfer_in_depot tid,t_transfer_in_depot_item tidi
       where tid.transfer_order_id=#{transferId} and tid.id=tidi.transfer_depot_id and tid.status!='006'
    </select>

    <select id="getItemByTransferInId" resultType="TransferInDepotItemDTO"  parameterType="java.lang.Long" >
        select <include refid='sql_columns' /> from t_transfer_in_depot_item  where transfer_depot_id = #{transferId}
    </select>

</mapper>
