<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.AdjustmentInventoryItemMapper'>

    <!-- 关系映射 -->
    <resultMap id="AdjustmentInventoryItemModelMap" type="AdjustmentInventoryItemModel" >
                <result property="goodsNo" column="goods_no" />
                <result property="overdueDate" column="overdue_date" />
                <result property="isDamage" column="is_damage" />
                <result property="goodsId" column="goods_id" />
                <result property="oldBatchNo" column="old_batch_no" />
                <result property="type" column="type" />
                <result property="tAdjustmentInventoryId" column="t_adjustment_inventory_id" />
                <result property="productionDate" column="production_date" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
                <result property="id" column="id" />
                <result property="goodsCode" column="goods_code" />
                <result property="tallyingUnit" column="tallying_unit" />
                <result property="goodsName" column="goods_name" />
                <result property="barcode" column="barcode" />
                <result property="adjustTotal" column="adjust_total" />
                <result property="poNo" column="po_no" />
                <result property="commbarcode" column="commbarcode" />
                <result property="poDate" column="po_date" />
                <result property="settlementPrice" column="settlement_price" />
                <result property="buName" column="bu_name" />
                <result property="buId" column="bu_id" />
                <result property="stockLocationTypeId" column="stock_location_type_id" />
                <result property="stockLocationTypeName" column="stock_location_type_name" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='AdjustmentInventoryItemModelMap' parameterType='AdjustmentInventoryItemModel'>
        select <include refid='sql_columns' /> from s_adjustment_inventory_item  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='AdjustmentInventoryItemModelMap' parameterType='AdjustmentInventoryItemModel'>
        select <include refid='sql_columns' /> from s_adjustment_inventory_item  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='AdjustmentInventoryItemModelMap' parameterType='AdjustmentInventoryItemModel' >
        select <include refid='sql_columns' /> from s_adjustment_inventory_item  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='AdjustmentInventoryItemModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO s_adjustment_inventory_item
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='goodsNo!=null and !"".equals(goodsNo)' > goods_no , </if>
                <if test='overdueDate!=null' > overdue_date , </if>
                <if test='isDamage!=null and !"".equals(isDamage)' > is_damage , </if>
                <if test='goodsId!=null' > goods_id , </if>
                <if test='oldBatchNo!=null and !"".equals(oldBatchNo)' > old_batch_no , </if>
                <if test='type!=null and !"".equals(type)' > type , </if>
                <if test='tAdjustmentInventoryId!=null' > t_adjustment_inventory_id , </if>
                <if test='productionDate!=null' > production_date , </if>
                <if test='createDate!=null' > create_date , </if>
                <if test='modifyDate!=null' > modify_date , </if>
                <if test='id!=null' > id , </if>
                <if test='goodsCode!=null and !"".equals(goodsCode)' > goods_code , </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > tallying_unit , </if>
                <if test='goodsName!=null and !"".equals(goodsName)' > goods_name , </if>
                <if test='barcode!=null and !"".equals(barcode)' > barcode , </if>
                <if test='adjustTotal!=null' > adjust_total , </if>
                <if test='poNo!=null and !"".equals(poNo)' > po_no , </if>
                <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                <if test='poDate!=null and !"".equals(poDate)' > po_date , </if>
                <if test='settlementPrice!=null' > settlement_price , </if>
                <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                <if test='buId!=null' >bu_id , </if>
                <if test='stockLocationTypeId!=null' >stock_location_type_id , </if>
                <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' >stock_location_type_name , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='goodsNo!=null and !"".equals(goodsNo)' > TRIM(#{goodsNo}), </if>
                <if test='overdueDate!=null' > #{overdueDate} , </if>
                <if test='isDamage!=null and !"".equals(isDamage)' > TRIM(#{isDamage}) , </if>
                <if test='goodsId!=null' > #{goodsId} , </if>
                <if test='oldBatchNo!=null and !"".equals(oldBatchNo)' > TRIM(#{oldBatchNo}) , </if>
                <if test='type!=null and !"".equals(type)' > TRIM(#{type}) , </if>
                <if test='tAdjustmentInventoryId!=null' > #{tAdjustmentInventoryId} , </if>
                <if test='productionDate!=null' > #{productionDate} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
                <if test='modifyDate!=null' > #{modifyDate} , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='goodsCode!=null and !"".equals(goodsCode)' > TRIM(#{goodsCode}) , </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > TRIM(#{tallyingUnit}) , </if>
                <if test='goodsName!=null and !"".equals(goodsName)' > TRIM(#{goodsName}) , </if>
                <if test='barcode!=null and !"".equals(barcode)' > TRIM(#{barcode}) , </if>
                <if test='adjustTotal!=null' > #{adjustTotal} , </if>
                <if test='poNo!=null and !"".equals(poNo)' > TRIM(#{poNo}) , </if>
                <if test='commbarcode!=null and !"".equals(commbarcode)' > TRIM(#{commbarcode}) , </if>
                <if test='poDate!=null and !"".equals(poDate)' > TRIM(#{poDate}) , </if>
                <if test='settlementPrice!=null' > #{settlementPrice} , </if>
                <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                <if test='buId!=null' > #{buId} , </if>
                <if test='stockLocationTypeId!=null' > #{stockLocationTypeId} , </if>
                <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' > #{stockLocationTypeName} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='AdjustmentInventoryItemModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  s_adjustment_inventory_item SET
        <trim  suffixOverrides=",">
                <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= TRIM(#{goodsNo}) , </if>
                <if test='overdueDate!=null' > overdue_date= #{overdueDate} , </if>
                <if test='isDamage!=null and !"".equals(isDamage)' >is_damage= TRIM(#{isDamage}) , </if>
                <if test='goodsId!=null' > goods_id= #{goodsId} , </if>
                <if test='oldBatchNo!=null and !"".equals(oldBatchNo)' >old_batch_no= TRIM(#{oldBatchNo}) , </if>
                <if test='type!=null and !"".equals(type)' >type= TRIM(#{type}) , </if>
                <if test='tAdjustmentInventoryId!=null' > t_adjustment_inventory_id= #{tAdjustmentInventoryId} , </if>
                <if test='productionDate!=null' > production_date= #{productionDate} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='goodsCode!=null and !"".equals(goodsCode)' >goods_code= TRIM(#{goodsCode}) , </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= TRIM(#{tallyingUnit}) , </if>
                <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= TRIM(#{goodsName}) , </if>
                <if test='barcode!=null and !"".equals(barcode)' >barcode= TRIM(#{barcode}) , </if>
                <if test='adjustTotal!=null' > adjust_total= #{adjustTotal} , </if>
                <if test='poNo!=null and !"".equals(poNo)' >po_no= TRIM(#{poNo}) , </if>
                <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= TRIM(#{commbarcode}) , </if>
                <if test='poDate!=null and !"".equals(poDate)' >po_date= TRIM(#{poDate}) , </if>
                <if test='settlementPrice!=null' > settlement_price= #{settlementPrice} , </if>
                <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                <if test='buId!=null' > bu_id= #{buId} , </if>
                <if test='stockLocationTypeId!=null' > stock_location_type_id= #{stockLocationTypeId} , </if>
                <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' > stock_location_type_name= #{stockLocationTypeName} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from s_adjustment_inventory_item  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from s_adjustment_inventory_item where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        goods_no,
        overdue_date,
        is_damage,
        goods_id,
        old_batch_no,
        type,
        t_adjustment_inventory_id,
        production_date,
        create_date,
        modify_date,
        id,
        goods_code,
        tallying_unit,
        goods_name,
        barcode,
        adjust_total,
        po_no,
        commbarcode,
        po_date,
        settlement_price,
        bu_name,
        bu_id,
        stock_location_type_id,
        stock_location_type_name
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} and </if>
                <if test='overdueDate!=null' > overdue_date= #{overdueDate} and </if>
                <if test='isDamage!=null and !"".equals(isDamage)' >is_damage= #{isDamage} and </if>
                <if test='goodsId!=null' > goods_id= #{goodsId} and </if>
                <if test='oldBatchNo!=null and !"".equals(oldBatchNo)' >old_batch_no= #{oldBatchNo} and </if>
                <if test='type!=null and !"".equals(type)' >type= #{type} and </if>
                <if test='tAdjustmentInventoryId!=null' > t_adjustment_inventory_id= #{tAdjustmentInventoryId} and </if>
                <if test='productionDate!=null' > production_date= #{productionDate} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='goodsCode!=null and !"".equals(goodsCode)' >goods_code= #{goodsCode} and </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} and </if>
                <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                <if test='adjustTotal!=null' > adjust_total= #{adjustTotal} and </if>
                <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                <if test='poDate!=null and !"".equals(poDate)' >po_date= #{poDate} and </if>
                <if test='settlementPrice!=null' > settlement_price= #{settlementPrice} and </if>
                <if test='buName!=null and !"".equals(buName)' > bu_name=#{buName} and  </if>
                <if test='buId!=null' > bu_id= #{buId} and </if>
                <if test='stockLocationTypeId!=null' > stock_location_type_id= #{stockLocationTypeId} and </if>
                <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' > stock_location_type_name= #{stockLocationTypeName} and </if>
            </trim>
        </where>
    </sql>

	<!--自定义SQL-->
   <select id='getItemByInventoryIds' resultType='map' parameterType='java.util.ArrayList' >
        select t.code,t.depot_id,i.goods_id,i.goods_no,i.old_batch_no,i.is_damage,i.overdue_date,i.tallying_unit,i.adjust_total
		from s_adjustment_inventory t,s_adjustment_inventory_item i
		where t.id=i.t_adjustment_inventory_id and type='0'
		      and t_adjustment_inventory_id in
		 <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
         </foreach>
    </select> 
    
    <!-- 检查商品是否使用 -->
    <select id='checkGoodsIsUse' resultType="java.lang.Integer" parameterType="java.lang.Long">
        select 
        	count(*)
        from s_adjustment_inventory_item
        where goods_id = #{id}
    </select>


    <select id="getByInventoryIds" resultType="map" parameterType="java.util.ArrayList" >
        select t.id,t.depot_id,t.model,i.goods_no,i.adjust_total,i.po_no,i.po_date
        from s_adjustment_inventory t,s_adjustment_inventory_item i
        where t.id=i.t_adjustment_inventory_id
        and t_adjustment_inventory_id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </select>

    <select id="countNoExistBu" parameterType="java.lang.Long" resultType="java.lang.Long" >
        select count(0)
        from s_adjustment_inventory_item
        where t_adjustment_inventory_id = #{id}
        and bu_id is null
    </select>
    
</mapper>
