<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.AdjustmentInventoryMapper'>

   <!-- 关系映射 -->
    <resultMap id="AdjustmentInventoryModelMap" type="AdjustmentInventoryModel" >
                <result property="depotName" column="depot_name" />
                <result property="createUserId" column="create_user_id" />
                <result property="code" column="code" />
                <result property="months" column="months" />
                <result property="depotId" column="depot_id" />
                <result property="sourceTime" column="source_time" />
                <result property="remark" column="remark" />
                <result property="merchantName" column="merchant_name" />
                <result property="sourceCode" column="source_code" />
                <result property="createUsername" column="create_username" />
                <result property="merchantId" column="merchant_id" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
                <result property="model" column="model" />
                <result property="id" column="id" />
                <result property="adjustmentTime" column="adjustment_time" />
                <result property="status" column="status" />
                <result property="poNo" column="po_no" />
                <result property="source" column="source" />
                <result property="currency" column="currency" />
                <result property="confirmUserId" column="confirm_user_id" />
                <result property="confirmUsername" column="confirm_username" />
                <result property="confirmTime" column="confirm_time" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='AdjustmentInventoryModelMap' parameterType='AdjustmentInventoryModel'>
        select <include refid='sql_columns' /> from s_adjustment_inventory  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='AdjustmentInventoryModelMap' parameterType='AdjustmentInventoryModel'>
        select <include refid='sql_columns' /> from s_adjustment_inventory  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='AdjustmentInventoryModelMap' parameterType='AdjustmentInventoryModel' >
        select <include refid='sql_columns' /> from s_adjustment_inventory  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='AdjustmentInventoryModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO s_adjustment_inventory
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='depotName!=null and !"".equals(depotName)' > depot_name , </if>
                <if test='createUserId!=null' > create_user_id , </if>
                <if test='code!=null and !"".equals(code)' > code , </if>
                <if test='months!=null and !"".equals(months)' > months , </if>
                <if test='depotId!=null' > depot_id , </if>
                <if test='sourceTime!=null' > source_time , </if>
                <if test='remark!=null and !"".equals(remark)' > remark , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                <if test='sourceCode!=null and !"".equals(sourceCode)' > source_code , </if>
                <if test='createUsername!=null and !"".equals(createUsername)' > create_username , </if>
                <if test='merchantId!=null' > merchant_id , </if>
                <if test='createDate!=null' > create_date , </if>
                <if test='modifyDate!=null' > modify_date , </if>
                <if test='model!=null and !"".equals(model)' > model , </if>
                <if test='id!=null' > id , </if>
                <if test='adjustmentTime!=null' > adjustment_time , </if>
                <if test='status!=null and !"".equals(status)' > status , </if>
                <if test='poNo!=null and !"".equals(poNo)' > po_no , </if>
                <if test='source!=null and !"".equals(source)' > source , </if>
                <if test='currency!=null and !"".equals(currency)' > currency , </if>
                <if test='confirmUserId!=null' >confirm_user_id , </if>
                <if test='confirmUsername!=null and !"".equals(confirmUsername)' > confirm_username , </if>
                <if test='confirmTime!=null' >confirm_time , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='depotName!=null and !"".equals(depotName)' > TRIM(#{depotName}), </if>
                <if test='createUserId!=null' > #{createUserId} , </if>
                <if test='code!=null and !"".equals(code)' > TRIM(#{code}) , </if>
                <if test='months!=null and !"".equals(months)' > TRIM(#{months}) , </if>
                <if test='depotId!=null' > #{depotId} , </if>
                <if test='sourceTime!=null' > #{sourceTime} , </if>
                <if test='remark!=null and !"".equals(remark)' > TRIM(#{remark}) , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' > TRIM(#{merchantName}) , </if>
                <if test='sourceCode!=null and !"".equals(sourceCode)' > TRIM(#{sourceCode}) , </if>
                <if test='createUsername!=null and !"".equals(createUsername)' > TRIM(#{createUsername}) , </if>
                <if test='merchantId!=null' > #{merchantId} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
                <if test='modifyDate!=null' > #{modifyDate} , </if>
                <if test='model!=null and !"".equals(model)' > TRIM(#{model}) , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='adjustmentTime!=null' > #{adjustmentTime} , </if>
                <if test='status!=null and !"".equals(status)' > TRIM(#{status}) , </if>
                <if test='poNo!=null and !"".equals(poNo)' > TRIM(#{poNo}) , </if>
                <if test='source!=null and !"".equals(source)' > TRIM(#{source}) , </if>
                <if test='currency!=null and !"".equals(currency)' > TRIM(#{currency}) , </if>
                <if test='confirmUserId!=null' > #{confirmUserId} , </if>
                <if test='confirmUsername!=null and !"".equals(confirmUsername)' > #{confirmUsername} , </if>
                <if test='confirmTime!=null' > #{confirmTime} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='AdjustmentInventoryModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  s_adjustment_inventory SET
        <trim  suffixOverrides=",">
                <if test='depotName!=null and !"".equals(depotName)' >depot_name= TRIM(#{depotName}) , </if>
                <if test='createUserId!=null' > create_user_id= #{createUserId} , </if>
                <if test='code!=null and !"".equals(code)' >code= TRIM(#{code}) , </if>
                <if test='months!=null and !"".equals(months)' >months= TRIM(#{months}) , </if>
                <if test='depotId!=null' > depot_id= #{depotId} , </if>
                <if test='sourceTime!=null' > source_time= #{sourceTime} , </if>
                <if test='remark!=null and !"".equals(remark)' >remark= TRIM(#{remark}) , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= TRIM(#{merchantName}) , </if>
                <if test='sourceCode!=null and !"".equals(sourceCode)' >source_code= TRIM(#{sourceCode}) , </if>
                <if test='createUsername!=null and !"".equals(createUsername)' >create_username= TRIM(#{createUsername}) , </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                <if test='model!=null and !"".equals(model)' >model= TRIM(#{model}) , </if>
                <if test='adjustmentTime!=null' > adjustment_time= #{adjustmentTime} , </if>
                <if test='status!=null and !"".equals(status)' >status= TRIM(#{status}) , </if>
                <if test='poNo!=null and !"".equals(poNo)' >po_no= TRIM(#{poNo}) , </if>
                <if test='source!=null and !"".equals(source)' >source= TRIM(#{source}) , </if>
                <if test='currency!=null and !"".equals(currency)' >currency= TRIM(#{currency}) , </if>
                <if test='confirmUserId!=null' > confirm_user_id= #{confirmUserId} , </if>
                <if test='confirmUsername!=null and !"".equals(confirmUsername)' >confirm_username= #{confirmUsername} , </if>
                <if test='confirmTime!=null' > confirm_time= #{confirmTime} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from s_adjustment_inventory  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from s_adjustment_inventory where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        depot_name,
        create_user_id,
        code,
        months,
        depot_id,
        source_time,
        remark,
        merchant_name,
        source_code,
        create_username,
        merchant_id,
        create_date,
        modify_date,
        model,
        id,
        adjustment_time,
        status,
        po_no,
        source,
        currency,
        confirm_user_id,
        confirm_username,
        confirm_time
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} and </if>
                <if test='createUserId!=null' > create_user_id= #{createUserId} and </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='months!=null and !"".equals(months)' >months= #{months} and </if>
                <if test='depotId!=null' > depot_id= #{depotId} and </if>
                <if test='sourceTime!=null' > source_time= #{sourceTime} and </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='sourceCode!=null and !"".equals(sourceCode)' >source_code= #{sourceCode} and </if>
                <if test='createUsername!=null and !"".equals(createUsername)' >create_username= #{createUsername} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='model!=null and !"".equals(model)' >model= #{model} and </if>
                <if test='adjustmentTime!=null' > adjustment_time= #{adjustmentTime} and </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                <if test='source!=null and !"".equals(source)' >source= #{source} and </if>
                <if test='status==null or "".equals(status)' >status!='006' and </if>
                <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='confirmUserId!=null' > confirm_user_id= #{confirmUserId} and </if>
                <if test='confirmUsername!=null and !"".equals(confirmUsername)' >confirm_username= #{confirmUsername} and </if>
                <if test='confirmTime!=null' > confirm_time= #{confirmTime} and </if>
            </trim>
        </where>
    </sql>

	<!--自定义SQL-->
    <sql id='sql_where1'>
        <where>
            <trim suffixOverrides='and'>
                <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} and </if>
                <if test='createUserId!=null' > create_user_id= #{createUserId} and </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='months!=null and !"".equals(months)' >months= #{months} and </if>
                <if test='depotId!=null' > depot_id= #{depotId} and </if>
                <if test='sourceTime!=null' > source_time= #{sourceTime} and </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='sourceCode!=null and !"".equals(sourceCode)' >source_code= #{sourceCode} and </if>
                <if test='createUsername!=null and !"".equals(createUsername)' >create_username= #{createUsername} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='model!=null and !"".equals(model)' >model= #{model} and </if>
                <if test='adjustmentTime!=null' > adjustment_time= #{adjustmentTime} and </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                <if test='source!=null and !"".equals(source)' >source= #{source} and </if>
                <if test='status==null or "".equals(status)' >status!='006' and </if>
                <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='sourceStartTime!=null and !"".equals(sourceStartTime)' >
                    date_format(source_time,'%Y-%m-%d %H:%i:%S') &gt;= #{sourceStartTime} and
                </if>
                <if test='sourceEndTime!=null and !"".equals(sourceEndTime)' >
                    date_format(source_time,'%Y-%m-%d %H:%i:%S') &lt;= #{sourceEndTime} and
                </if>
            </trim>
        </where>
    </sql>
	<!-- 关系映射 -->
    <resultMap id="AdjustmentInventoryModelMap2" type="AdjustmentInventoryDTO" >
                <result property="depotName" column="depot_name" />
                <result property="createUserId" column="create_user_id" />
                <result property="code" column="code" />
                <result property="months" column="months" />
                <result property="depotId" column="depot_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="sourceCode" column="source_code" />
                <result property="createUsername" column="create_username" />
                <result property="merchantId" column="merchant_id" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
                <result property="adjustmentTypeName" column="adjustment_type_name" />
                <result property="model" column="model" />
                <result property="id" column="id" />
                <result property="adjustmentTime" column="adjustment_time" />
                <result property="status" column="status" />
                <result property="sourceTime" column="source_time" />
                <result property="poNo" column="po_no" />
                
                <association property="itemList" column="id" select="getItem" />
    </resultMap>
    
    <resultMap id="AdjustmentInventoryItemModelMap" type="AdjustmentInventoryItemModel" >
                <result property="goodsNo" column="goods_no" />
                <result property="overdueDate" column="overdue_date" />
                <result property="isDamage" column="is_damage" />
                <result property="goodsId" column="goods_id" />
                <result property="oldBatchNo" column="old_batch_no" />
                <result property="type" column="type" />
                <result property="tAdjustmentInventoryId" column="t_adjustment_inventory_id" />
                <result property="productionDate" column="production_date" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
                <result property="id" column="id" />
                <result property="goodsCode" column="goods_code" />
                <result property="goodsName" column="goods_name" />
                <result property="barcode" column="barcode" />
                <result property="adjustTotal" column="adjust_total" />
                <result property="tallyingUnit" column="tallying_unit" />
                <result property="poNo" column="po_no" />
                <result property="settlementPrice" column="settlement_price" />
    </resultMap>
	
	<!-- 条件查询 -->
    <!-- <select id='getDetails' resultMap='AdjustmentInventoryModelMap2' parameterType='AdjustmentInventoryModel' >
        select <include refid='sql_columns' /> from s_adjustment_inventory  <include refid='sql_where' />
    </select> -->
    <select id='getDetails' resultMap='AdjustmentInventoryModelMap2' parameterType='AdjustmentInventoryDTO' >
        select <include refid='sql_columns' /> from s_adjustment_inventory  <include refid='sql_where' />
    </select> 
    
    <!-- 表头查询表体 -->
	<!-- <select id="getItem" resultMap="AdjustmentInventoryItemModelMap" parameterType="java.lang.Long">
		SELECT DISTINCT i.goods_no||i.old_batch_no AS goods_no_batch_no,
		       i.goods_no,i.goods_name,i.barcode,i.type,i.old_batch_no,i.is_damage,i.tallying_unit,s.adjust_total FROM (
		SELECT goods_no,old_batch_no,type,is_damage,SUM(adjust_total) AS adjust_total,tallying_unit FROM s_adjustment_inventory_item 
		WHERE t_adjustment_inventory_id = #{id}
		GROUP BY goods_no,old_batch_no,type,is_damage,tallying_unit
		) s
		LEFT JOIN (
		SELECT * FROM s_adjustment_inventory_item
		WHERE t_adjustment_inventory_id = #{id}
		) i ON s.goods_no=i.goods_no AND s.old_batch_no=i.old_batch_no AND s.type=i.type AND s.is_damage=i.is_damage AND s.tallying_unit=i.tallying_unit
	</select> -->
	<select id="getItem" resultType="AdjustmentInventoryItemDTO" parameterType="java.lang.Long">
		SELECT
		goods_no,
		overdue_date,
		is_damage,
		goods_id,
		old_batch_no,
		type,
		t_adjustment_inventory_id,
		production_date,
		create_date,
		modify_date,
		id,
		goods_code,
		goods_name,
		barcode,
		adjust_total,
		tallying_unit,
		po_no,
		settlement_price,
		bu_id,
		bu_name,
        stock_location_type_id,
        stock_location_type_name
		FROM
		s_adjustment_inventory_item
		WHERE t_adjustment_inventory_id = #{id}
		
	</select>

     <!-- 查询所有信息 分页 -->
    <select id='getListByPage' resultMap='AdjustmentInventoryModelMap' parameterType='AdjustmentInventoryModel'>
        select <include refid='sql_columns' /> from s_adjustment_inventory  <include refid='sql_where' />
        order by id desc
    </select>

    <!-- 查询所有信息 分页dto -->
    <select id='getDTOListByPage' resultType='AdjustmentInventoryDTO' parameterType='AdjustmentInventoryDTO'>
        select <include refid='sql_columns' /> from s_adjustment_inventory  <include refid='sql_where1' />
        order by id desc
    </select>

    <sql id='export_sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='code!=null and !"".equals(code)' >t.code= #{code} and </if>
                <if test='depotId!=null' > t.depot_id= #{depotId} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >t.merchant_name= #{merchantName} and </if>
                <if test='merchantId!=null' > t.merchant_id= #{merchantId} and </if>
                <if test='model!=null and !"".equals(model)' >t.model= #{model} and </if>
                <if test='status!=null and !"".equals(status)' >t.status= #{status} and </if>
                <if test='source!=null and !"".equals(source)' >t.source= #{source} and </if>
                <if test='status==null or "".equals(status)' >t.status!='006' and </if>
                <if test='sourceStartTime!=null and !"".equals(sourceStartTime)' >
                    date_format(t.source_time,'%Y-%m-%d %H:%i:%S') &gt;= #{sourceStartTime} and
                </if>
                <if test='sourceEndTime!=null and !"".equals(sourceEndTime)' >
                    date_format(t.source_time,'%Y-%m-%d %H:%i:%S') &lt;= #{sourceEndTime} and
                </if>
                <if test='ids!=null and !"".equals(ids)' >t.id in
                    <foreach collection="ids.split(',')" item='id' separator=',' open='(' close=')'>
                        #{id}
                    </foreach>
                    and
                </if>
            </trim>
        </where>
    </sql>

    <select id="listForExport" parameterType="AdjustmentInventoryDTO" resultType='map' >
        SELECT
            t.code,
            t.`status`,
            t.model,
            t.source_code,
            t.depot_name,
            t.adjustment_time,
            t.months,
            t.source_time,
            t.create_username,
            t.create_date,
            t.remark
        FROM
        s_adjustment_inventory t
        <include refid='export_sql_where' />
        order by t.id desc
    </select>

    <select id="listForExportItem" parameterType="AdjustmentInventoryDTO" resultType='map' >
        SELECT
            t.code,
            ti.bu_name,
            ti.po_no,
            ti.goods_no,
            ti.goods_name,
            ti.barcode,
            ti.type,
            ti.is_damage,
            ti.adjust_total,
            ti.old_batch_no,
            ti.production_date,
            ti.overdue_date,
            ti.settlement_price,
            ti.tallying_unit,
            ti.stock_location_type_name
        FROM s_adjustment_inventory t
        LEFT JOIN s_adjustment_inventory_item ti ON t.id = ti.t_adjustment_inventory_id
        <include refid='export_sql_where' />
        order by t.id desc
    </select>
</mapper>
