<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.BuInventoryMapper'>

        <!-- 关系映射 -->
        <resultMap id="BuInventoryModelMap" type="BuInventoryModel" >
                <result property="id" column="id" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="topidealCode" column="topideal_code" />
                <result property="depotId" column="depot_id" />
                <result property="depotName" column="depot_name" />
                <result property="depotCode" column="depot_code" />
                <result property="depotType" column="depot_type" />
                <result property="buId" column="bu_id" />
                <result property="buName" column="bu_name" />
                <result property="goodsId" column="goods_id" />
                <result property="goodsName" column="goods_name" />
                <result property="goodsNo" column="goods_no" />
                <result property="commbarcode" column="commbarcode" />
                <result property="barcode" column="barcode" />
                <result property="brandId" column="brand_id" />
                <result property="brandName" column="brand_name" />
                <result property="surplusNum" column="surplus_num" />
                <result property="wornNum" column="worn_num" />
                <result property="okNum" column="ok_num" />
                <result property="unit" column="unit" />
                <result property="month" column="month" />
                <result property="creater" column="creater" />
                <result property="createDate" column="create_date" />
                <result property="departmentId" column="department_id" />
                <result property="departmentName" column="department_name" />
                <result property="parentBrandId" column="parent_brand_id" />
                <result property="parentBrandName" column="parent_brand_name" />
                <result property="superiorParentBrand" column="superior_parent_brand" />
                <result property="modifyDate" column="modify_date" />
                <result property="superiorParentBrandId" column="superior_parent_brand_id" />
                <result property="departmentCode" column="department_code" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='BuInventoryModelMap' parameterType='BuInventoryModel'>
        select <include refid='sql_columns' /> from i_bu_inventory  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='BuInventoryModelMap' parameterType='BuInventoryModel'>
        select <include refid='sql_columns' /> from i_bu_inventory  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='BuInventoryModelMap' parameterType='BuInventoryModel' >
        select <include refid='sql_columns' /> from i_bu_inventory  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='BuInventoryModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO i_bu_inventory
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='topidealCode!=null and !"".equals(topidealCode)' > topideal_code , </if>
                        <if test='depotId!=null' >depot_id , </if>
                        <if test='depotName!=null and !"".equals(depotName)' > depot_name , </if>
                        <if test='depotCode!=null and !"".equals(depotCode)' > depot_code , </if>
                        <if test='depotType!=null and !"".equals(depotType)' > depot_type , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='goodsId!=null' >goods_id , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > goods_name , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' > goods_no , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > barcode , </if>
                        <if test='brandId!=null' >brand_id , </if>
                        <if test='brandName!=null and !"".equals(brandName)' > brand_name , </if>
                        <if test='surplusNum!=null' >surplus_num , </if>
                        <if test='wornNum!=null' >worn_num , </if>
                        <if test='okNum!=null' >ok_num , </if>
                        <if test='unit!=null and !"".equals(unit)' > unit , </if>
                        <if test='month!=null and !"".equals(month)' > month , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='departmentId!=null' >department_id , </if>
                        <if test='departmentName!=null and !"".equals(departmentName)' >department_name , </if>
                        <if test='parentBrandId!=null' >parent_brand_id , </if>
                        <if test='parentBrandName!=null and !"".equals(parentBrandName)' >parent_brand_name , </if>
                        <if test='superiorParentBrand!=null and !"".equals(superiorParentBrand)' >superior_parent_brand , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
                        <if test='superiorParentBrandId!=null' >superior_parent_brand_id  , </if>
                        <if test='departmentCode!=null and !"".equals(departmentCode)' > department_code , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='topidealCode!=null and !"".equals(topidealCode)' > #{topidealCode} , </if>
                        <if test='depotId!=null' > #{depotId} , </if>
                        <if test='depotName!=null and !"".equals(depotName)' > #{depotName} , </if>
                        <if test='depotCode!=null and !"".equals(depotCode)' > #{depotCode} , </if>
                        <if test='depotType!=null and !"".equals(depotType)' > #{depotType} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='goodsId!=null' > #{goodsId} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > #{goodsName} , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' > #{goodsNo} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > #{barcode} , </if>
                        <if test='brandId!=null' > #{brandId} , </if>
                        <if test='brandName!=null and !"".equals(brandName)' > #{brandName} , </if>
                        <if test='surplusNum!=null' > #{surplusNum} , </if>
                        <if test='wornNum!=null' > #{wornNum} , </if>
                        <if test='okNum!=null' > #{okNum} , </if>
                        <if test='unit!=null and !"".equals(unit)' > #{unit} , </if>
                        <if test='month!=null and !"".equals(month)' > #{month} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='departmentId!=null' > #{departmentId} , </if>
                        <if test='departmentName!=null and !"".equals(departmentName)' > #{departmentName} , </if>
                        <if test='parentBrandId!=null' > #{parentBrandId} , </if>
                        <if test='parentBrandName!=null and !"".equals(parentBrandName)' > #{parentBrandName} , </if>
                        <if test='superiorParentBrand!=null and !"".equals(superiorParentBrand)' > #{superiorParentBrand} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='superiorParentBrandId!=null' > #{superiorParentBrandId} , </if>
                        <if test='departmentCode!=null and !"".equals(departmentCode)' > #{departmentCode} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='BuInventoryModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  i_bu_inventory SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='topidealCode!=null and !"".equals(topidealCode)' >topideal_code= #{topidealCode} , </if>
                        <if test='depotId!=null' > depot_id= #{depotId} , </if>
                        <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} , </if>
                        <if test='depotCode!=null and !"".equals(depotCode)' >depot_code= #{depotCode} , </if>
                        <if test='depotType!=null and !"".equals(depotType)' >depot_type= #{depotType} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='goodsId!=null' > goods_id= #{goodsId} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} , </if>
                        <if test='brandId!=null' > brand_id= #{brandId} , </if>
                        <if test='brandName!=null and !"".equals(brandName)' >brand_name= #{brandName} , </if>
                        <if test='surplusNum!=null' > surplus_num= #{surplusNum} , </if>
                        <if test='wornNum!=null' > worn_num= #{wornNum} , </if>
                        <if test='okNum!=null' > ok_num= #{okNum} , </if>
                        <if test='unit!=null and !"".equals(unit)' >unit= #{unit} , </if>
                        <if test='month!=null and !"".equals(month)' >month= #{month} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='departmentId!=null' > department_id=#{departmentId} , </if>
                        <if test='departmentName!=null and !"".equals(departmentName)' > department_name=#{departmentName} , </if>
                        <if test='parentBrandId!=null' > parent_brand_id=#{parentBrandId} , </if>
                        <if test='parentBrandName!=null and !"".equals(parentBrandName)' > parent_brand_name=#{parentBrandName} , </if>
                        <if test='superiorParentBrand!=null and !"".equals(superiorParentBrand)' > superior_parent_brand=#{superiorParentBrand} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='superiorParentBrandId!=null' > superior_parent_brand_id= #{superiorParentBrandId} , </if>
                        <if test='departmentCode!=null and !"".equals(departmentCode)' >department_code= #{departmentCode} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from i_bu_inventory  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from i_bu_inventory where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            merchant_id,
            merchant_name,
            topideal_code,
            depot_id,
            depot_name,
            depot_code,
            depot_type,
            bu_id,
            bu_name,
            goods_id,
            goods_name,
            goods_no,
            commbarcode,
            barcode,
            brand_id,
            brand_name,
            surplus_num,
            worn_num,
            ok_num,
            unit,
            month,
            creater,
            create_date,
            department_id,
            department_name,
            parent_brand_id,
            parent_brand_name,
            superior_parent_brand,
            modify_date,
            superior_parent_brand_id,
            department_code
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='topidealCode!=null and !"".equals(topidealCode)' >topideal_code= #{topidealCode} and </if>
                            <if test='depotId!=null' > depot_id= #{depotId} and </if>
                            <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} and </if>
                            <if test='depotCode!=null and !"".equals(depotCode)' >depot_code= #{depotCode} and </if>
                            <if test='depotType!=null and !"".equals(depotType)' >depot_type= #{depotType} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='goodsId!=null' > goods_id= #{goodsId} and </if>
                            <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                            <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                            <if test='brandId!=null' > brand_id= #{brandId} and </if>
                            <if test='brandName!=null and !"".equals(brandName)' >brand_name= #{brandName} and </if>
                            <if test='surplusNum!=null' > surplus_num= #{surplusNum} and </if>
                            <if test='wornNum!=null' > worn_num= #{wornNum} and </if>
                            <if test='okNum!=null' > ok_num= #{okNum} and </if>
                            <if test='unit!=null and !"".equals(unit)' >unit= #{unit} and </if>
                            <if test='month!=null and !"".equals(month)' >month= #{month} and </if>
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='departmentId!=null' > department_id=#{departmentId} and </if>
                            <if test='departmentName!=null and !"".equals(departmentName)' > department_name=#{departmentName} and </if>
                            <if test='parentBrandId!=null' > parent_brand_id=#{parentBrandId} and </if>
                            <if test='parentBrandName!=null and !"".equals(parentBrandName)' > parent_brand_name=#{parentBrandName} and </if>
                            <if test='superiorParentBrand!=null and !"".equals(superiorParentBrand)' > superior_parent_brand=#{superiorParentBrand} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='superiorParentBrandId!=null' > superior_parent_brand_id= #{superiorParentBrandId} and </if>
                            <if test='departmentCode!=null and !"".equals(departmentCode)' >department_code= #{departmentCode} and </if>

                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
       <!--   获取的 按商家 仓库事业库存分组的统计量 -->
		<select id="getMonthBuInventory" resultType='map' parameterType='map'>
			SELECT merchant_id,depot_id,bu_id,goods_id,unit,SUM(surplus_num) as surplus_num,SUM(ok_num)as ok_num,SUM(worn_num) as worn_num
			from i_bu_inventory
			where month=#{month}
			<if test='merchantId!=null' >  and merchant_id= #{merchantId} </if>
			<if test='depotId!=null' > and depot_id= #{depotId}  </if>
			<if test='buId!=null' >  and bu_id= #{buId} </if>
			GROUP BY merchant_id,depot_id,bu_id,goods_id,unit
    	</select>
		<!--   获取的 按商家 仓库事业库存分组的统计量 -->
		<select id="getBeforeMonthBuInventory" resultType="java.lang.Integer" parameterType='map'>
			SELECT  COUNT(*)
			from i_bu_inventory
			where month &lt;#{month}
			and merchant_id= #{merchantId}
			and depot_id= #{depotId}
			and bu_id= #{buId}

    	</select>

    <!-- 获取事业部库存分页 -->
    <select id='getListBuInventoryByPage' resultType='BuInventoryDTO' parameterType='BuInventoryDTO'>
        select <include refid='sql_columns' /> from i_bu_inventory
        			where  (surplus_num !=0 or  ok_num!=0 or worn_num!=0)
         			  <if test='merchantId!=null' >and merchant_id= #{merchantId}  </if>
                      <if test='depotId!=null' > and depot_id= #{depotId}  </if>
                      <if test='buId!=null' > and bu_id= #{buId}  </if>
                      <if test='buList!=null and !"".equals(buList)' >and bu_id in
	                  	<foreach collection='buList' item='buId' separator=',' open='(' close=')'>
	                        #{buId}
	                   </foreach>
               		  </if>
                      <if test='buName!=null and !"".equals(buName)' >and bu_name= #{buName}  </if>
                      <if test='goodsId!=null' > and goods_id= #{goodsId}  </if>
                      <if test='goodsNo!=null and !"".equals(goodsNo)' >and goods_no like  concat('%',#{goodsNo},'%')  </if>
                      <if test='commbarcode!=null and !"".equals(commbarcode)' >and commbarcode= #{commbarcode}  </if>
                      <if test='barcode!=null and !"".equals(barcode)' >and barcode like  concat('%',#{barcode},'%')  </if>
                      <if test='goodsName!=null and !"".equals(goodsName)' >and goods_name like concat('%',#{goodsName},'%')   </if>
                      <if test='brandId!=null' > and brand_id= #{brandId}  </if>
                      <if test='brandName!=null and !"".equals(brandName)' >and brand_name= #{brandName}  </if>
                      <if test='unit!=null and !"".equals(unit)' >and unit= #{unit}  </if>
                      <if test='month!=null and !"".equals(month)' >and month= #{month}  </if>
                      <if test='creater!=null' > and creater= #{creater}  </if>
                      <if test='createDate!=null' >and create_date= #{createDate}  </if>
            ORDER BY id DESC
    </select>
<!-- 导出表头 -->
	<select id='exportBuInventory' resultType='map' parameterType='BuInventoryDTO'>
        select <include refid='sql_columns' /> from i_bu_inventory
              where  (surplus_num !=0 or  ok_num!=0 or worn_num!=0)
         			  <if test='merchantId!=null' >and merchant_id= #{merchantId}  </if>
                      <if test='depotId!=null' > and depot_id= #{depotId}  </if>
                      <if test='buId!=null' > and bu_id= #{buId}  </if>
                      <if test='buList!=null and !"".equals(buList)' >and bu_id in
	                  	<foreach collection='buList' item='buId' separator=',' open='(' close=')'>
	                        #{buId}
	                   </foreach>
               		  </if>
                      <if test='buName!=null and !"".equals(buName)' >and bu_name= #{buName}  </if>
                      <if test='goodsId!=null' > and goods_id= #{goodsId}  </if>
                      <if test='goodsNo!=null and !"".equals(goodsNo)' >and goods_no like  concat('%',#{goodsNo},'%')  </if>
                      <if test='commbarcode!=null and !"".equals(commbarcode)' >and commbarcode= #{commbarcode}  </if>
 					  <if test='barcode!=null and !"".equals(barcode)' >and barcode like  concat('%',#{barcode},'%')  </if>
                      <if test='goodsName!=null and !"".equals(goodsName)' >and goods_name like concat('%',#{goodsName},'%')   </if>
                      <if test='brandId!=null' > and brand_id= #{brandId}  </if>
                      <if test='brandName!=null and !"".equals(brandName)' >and brand_name= #{brandName}  </if>
                      <if test='unit!=null and !"".equals(unit)' >and unit= #{unit}  </if>
                      <if test='month!=null and !"".equals(month)' >and month= #{month}  </if>
                      <if test='creater!=null' > and creater= #{creater}  </if>
                      <if test='createDate!=null' >and create_date= #{createDate}  </if>
            ORDER BY id DESC
    </select>
	<!-- 导出表体 -->
	<select id='exportBuInventoryItem' resultType='map' parameterType='BuInventoryDTO'>
        SELECT
			t1.id,
            t1.merchant_id,
            t1.merchant_name,
            t1.topideal_code,
            t1.depot_id,
            t1.depot_name,
            t1.depot_code,
            t1.depot_type,
            t1.bu_id,
            t1.bu_name,
            t1.goods_id,
            t1.goods_name,
            t1.goods_no,
            t1.commbarcode,
            t1.barcode,
            t1.brand_id,
            t1.brand_name,
            t1.surplus_num,
            t1.worn_num,
            t1.ok_num,
            t1.unit,
            t1.month,
            t1.creater,
            t1.create_date,
            t1.department_id,
            t1.department_name,
            t1.parent_brand_id,
            t1.parent_brand_name,
            t1.superior_parent_brand,
            t1.modify_date,
						t2.num,
						t2.batch_no,
						t2.production_date,
						t2.overdue_date,
						t2.effective_interval,
						t2.type,
						t2.first_shelf_date
			from i_bu_inventory t1
			LEFT JOIN i_bu_inventory_item t2 ON t1.id=t2.bu_inventory_id
              where  (t1.surplus_num !=0 or  t1.ok_num!=0 or t1.worn_num!=0)
         			  <if test='merchantId!=null' >and t1.merchant_id= #{merchantId}  </if>
                      <if test='depotId!=null' > and t1.depot_id= #{depotId}  </if>
                      <if test='buId!=null' > and t1.bu_id= #{buId}  </if>
                      <if test='buList!=null and !"".equals(buList)' >and t1.bu_id in
	                  	<foreach collection='buList' item='buId' separator=',' open='(' close=')'>
	                        #{buId}
	                   </foreach>
               		  </if>
                      <if test='buName!=null and !"".equals(buName)' >and t1.bu_name= #{buName}  </if>
                      <if test='goodsId!=null' > and t1.goods_id= #{goodsId}  </if>
                      <if test='goodsNo!=null and !"".equals(goodsNo)' >and t1.goods_no like  concat('%',#{goodsNo},'%')  </if>
                      <if test='commbarcode!=null and !"".equals(commbarcode)' >and t1.commbarcode= #{commbarcode}  </if>
 					  <if test='barcode!=null and !"".equals(barcode)' >and t1.barcode like  concat('%',#{barcode},'%')  </if>
                      <if test='goodsName!=null and !"".equals(goodsName)' >and t1.goods_name like concat('%',#{goodsName},'%')   </if>
                      <if test='brandId!=null' > and t1.brand_id= #{brandId}  </if>
                      <if test='brandName!=null and !"".equals(brandName)' >and t1.brand_name= #{brandName}  </if>
                      <if test='unit!=null and !"".equals(unit)' >and t1.unit= #{unit}  </if>
                      <if test='month!=null and !"".equals(month)' >and t1.month= #{month}  </if>
                      <if test='creater!=null' > and t1.creater= #{creater}  </if>
                      <if test='createDate!=null' >and t1.create_date= #{createDate}  </if>
                      <if test='buList!=null and buList.size() > 0' > and t1.bu_id in
                          <foreach collection='buList' item='buId' separator=',' open='(' close=')'>
                             #{buId}
                          </foreach>
                      </if>
            ORDER BY id DESC
    </select>

    <!-- 获取要删除的事业部库存 -->
	<select id="getBuInventoryGruop" resultType='map' parameterType='map'>
		SELECT merchant_id,depot_id
		from i_bu_inventory
		where 1=1
		and month= #{month}
		<if test='merchantId!=null' >  and merchant_id= #{merchantId} </if>
		<if test='depotId!=null' > and depot_id= #{depotId}  </if>
		<if test='buId!=null' >  and bu_id= #{buId} </if>
		GROUP BY merchant_id,depot_id

    </select>

   <!--  删除  事业部库存数据 -->
    <delete id='delBuInventory' parameterType='map'>
        delete from i_bu_inventory
        where merchant_id= #{merchantId}
        and depot_id= #{depotId}
        and month= #{month}
    </delete>

    <select id="countByMonthAndMerchant" resultType="map" parameterType="BuInventoryDTO" >
        SELECT SUM(surplus_num) surplusNum, bu_id as buId, bu_name as buName
        from i_bu_inventory
        where  `month` = #{month}
        <if test='merchantId!=null' > and merchant_id= #{merchantId}  </if>
        <if test='buList!=null and buList.size() > 0' > and bu_id in
            <foreach collection='buList' item='buId' separator=',' open='(' close=')'>
                #{buId}
            </foreach>
        </if>
        GROUP BY bu_id, bu_name
        having SUM(surplus_num) > 0
        ORDER BY SUM(surplus_num) desc
    </select>

    <select id="countBuInventoryByBuId" resultType="map" parameterType="BuInventoryDTO" >
        select
        depot_id depotId, depot_name depotName, SUM(surplus_num)surplusNum
        from i_bu_inventory
        WHERE bu_id = #{buId}
        and `month` = #{month}
        <if test='merchantId!=null' > and merchant_id= #{merchantId}  </if>
        <if test='buList!=null and buList.size() > 0' > and bu_id in
            <foreach collection='buList' item='buId' separator=',' open='(' close=')'>
                #{buId}
            </foreach>
        </if>
        GROUP BY depot_id, depot_name
        HAVING SUM(surplus_num) >0
    </select>

    <select id="countBuInventoryByDepotId" resultType="map" parameterType="BuInventoryDTO" >
        select
        depot_id depotId, depot_name depotName, SUM(surplus_num)surplusNum
        from i_bu_inventory
        WHERE `month` = #{month}
        <if test='merchantId!=null' > and merchant_id= #{merchantId}  </if>
        <if test='buList!=null and buList.size() > 0' > and bu_id in
            <foreach collection='buList' item='buId' separator=',' open='(' close=')'>
                #{buId}
            </foreach>
        </if>
        GROUP BY depot_id, depot_name
        HAVING SUM(surplus_num) >0
    </select>
</mapper>
