<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.InventoryAddSubOrderMapper'>

    <!-- 关系映射 -->
    <resultMap id="InventoryAddSubOrderModelMap" type="InventoryAddSubOrderModel" >
                <result property="businessNo" column="business_no" />
                <result property="orderNo" column="order_no" />
                <result property="sourceType" column="source_type" />
                <result property="id" column="id" />
                <result property="createDate" column="create_date" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='InventoryAddSubOrderModelMap' parameterType='InventoryAddSubOrderModel'>
        select <include refid='sql_columns' /> from i_inventory_add_sub_order  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='InventoryAddSubOrderModelMap' parameterType='InventoryAddSubOrderModel'>
        select <include refid='sql_columns' /> from i_inventory_add_sub_order  <include refid='sql_where' /> order by id desc
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='InventoryAddSubOrderModelMap' parameterType='InventoryAddSubOrderModel' >
        select <include refid='sql_columns' /> from i_inventory_add_sub_order  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='InventoryAddSubOrderModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO i_inventory_add_sub_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='businessNo!=null and !"".equals(businessNo)' > business_no , </if>
                <if test='orderNo!=null and !"".equals(orderNo)' > order_no , </if>
                <if test='sourceType!=null and !"".equals(sourceType)' > source_type , </if>
                <if test='id!=null' > id , </if>
                <if test='createDate!=null' > create_date , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='businessNo!=null and !"".equals(businessNo)' > #{businessNo} , </if>
                <if test='orderNo!=null and !"".equals(orderNo)' > #{orderNo} , </if>
                <if test='sourceType!=null and !"".equals(sourceType)' > #{sourceType} , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='InventoryAddSubOrderModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  i_inventory_add_sub_order SET
        <trim  suffixOverrides=",">
                <if test='businessNo!=null and !"".equals(businessNo)' >business_no= #{businessNo} , </if>
                <if test='orderNo!=null and !"".equals(orderNo)' >order_no= #{orderNo} , </if>
                <if test='sourceType!=null and !"".equals(sourceType)' >source_type= #{sourceType} , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from i_inventory_add_sub_order  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from i_inventory_add_sub_order where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        business_no,
        order_no,
        source_type,
        id,
        create_date
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='businessNo!=null and !"".equals(businessNo)' >business_no= #{businessNo} and </if>
                <if test='orderNo!=null and !"".equals(orderNo)' >order_no= #{orderNo} and </if>
                <if test='sourceType!=null and !"".equals(sourceType)' >source_type= #{sourceType} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
            </trim>
        </where>
    </sql>

<!--自定义SQL-->




</mapper>
