<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.bill.AdvancePaymentBillMapper'>

        <!-- 关系映射 -->
        <resultMap id="AdvancePaymentBillModelMap" type="AdvancePaymentBillModel" >
                <result property="id" column="id" />
                <result property="code" column="code" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="supplierId" column="supplier_id" />
                <result property="supplierName" column="supplier_name" />
                <result property="bankAccount" column="bank_account" />
                <result property="beneficiaryName" column="beneficiary_name" />
                <result property="depositBank" column="deposit_bank" />
                <result property="swiftCode" column="swift_code" />
                <result property="bankAddress" column="bank_address" />
                <result property="buId" column="bu_id" />
                <result property="buName" column="bu_name" />
                <result property="currency" column="currency" />
                <result property="billDate" column="bill_date" />
                <result property="expectedPaymentDate" column="expected_payment_date" />
                <result property="paymentReason" column="payment_reason" />
                <result property="purchaseAmount" column="purchase_amount" />
                <result property="prepaymentAmount" column="prepayment_amount" />
                <result property="paymentAmount" column="payment_amount" />
                <result property="verificationAmount" column="verification_amount" />
                <result property="billStatus" column="bill_status" />
                <result property="auditMethod" column="audit_method" />
                <result property="createrId" column="creater_id" />
                <result property="creater" column="creater" />
                <result property="createDate" column="create_date" />
                <result property="modifierId" column="modifier_id" />
                <result property="modifier" column="modifier" />
                <result property="modifyDate" column="modify_date" />
                <result property="ncSynDate" column="nc_syn_date" />
                <result property="ncSynStatus" column="nc_syn_status" />
                <result property="ncCode" column="nc_code" />
                <result property="voucherCode" column="voucher_code" />
                <result property="voucherName" column="voucher_name" />
                <result property="voucherIndex" column="voucher_index" />
                <result property="voucherStatus" column="voucher_status" />
                <result property="period" column="period" />
                <result property="synchronizerId" column="synchronizer_id" />
                <result property="synchronizer" column="synchronizer" />
                <result property="requestId" column="request_id" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='AdvancePaymentBillModelMap' parameterType='AdvancePaymentBillModel'>
        select <include refid='sql_columns' /> from t_advance_payment_bill  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='AdvancePaymentBillModelMap' parameterType='AdvancePaymentBillModel'>
        select <include refid='sql_columns' /> from t_advance_payment_bill  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='AdvancePaymentBillModelMap' parameterType='AdvancePaymentBillModel' >
        select <include refid='sql_columns' /> from t_advance_payment_bill  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='AdvancePaymentBillModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_advance_payment_bill
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='code!=null and !"".equals(code)' > code , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='supplierId!=null' >supplier_id , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' > supplier_name , </if>
                        <if test='bankAccount!=null and !"".equals(bankAccount)' > bank_account , </if>
                        <if test='beneficiaryName!=null and !"".equals(beneficiaryName)' > beneficiary_name , </if>
                        <if test='depositBank!=null and !"".equals(depositBank)' > deposit_bank , </if>
                        <if test='swiftCode!=null and !"".equals(swiftCode)' > swift_code , </if>
                        <if test='bankAddress!=null and !"".equals(bankAddress)' > bank_address , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='currency!=null and !"".equals(currency)' > currency , </if>
                        <if test='billDate!=null' >bill_date , </if>
                        <if test='expectedPaymentDate!=null' >expected_payment_date , </if>
                        <if test='paymentReason!=null and !"".equals(paymentReason)' > payment_reason , </if>
                        <if test='purchaseAmount!=null' >purchase_amount , </if>
                        <if test='prepaymentAmount!=null' >prepayment_amount , </if>
                        <if test='paymentAmount!=null' >payment_amount , </if>
                        <if test='verificationAmount!=null' >verification_amount , </if>
                        <if test='billStatus!=null and !"".equals(billStatus)' > bill_status , </if>
                        <if test='auditMethod!=null and !"".equals(auditMethod)' > audit_method , </if>
                        <if test='createrId!=null' >creater_id , </if>
                        <if test='creater!=null and !"".equals(creater)' > creater , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifierId!=null' >modifier_id , </if>
                        <if test='modifier!=null and !"".equals(modifier)' > modifier , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
                        <if test='ncSynDate!=null' >nc_syn_date , </if>
                        <if test='ncSynStatus!=null and !"".equals(ncSynStatus)' > nc_syn_status , </if>
                        <if test='ncCode!=null and !"".equals(ncCode)' > nc_code , </if>
                        <if test='voucherCode!=null and !"".equals(voucherCode)' > voucher_code , </if>
                        <if test='voucherName!=null and !"".equals(voucherName)' > voucher_name , </if>
                        <if test='voucherIndex!=null and !"".equals(voucherIndex)' > voucher_index , </if>
                        <if test='voucherStatus!=null and !"".equals(voucherStatus)' > voucher_status , </if>
                        <if test='period!=null and !"".equals(period)' > period , </if>
                        <if test='synchronizerId!=null' >synchronizer_id , </if>
                        <if test='synchronizer!=null and !"".equals(synchronizer)' > synchronizer , </if>
                        <if test='requestId!=null and !"".equals(requestId)' > request_id , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='code!=null and !"".equals(code)' > #{code} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='supplierId!=null' > #{supplierId} , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' > #{supplierName} , </if>
                        <if test='bankAccount!=null and !"".equals(bankAccount)' > #{bankAccount} , </if>
                        <if test='beneficiaryName!=null and !"".equals(beneficiaryName)' > #{beneficiaryName} , </if>
                        <if test='depositBank!=null and !"".equals(depositBank)' > #{depositBank} , </if>
                        <if test='swiftCode!=null and !"".equals(swiftCode)' > #{swiftCode} , </if>
                        <if test='bankAddress!=null and !"".equals(bankAddress)' > #{bankAddress} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
                        <if test='billDate!=null' > #{billDate} , </if>
                        <if test='expectedPaymentDate!=null' > #{expectedPaymentDate} , </if>
                        <if test='paymentReason!=null and !"".equals(paymentReason)' > #{paymentReason} , </if>
                        <if test='purchaseAmount!=null' > #{purchaseAmount} , </if>
                        <if test='prepaymentAmount!=null' > #{prepaymentAmount} , </if>
                        <if test='paymentAmount!=null' > #{paymentAmount} , </if>
                        <if test='verificationAmount!=null' > #{verificationAmount} , </if>
                        <if test='billStatus!=null and !"".equals(billStatus)' > #{billStatus} , </if>
                        <if test='auditMethod!=null and !"".equals(auditMethod)' > #{auditMethod} , </if>
                        <if test='createrId!=null' > #{createrId} , </if>
                        <if test='creater!=null and !"".equals(creater)' > #{creater} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifierId!=null' > #{modifierId} , </if>
                        <if test='modifier!=null and !"".equals(modifier)' > #{modifier} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='ncSynDate!=null' > #{ncSynDate} , </if>
                        <if test='ncSynStatus!=null and !"".equals(ncSynStatus)' > #{ncSynStatus} , </if>
                        <if test='ncCode!=null and !"".equals(ncCode)' > #{ncCode} , </if>
                        <if test='voucherCode!=null and !"".equals(voucherCode)' > #{voucherCode} , </if>
                        <if test='voucherName!=null and !"".equals(voucherName)' > #{voucherName} , </if>
                        <if test='voucherIndex!=null and !"".equals(voucherIndex)' > #{voucherIndex} , </if>
                        <if test='voucherStatus!=null and !"".equals(voucherStatus)' > #{voucherStatus} , </if>
                        <if test='period!=null and !"".equals(period)' > #{period} , </if>
                        <if test='synchronizerId!=null' > #{synchronizerId} , </if>
                        <if test='synchronizer!=null and !"".equals(synchronizer)' > #{synchronizer} , </if>
                        <if test='requestId!=null and !"".equals(requestId)' > #{requestId} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='AdvancePaymentBillModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_advance_payment_bill SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='supplierId!=null' > supplier_id= #{supplierId} , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' >supplier_name= #{supplierName} , </if>
                        <if test='bankAccount!=null and !"".equals(bankAccount)' >bank_account= #{bankAccount} , </if>
                        <if test='beneficiaryName!=null and !"".equals(beneficiaryName)' >beneficiary_name= #{beneficiaryName} , </if>
                        <if test='depositBank!=null and !"".equals(depositBank)' >deposit_bank= #{depositBank} , </if>
                        <if test='swiftCode!=null and !"".equals(swiftCode)' >swift_code= #{swiftCode} , </if>
                        <if test='bankAddress!=null and !"".equals(bankAddress)' >bank_address= #{bankAddress} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
                        <if test='billDate!=null' > bill_date= #{billDate} , </if>
                        <if test='expectedPaymentDate!=null' > expected_payment_date= #{expectedPaymentDate} , </if>
                        <if test='paymentReason!=null and !"".equals(paymentReason)' >payment_reason= #{paymentReason} , </if>
                        <if test='purchaseAmount!=null' > purchase_amount= #{purchaseAmount} , </if>
                        <if test='prepaymentAmount!=null' > prepayment_amount= #{prepaymentAmount} , </if>
                        <if test='paymentAmount!=null' > payment_amount= #{paymentAmount} , </if>
                        <if test='verificationAmount!=null' > verification_amount= #{verificationAmount} , </if>
                        <if test='billStatus!=null and !"".equals(billStatus)' >bill_status= #{billStatus} , </if>
                        <if test='auditMethod!=null and !"".equals(auditMethod)' >audit_method= #{auditMethod} , </if>
                        <if test='createrId!=null' > creater_id= #{createrId} , </if>
                        <if test='creater!=null and !"".equals(creater)' >creater= #{creater} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifierId!=null' > modifier_id= #{modifierId} , </if>
                        <if test='modifier!=null and !"".equals(modifier)' >modifier= #{modifier} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='ncSynDate!=null' > nc_syn_date= #{ncSynDate} , </if>
                        <if test='ncSynStatus!=null and !"".equals(ncSynStatus)' >nc_syn_status= #{ncSynStatus} , </if>
                        <if test='ncCode!=null and !"".equals(ncCode)' >nc_code= #{ncCode} , </if>
                        <if test='voucherCode!=null and !"".equals(voucherCode)' >voucher_code= #{voucherCode} , </if>
                        <if test='voucherName!=null and !"".equals(voucherName)' >voucher_name= #{voucherName} , </if>
                        <if test='voucherIndex!=null and !"".equals(voucherIndex)' >voucher_index= #{voucherIndex} , </if>
                        <if test='voucherStatus!=null and !"".equals(voucherStatus)' >voucher_status= #{voucherStatus} , </if>
                        <if test='period!=null and !"".equals(period)' >period= #{period} , </if>
                        <if test='synchronizerId!=null' > synchronizer_id= #{synchronizerId} , </if>
                        <if test='synchronizer!=null and !"".equals(synchronizer)' >synchronizer= #{synchronizer} , </if>
                        <if test='requestId!=null and !"".equals(requestId)' >request_id= #{requestId} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_advance_payment_bill  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_advance_payment_bill where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            code,
            merchant_id,
            merchant_name,
            supplier_id,
            supplier_name,
            bank_account,
            beneficiary_name,
            deposit_bank,
            swift_code,
            bank_address,
            bu_id,
            bu_name,
            currency,
            bill_date,
            expected_payment_date,
            payment_reason,
            purchase_amount,
            prepayment_amount,
            payment_amount,
            verification_amount,
            bill_status,
            audit_method,
            creater_id,
            creater,
            create_date,
            modifier_id,
            modifier,
            modify_date,
            nc_syn_date,
            nc_syn_status,
            nc_code,
            voucher_code,
            voucher_name,
            voucher_index,
            voucher_status,
            period,
            synchronizer_id,
            synchronizer,
            request_id
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='supplierId!=null' > supplier_id= #{supplierId} and </if>
                            <if test='supplierName!=null and !"".equals(supplierName)' >supplier_name= #{supplierName} and </if>
                            <if test='bankAccount!=null and !"".equals(bankAccount)' >bank_account= #{bankAccount} and </if>
                            <if test='beneficiaryName!=null and !"".equals(beneficiaryName)' >beneficiary_name= #{beneficiaryName} and </if>
                            <if test='depositBank!=null and !"".equals(depositBank)' >deposit_bank= #{depositBank} and </if>
                            <if test='swiftCode!=null and !"".equals(swiftCode)' >swift_code= #{swiftCode} and </if>
                            <if test='bankAddress!=null and !"".equals(bankAddress)' >bank_address= #{bankAddress} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                            <if test='billDate!=null' > bill_date= #{billDate} and </if>
                            <if test='expectedPaymentDate!=null' > expected_payment_date= #{expectedPaymentDate} and </if>
                            <if test='paymentReason!=null and !"".equals(paymentReason)' >payment_reason= #{paymentReason} and </if>
                            <if test='purchaseAmount!=null' > purchase_amount= #{purchaseAmount} and </if>
                            <if test='prepaymentAmount!=null' > prepayment_amount= #{prepaymentAmount} and </if>
                            <if test='paymentAmount!=null' > payment_amount= #{paymentAmount} and </if>
                            <if test='verificationAmount!=null' > verification_amount= #{verificationAmount} and </if>
                            <if test='billStatus!=null and !"".equals(billStatus)' >bill_status= #{billStatus} and </if>
                            <if test='auditMethod!=null and !"".equals(auditMethod)' >audit_method= #{auditMethod} and </if>
                            <if test='createrId!=null' > creater_id= #{createrId} and </if>
                            <if test='creater!=null and !"".equals(creater)' >creater= #{creater} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifierId!=null' > modifier_id= #{modifierId} and </if>
                            <if test='modifier!=null and !"".equals(modifier)' >modifier= #{modifier} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='ncSynDate!=null' > nc_syn_date= #{ncSynDate} and </if>
                            <if test='ncSynStatus!=null and !"".equals(ncSynStatus)' >nc_syn_status= #{ncSynStatus} and </if>
                            <if test='ncCode!=null and !"".equals(ncCode)' >nc_code= #{ncCode} and </if>
                            <if test='voucherCode!=null and !"".equals(voucherCode)' >voucher_code= #{voucherCode} and </if>
                            <if test='voucherName!=null and !"".equals(voucherName)' >voucher_name= #{voucherName} and </if>
                            <if test='voucherIndex!=null and !"".equals(voucherIndex)' >voucher_index= #{voucherIndex} and </if>
                            <if test='voucherStatus!=null and !"".equals(voucherStatus)' >voucher_status= #{voucherStatus} and </if>
                            <if test='period!=null and !"".equals(period)' >period= #{period} and </if>
                            <if test='synchronizerId!=null' > synchronizer_id= #{synchronizerId} and </if>
                            <if test='synchronizer!=null and !"".equals(synchronizer)' >synchronizer= #{synchronizer} and </if>
                            <if test='requestId!=null and !"".equals(requestId)' >request_id= #{requestId} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
    <select id='getListByPage' resultType='AdvancePaymentBillDTO' parameterType='AdvancePaymentBillDTO'>
        select <include refid='sql_columns' /> from t_advance_payment_bill
        <where>
            <trim suffixOverrides='and'>
                <if test='id!=null' > id= #{id} and </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='supplierId!=null' > supplier_id= #{supplierId} and </if>
                <if test='supplierName!=null and !"".equals(supplierName)' >supplier_name= #{supplierName} and </if>
                <if test='bankAccount!=null and !"".equals(bankAccount)' >bank_account= #{bankAccount} and </if>
                <if test='beneficiaryName!=null and !"".equals(beneficiaryName)' >beneficiary_name= #{beneficiaryName} and </if>
                <if test='depositBank!=null and !"".equals(depositBank)' >deposit_bank= #{depositBank} and </if>
                <if test='swiftCode!=null and !"".equals(swiftCode)' >swift_code= #{swiftCode} and </if>
                <if test='bankAddress!=null and !"".equals(bankAddress)' >bank_address= #{bankAddress} and </if>
                <if test='buId!=null' > bu_id= #{buId} and </if>
                <if test='buIds!=null' >bu_id in
                    <foreach collection="buIds" item="buId" separator="," open="(" close=")">
                        #{buId}
                    </foreach>
                    and
                </if>
                <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                <if test='billDate!=null' > bill_date= #{billDate} and </if>
                <if test='expectedPaymentDate!=null' > expected_payment_date= #{expectedPaymentDate} and </if>
                <if test='expectedPaymentDateStart!=null and !"".equals(expectedPaymentDateStart)' > expected_payment_date &gt;= #{expectedPaymentDateStart} and </if>
                <if test='expectedPaymentDateEnd!=null and !"".equals(expectedPaymentDateEnd)' > expected_payment_date &lt;= #{expectedPaymentDateEnd} and </if>
                <if test='paymentReason!=null and !"".equals(paymentReason)' >payment_reason= #{paymentReason} and </if>
                <if test='purchaseAmount!=null' > purchase_amount= #{purchaseAmount} and </if>
                <if test='prepaymentAmount!=null' > prepayment_amount= #{prepaymentAmount} and </if>
                <if test='paymentAmount!=null' > payment_amount= #{paymentAmount} and </if>
                <if test='verificationAmount!=null' > verification_amount= #{verificationAmount} and </if>
                <choose>
                	<when test='billStatus!=null and !"".equals(billStatus)'>
                		bill_status= #{billStatus} and
                	</when>
                	<otherwise>
                		bill_status != '006' and
                	</otherwise>
                </choose>
                <if test='auditMethod!=null and !"".equals(auditMethod)' >audit_method= #{auditMethod} and </if>
                <if test='creater!=null and !"".equals(creater)' >creater= #{creater} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='ncSynDate!=null' > nc_syn_date= #{ncSynDate} and </if>
                <if test='ncSynStatus!=null and !"".equals(ncSynStatus)' >nc_syn_status= #{ncSynStatus} and </if>
                <if test='ncCode!=null and !"".equals(ncCode)' >nc_code= #{ncCode} and </if>
                <if test='voucherCode!=null and !"".equals(voucherCode)' >voucher_code= #{voucherCode} and </if>
                <if test='voucherName!=null and !"".equals(voucherName)' >voucher_name= #{voucherName} and </if>
                <if test='voucherIndex!=null and !"".equals(voucherIndex)' >voucher_index= #{voucherIndex} and </if>
                <if test='voucherStatus!=null and !"".equals(voucherStatus)' >voucher_status= #{voucherStatus} and </if>
                <if test='period!=null and !"".equals(period)' >period= #{period} and </if>
                <if test='synchronizerId!=null' > synchronizer_id= #{synchronizerId} and </if>
                <if test='synchronizer!=null and !"".equals(synchronizer)' >synchronizer= #{synchronizer} and </if>
            </trim>
        </where>
        order by id desc
    </select>

	<select id='getExportExcel' resultType='AdvancePaymentBillExportDTO' parameterType='AdvancePaymentBillExportDTO'>
        select <include refid='sql_columns' /> from t_advance_payment_bill
        <where>
            <trim suffixOverrides='and'>
            	<choose>
            		<when test='ids!=null and !"".equals(ids)'>
            			id in 
            			<foreach collection="ids.split(',')" item="id" open="(" close=")" separator=",">
            				#{id}
            			</foreach>
            		</when>
            		<otherwise>
            			<if test='id!=null' > id= #{id} and </if>
		                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
		                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
		                <if test='supplierId!=null' > supplier_id= #{supplierId} and </if>
		                <if test='buId!=null' > bu_id= #{buId} and </if>
		                <if test='buIds!=null' >bu_id in
		                    <foreach collection="buIds" item="buId" separator="," open="(" close=")">
		                        #{buId}
		                    </foreach>
		                    and
		                </if>
		                <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
		                <if test='expectedPaymentDateStart!=null and !"".equals(expectedPaymentDateStart)' > expected_payment_date &gt;= #{expectedPaymentDateStart} and </if>
		                <if test='expectedPaymentDateEnd!=null and !"".equals(expectedPaymentDateEnd)' > expected_payment_date &lt;= #{expectedPaymentDateEnd} and </if>
		                <choose>
		                	<when test='billStatus!=null and !"".equals(billStatus)'>
		                		bill_status= #{billStatus} and
		                	</when>
		                	<otherwise>
		                		bill_status != '006' and
		                	</otherwise>
		                </choose>
            		</otherwise>
            	</choose>
            </trim>
        </where>
        order by id desc
    </select>

</mapper>