<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.bill.ReceiveExternalCodeMapper'>

        <!-- 关系映射 -->
        <resultMap id="ReceiveExternalCodeModelMap" type="ReceiveExternalCodeModel" >
                <result property="id" column="id" />
                <result property="externalCode" column="external_code" />
                <result property="buId" column="bu_id" />
                <result property="currency" column="currency" />
                <result property="orderType" column="order_type" />
                <result property="createDate" column="create_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='ReceiveExternalCodeModelMap' parameterType='ReceiveExternalCodeModel'>
        select <include refid='sql_columns' /> from t_receive_external_code  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='ReceiveExternalCodeModelMap' parameterType='ReceiveExternalCodeModel'>
        select <include refid='sql_columns' /> from t_receive_external_code  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='ReceiveExternalCodeModelMap' parameterType='ReceiveExternalCodeModel' >
        select <include refid='sql_columns' /> from t_receive_external_code  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='ReceiveExternalCodeModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_receive_external_code
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='externalCode!=null and !"".equals(externalCode)' > external_code , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='currency!=null and !"".equals(currency)' > currency , </if>
                        <if test='orderType!=null and !"".equals(orderType)' > order_type , </if>
                        <if test='createDate!=null' >create_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='externalCode!=null and !"".equals(externalCode)' > #{externalCode} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
                        <if test='orderType!=null and !"".equals(orderType)' > #{orderType} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='ReceiveExternalCodeModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_receive_external_code SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='externalCode!=null and !"".equals(externalCode)' >external_code= #{externalCode} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
                        <if test='orderType!=null and !"".equals(orderType)' >order_type= #{orderType} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_receive_external_code  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_receive_external_code where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            external_code,
            bu_id,
            currency,
            order_type,
            create_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='externalCode!=null and !"".equals(externalCode)' >external_code= #{externalCode} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                            <if test='orderType!=null and !"".equals(orderType)' >order_type= #{orderType} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->




</mapper>