<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.bill.TocTemporaryCostBillMapper'>

    <!-- 关系映射 -->
    <resultMap id="TocTemporaryCostBillModelMap" type="TocTemporaryCostBillModel" >
            <result property="id" column="id" />
            <result property="shopTypeCode" column="shop_type_code" />
            <result property="month" column="month" />
            <result property="merchantId" column="merchant_id" />
            <result property="merchantName" column="merchant_name" />
            <result property="customerId" column="customer_id" />
            <result property="customerName" column="customer_name" />
            <result property="shopCode" column="shop_code" />
            <result property="shopName" column="shop_name" />
            <result property="storePlatformCode" column="store_platform_code" />
            <result property="buId" column="bu_id" />
            <result property="buName" column="bu_name" />
            <result property="settlementEndMonth" column="settlement_end_month" />
            <result property="settlementStatus" column="settlement_status" />
            <result property="totalReceiveAmount" column="total_receive_amount" />
            <result property="totalReceiveNum" column="total_receive_num" />
            <result property="alreadyReceiveAmount" column="already_receive_amount" />
            <result property="alreadyReceiveNum" column="already_receive_num" />
            <result property="createDate" column="create_date" />
            <result property="modifyDate" column="modify_date" />
            <result property="adjustmentRmbAmount" column="adjustment_rmb_amount" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='TocTemporaryCostBillModelMap' parameterType='TocTemporaryCostBillModel'>
        select <include refid='sql_columns' /> from t_toc_temporary_cost_bill  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='TocTemporaryCostBillModelMap' parameterType='TocTemporaryCostBillModel'>
        select <include refid='sql_columns' /> from t_toc_temporary_cost_bill  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='TocTemporaryCostBillModelMap' parameterType='TocTemporaryCostBillModel' >
        select <include refid='sql_columns' /> from t_toc_temporary_cost_bill  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='TocTemporaryCostBillModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_toc_temporary_cost_bill
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id  , </if>
                        <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' > shop_type_code , </if>
                        <if test='month!=null and !"".equals(month)' > month , </if>
                        <if test='merchantId!=null' >merchant_id  , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='customerId!=null' >customer_id  , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                        <if test='shopCode!=null and !"".equals(shopCode)' > shop_code , </if>
                        <if test='shopName!=null and !"".equals(shopName)' > shop_name , </if>
                        <if test='storePlatformCode!=null and !"".equals(storePlatformCode)' > store_platform_code , </if>
                        <if test='buId!=null' >bu_id  , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='settlementEndMonth!=null and !"".equals(settlementEndMonth)' > settlement_end_month , </if>
                        <if test='settlementStatus!=null and !"".equals(settlementStatus)' > settlement_status , </if>
                        <if test='totalReceiveAmount!=null' >total_receive_amount  , </if>
                        <if test='totalReceiveNum!=null' >total_receive_num  , </if>
                        <if test='alreadyReceiveAmount!=null' >already_receive_amount  , </if>
                        <if test='alreadyReceiveNum!=null' >already_receive_num  , </if>
                        <if test='createDate!=null' >create_date  , </if>
                        <if test='modifyDate!=null' >modify_date  , </if>
                        <if test='adjustmentRmbAmount!=null' >adjustment_rmb_amount  , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' > #{shopTypeCode} , </if>
                        <if test='month!=null and !"".equals(month)' > #{month} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='customerId!=null' > #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                        <if test='shopCode!=null and !"".equals(shopCode)' > #{shopCode} , </if>
                        <if test='shopName!=null and !"".equals(shopName)' > #{shopName} , </if>
                        <if test='storePlatformCode!=null and !"".equals(storePlatformCode)' > #{storePlatformCode} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='settlementEndMonth!=null and !"".equals(settlementEndMonth)' > #{settlementEndMonth} , </if>
                        <if test='settlementStatus!=null and !"".equals(settlementStatus)' > #{settlementStatus} , </if>
                        <if test='totalReceiveAmount!=null' > #{totalReceiveAmount} , </if>
                        <if test='totalReceiveNum!=null' > #{totalReceiveNum} , </if>
                        <if test='alreadyReceiveAmount!=null' > #{alreadyReceiveAmount} , </if>
                        <if test='alreadyReceiveNum!=null' > #{alreadyReceiveNum} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='adjustmentRmbAmount!=null' > #{adjustmentRmbAmount} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='TocTemporaryCostBillModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_toc_temporary_cost_bill SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' >shop_type_code= #{shopTypeCode} , </if>
                        <if test='month!=null and !"".equals(month)' >month= #{month} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='customerId!=null' > customer_id= #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                        <if test='shopCode!=null and !"".equals(shopCode)' >shop_code= #{shopCode} , </if>
                        <if test='shopName!=null and !"".equals(shopName)' >shop_name= #{shopName} , </if>
                        <if test='storePlatformCode!=null and !"".equals(storePlatformCode)' >store_platform_code= #{storePlatformCode} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        settlement_end_month= #{settlementEndMonth} ,
                        <if test='settlementStatus!=null and !"".equals(settlementStatus)' >settlement_status= #{settlementStatus} , </if>
                        <if test='totalReceiveAmount!=null' > total_receive_amount= #{totalReceiveAmount} , </if>
                        <if test='totalReceiveNum!=null' > total_receive_num= #{totalReceiveNum} , </if>
                        <if test='alreadyReceiveAmount!=null' > already_receive_amount= #{alreadyReceiveAmount} , </if>
                        <if test='alreadyReceiveNum!=null' > already_receive_num= #{alreadyReceiveNum} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='adjustmentRmbAmount!=null' > adjustment_rmb_amount= #{adjustmentRmbAmount} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_toc_temporary_cost_bill  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_toc_temporary_cost_bill where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>


        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            shop_type_code,
            month,
            merchant_id,
            merchant_name,
            customer_id,
            customer_name,
            shop_code,
            shop_name,
            store_platform_code,
            bu_id,
            bu_name,
            settlement_end_month,
            settlement_status,
            total_receive_amount,
            total_receive_num,
            already_receive_amount,
            already_receive_num,
            create_date,
            modify_date,
            adjustment_rmb_amount
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' >shop_type_code= #{shopTypeCode} and </if>
                            <if test='month!=null and !"".equals(month)' >month= #{month} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='shopCode!=null and !"".equals(shopCode)' >shop_code= #{shopCode} and </if>
                            <if test='shopName!=null and !"".equals(shopName)' >shop_name= #{shopName} and </if>
                            <if test='storePlatformCode!=null and !"".equals(storePlatformCode)' >store_platform_code= #{storePlatformCode} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='settlementEndMonth!=null and !"".equals(settlementEndMonth)' >settlement_end_month= #{settlementEndMonth} and </if>
                            <if test='settlementStatus!=null and !"".equals(settlementStatus)' >settlement_status= #{settlementStatus} and </if>
                            <if test='totalReceiveAmount!=null' > total_receive_amount= #{totalReceiveAmount} and </if>
                            <if test='totalReceiveNum!=null' > total_receive_num= #{totalReceiveNum} and </if>
                            <if test='alreadyReceiveAmount!=null' > already_receive_amount= #{alreadyReceiveAmount} and </if>
                            <if test='alreadyReceiveNum!=null' > already_receive_num= #{alreadyReceiveNum} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='adjustmentRmbAmount!=null' > adjustment_rmb_amount= #{adjustmentRmbAmount} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
        <sql id='dto_sql_where'>
            <where>
                <trim suffixOverrides='and'>
                    <choose>
                        <when test='ids!=null and !"".equals(ids)'>
                            id in
                            <foreach collection="ids.split(',')" open="(" close=")" separator="," item="id">
                                #{id}
                            </foreach>
                        </when>
                        <otherwise>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' >shop_type_code= #{shopTypeCode} and </if>
                            <if test='month!=null and !"".equals(month)' >month= #{month} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='shopCode!=null and !"".equals(shopCode)' >shop_code= #{shopCode} and </if>
                            <if test='shopName!=null and !"".equals(shopName)' >shop_name= #{shopName} and </if>
                            <if test='storePlatformCode!=null and !"".equals(storePlatformCode)' >store_platform_code= #{storePlatformCode} and </if>
                            <if test='settlementEndMonth!=null and !"".equals(settlementEndMonth)' >settlement_end_month= #{settlementEndMonth} and </if>
                            <if test='settlementStatus!=null and !"".equals(settlementStatus)' >settlement_status= #{settlementStatus} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='totalReceiveAmount!=null'>total_receive_amount= #{totalReceiveAmount} and</if>
                            <if test='totalReceiveNum!=null'>total_receive_num= #{totalReceiveNum} and</if>
                            <if test='alreadyReceiveAmount!=null'>already_receive_amount= #{alreadyReceiveAmount} and
                            </if>
                            <if test='alreadyReceiveNum!=null'>already_receive_num= #{alreadyReceiveNum} and</if>
                            <if test='monthStart!=null and !"".equals(monthStart)'>
                                month &gt;= #{monthStart} and
                            </if>
                            <if test='monthEnd!=null and !"".equals(monthEnd)'>
                                month &lt;= #{monthEnd} and
                            </if>
                            <if test='buList!=null'>
                                bu_id in
                                <foreach collection="buList" item="buId" separator="," open="(" close=")">
                                    #{buId}
                                </foreach>
                            </if>
                        </otherwise>
                    </choose>
                </trim>
            </where>
        </sql>

        <select id="listTocTempCostReceiveBillByPage" parameterType="TocTemporaryCostBillDTO" resultType="TocTemporaryCostBillDTO">
            select <include refid='sql_columns' /> from t_toc_temporary_cost_bill
            <include refid='dto_sql_where' />
            ORDER BY month desc
        </select>

        <select id="listForExport" parameterType="list" resultType="TocTemporaryCostBillDTO">
            select <include refid='sql_columns' /> from t_toc_temporary_cost_bill
            <include refid='dto_sql_where' />
            ORDER BY id desc
        </select>

        <delete id="deleteByModel" parameterType="TocTemporaryCostBillModel">
            delete from t_toc_temporary_cost_bill  <include refid='sql_where' />
        </delete>

        <select id='getDTO' resultType='TocTemporaryCostBillDTO' parameterType='TocTemporaryCostBillDTO' >
            select <include refid='sql_columns' /> from t_toc_temporary_cost_bill  <include refid='sql_where' />
        </select>
    
        <select id="getTocTemporaryCostList" parameterType="map" resultType="TocTemporaryCostBillDTO">
            select merchant_id,customer_id,bu_id,shop_type_code,ifnull(sum(total_receive_amount),0)-ifNull(sum(already_receive_amount),0) amount from t_toc_temporary_cost_bill
            where settlement_status!='2'
            <if test='merchantId!=null' > and merchant_id= #{merchantId} </if>
            <if test='customerId!=null' > and customer_id= #{customerId} </if>
            <if test='buId!=null' > and bu_id= #{buId}</if>
            <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' >and shop_type_code= #{shopTypeCode} </if>
        </select>

        <select id="searchIdListByModel" parameterType="map" resultType="java.lang.Long">
            select id from t_toc_temporary_cost_bill <include refid='sql_where' />
        </select>
</mapper>