<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.reporting.BuFinancePurchaseNotshelfMapper'>

        <!-- 关系映射 -->
        <resultMap id="BuFinancePurchaseNotshelfModelMap" type="BuFinancePurchaseNotshelfModel" >
                <result property="id" column="id" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="depotName" column="depot_name" />
                <result property="depotId" column="depot_id" />
                <result property="buId" column="bu_id" />
                <result property="buName" column="bu_name" />
                <result property="orderId" column="order_id" />
                <result property="orderCode" column="order_code" />
                <result property="orderEndDate" column="order_end_date" />
                <result property="orderCreateDate" column="order_create_date" />
                <result property="warehouseIds" column="warehouse_ids" />
                <result property="warehouseCodes" column="warehouse_codes" />
                <result property="supplierId" column="supplier_id" />
                <result property="supplierName" column="supplier_name" />
                <result property="poNo" column="po_no" />
                <result property="drawInvoiceDate" column="draw_invoice_date" />
                <result property="invoiceNo" column="invoice_no" />
                <result property="goodsId" column="goods_id" />
                <result property="goodsName" column="goods_name" />
                <result property="goodsNo" column="goods_no" />
                <result property="barcode" column="barcode" />
                <result property="commbarcode" column="commbarcode" />
                <result property="tallyingUnit" column="tallying_unit" />
                <result property="orderCurrency" column="order_currency" />
                <result property="orderAmount" column="order_amount" />
                <result property="warehouseNum" column="warehouse_num" />
                <result property="warehouseCurrency" column="warehouse_currency" />
                <result property="warehousePrice" column="warehouse_price" />
                <result property="warehouseAmount" column="warehouse_amount" />
                <result property="month" column="month" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
                <result property="orderPrice" column="order_price" />
                <result property="creater" column="creater" />
                <result property="createName" column="create_name" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='BuFinancePurchaseNotshelfModelMap' parameterType='BuFinancePurchaseNotshelfModel'>
        select <include refid='sql_columns' /> from r_bu_finance_purchase_notshelf  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='BuFinancePurchaseNotshelfModelMap' parameterType='BuFinancePurchaseNotshelfModel'>
        select <include refid='sql_columns' /> from r_bu_finance_purchase_notshelf  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='BuFinancePurchaseNotshelfModelMap' parameterType='BuFinancePurchaseNotshelfModel' >
        select <include refid='sql_columns' /> from r_bu_finance_purchase_notshelf  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='BuFinancePurchaseNotshelfModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO r_bu_finance_purchase_notshelf
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='depotName!=null and !"".equals(depotName)' > depot_name , </if>
                        <if test='depotId!=null' >depot_id , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='orderId!=null' >order_id , </if>
                        <if test='orderCode!=null and !"".equals(orderCode)' > order_code , </if>
                        <if test='orderEndDate!=null' >order_end_date , </if>
                        <if test='orderCreateDate!=null' >order_create_date , </if>
                        <if test='warehouseIds!=null and !"".equals(warehouseIds)' > warehouse_ids , </if>
                        <if test='warehouseCodes!=null and !"".equals(warehouseCodes)' > warehouse_codes , </if>
                        <if test='supplierId!=null' >supplier_id , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' > supplier_name , </if>
                        <if test='poNo!=null and !"".equals(poNo)' > po_no , </if>
                        <if test='drawInvoiceDate!=null' >draw_invoice_date , </if>
                        <if test='invoiceNo!=null and !"".equals(invoiceNo)' > invoice_no , </if>
                        <if test='goodsId!=null' >goods_id , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > goods_name , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' > goods_no , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > barcode , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > tallying_unit , </if>
                        <if test='orderCurrency!=null and !"".equals(orderCurrency)' > order_currency , </if>
                        <if test='orderAmount!=null' >order_amount , </if>
                        <if test='warehouseNum!=null' >warehouse_num , </if>
                        <if test='warehouseCurrency!=null and !"".equals(warehouseCurrency)' > warehouse_currency , </if>
                        <if test='warehousePrice!=null' >warehouse_price , </if>
                        <if test='warehouseAmount!=null' >warehouse_amount , </if>
                        <if test='month!=null and !"".equals(month)' > month , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
                        <if test='orderPrice!=null' >order_price , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createName!=null and !"".equals(createName)' > create_name , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='depotName!=null and !"".equals(depotName)' > #{depotName} , </if>
                        <if test='depotId!=null' > #{depotId} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='orderId!=null' > #{orderId} , </if>
                        <if test='orderCode!=null and !"".equals(orderCode)' > #{orderCode} , </if>
                        <if test='orderEndDate!=null' > #{orderEndDate} , </if>
                        <if test='orderCreateDate!=null' > #{orderCreateDate} , </if>
                        <if test='warehouseIds!=null and !"".equals(warehouseIds)' > #{warehouseIds} , </if>
                        <if test='warehouseCodes!=null and !"".equals(warehouseCodes)' > #{warehouseCodes} , </if>
                        <if test='supplierId!=null' > #{supplierId} , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' > #{supplierName} , </if>
                        <if test='poNo!=null and !"".equals(poNo)' > #{poNo} , </if>
                        <if test='drawInvoiceDate!=null' > #{drawInvoiceDate} , </if>
                        <if test='invoiceNo!=null and !"".equals(invoiceNo)' > #{invoiceNo} , </if>
                        <if test='goodsId!=null' > #{goodsId} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > #{goodsName} , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' > #{goodsNo} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > #{barcode} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > #{tallyingUnit} , </if>
                        <if test='orderCurrency!=null and !"".equals(orderCurrency)' > #{orderCurrency} , </if>
                        <if test='orderAmount!=null' > #{orderAmount} , </if>
                        <if test='warehouseNum!=null' > #{warehouseNum} , </if>
                        <if test='warehouseCurrency!=null and !"".equals(warehouseCurrency)' > #{warehouseCurrency} , </if>
                        <if test='warehousePrice!=null' > #{warehousePrice} , </if>
                        <if test='warehouseAmount!=null' > #{warehouseAmount} , </if>
                        <if test='month!=null and !"".equals(month)' > #{month} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='orderPrice!=null' > #{orderPrice} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='BuFinancePurchaseNotshelfModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  r_bu_finance_purchase_notshelf SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} , </if>
                        <if test='depotId!=null' > depot_id= #{depotId} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='orderId!=null' > order_id= #{orderId} , </if>
                        <if test='orderCode!=null and !"".equals(orderCode)' >order_code= #{orderCode} , </if>
                        <if test='orderEndDate!=null' > order_end_date= #{orderEndDate} , </if>
                        <if test='orderCreateDate!=null' > order_create_date= #{orderCreateDate} , </if>
                        <if test='warehouseIds!=null and !"".equals(warehouseIds)' >warehouse_ids= #{warehouseIds} , </if>
                        <if test='warehouseCodes!=null and !"".equals(warehouseCodes)' >warehouse_codes= #{warehouseCodes} , </if>
                        <if test='supplierId!=null' > supplier_id= #{supplierId} , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' >supplier_name= #{supplierName} , </if>
                        <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} , </if>
                        <if test='drawInvoiceDate!=null' > draw_invoice_date= #{drawInvoiceDate} , </if>
                        <if test='invoiceNo!=null and !"".equals(invoiceNo)' >invoice_no= #{invoiceNo} , </if>
                        <if test='goodsId!=null' > goods_id= #{goodsId} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} , </if>
                        <if test='orderCurrency!=null and !"".equals(orderCurrency)' >order_currency= #{orderCurrency} , </if>
                        <if test='orderAmount!=null' > order_amount= #{orderAmount} , </if>
                        <if test='warehouseNum!=null' > warehouse_num= #{warehouseNum} , </if>
                        <if test='warehouseCurrency!=null and !"".equals(warehouseCurrency)' >warehouse_currency= #{warehouseCurrency} , </if>
                        <if test='warehousePrice!=null' > warehouse_price= #{warehousePrice} , </if>
                        <if test='warehouseAmount!=null' > warehouse_amount= #{warehouseAmount} , </if>
                        <if test='month!=null and !"".equals(month)' >month= #{month} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='orderPrice!=null' > order_price= #{orderPrice} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from r_bu_finance_purchase_notshelf  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from r_bu_finance_purchase_notshelf where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            merchant_id,
            merchant_name,
            depot_name,
            depot_id,
            bu_id,
            bu_name,
            order_id,
            order_code,
            order_end_date,
            order_create_date,
            warehouse_ids,
            warehouse_codes,
            supplier_id,
            supplier_name,
            po_no,
            draw_invoice_date,
            invoice_no,
            goods_id,
            goods_name,
            goods_no,
            barcode,
            commbarcode,
            tallying_unit,
            order_currency,
            order_amount,
            warehouse_num,
            warehouse_currency,
            warehouse_price,
            warehouse_amount,
            month,
            create_date,
            modify_date,
            order_price,
            creater,
            create_name
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} and </if>
                            <if test='depotId!=null' > depot_id= #{depotId} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='orderId!=null' > order_id= #{orderId} and </if>
                            <if test='orderCode!=null and !"".equals(orderCode)' >order_code= #{orderCode} and </if>
                            <if test='orderEndDate!=null' > order_end_date= #{orderEndDate} and </if>
                            <if test='orderCreateDate!=null' > order_create_date= #{orderCreateDate} and </if>
                            <if test='warehouseIds!=null and !"".equals(warehouseIds)' >warehouse_ids= #{warehouseIds} and </if>
                            <if test='warehouseCodes!=null and !"".equals(warehouseCodes)' >warehouse_codes= #{warehouseCodes} and </if>
                            <if test='supplierId!=null' > supplier_id= #{supplierId} and </if>
                            <if test='supplierName!=null and !"".equals(supplierName)' >supplier_name= #{supplierName} and </if>
                            <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                            <if test='drawInvoiceDate!=null' > draw_invoice_date= #{drawInvoiceDate} and </if>
                            <if test='invoiceNo!=null and !"".equals(invoiceNo)' >invoice_no= #{invoiceNo} and </if>
                            <if test='goodsId!=null' > goods_id= #{goodsId} and </if>
                            <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                            <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} and </if>
                            <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} and </if>
                            <if test='orderCurrency!=null and !"".equals(orderCurrency)' >order_currency= #{orderCurrency} and </if>
                            <if test='orderAmount!=null' > order_amount= #{orderAmount} and </if>
                            <if test='warehouseNum!=null' > warehouse_num= #{warehouseNum} and </if>
                            <if test='warehouseCurrency!=null and !"".equals(warehouseCurrency)' >warehouse_currency= #{warehouseCurrency} and </if>
                            <if test='warehousePrice!=null' > warehouse_price= #{warehousePrice} and </if>
                            <if test='warehouseAmount!=null' > warehouse_amount= #{warehouseAmount} and </if>
                            <if test='month!=null and !"".equals(month)' >month= #{month} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='orderPrice!=null' > order_price= #{orderPrice} and </if>
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
 	<!--清除事业部商家 仓库 月份 (财务经销存)采购在途数据 -->
	<delete id='delBuFinancePurchaseNotshelf' parameterType='map'>
		delete from r_bu_finance_purchase_notshelf
		where merchant_id=#{merchantId} and depot_id=#{depotId} and  bu_id =#{buId} and month=#{month}  
	</delete>



</mapper>