<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.purchase.PurchaseWarehouseBatchMapper'>

    <!-- 关系映射 -->
    <resultMap id="PurchaseWarehouseBatchModelMap" type="PurchaseWarehouseBatchModel" >
            <result property="overdueDate" column="overdue_date" />
            <result property="batchNo" column="batch_no" />
            <result property="modifyDate" column="modify_date" />
            <result property="goodsId" column="goods_id" />
            <result property="normalNum" column="normal_num" />
            <result property="expireNum" column="expire_num" />
            <result property="itemId" column="item_id" />
            <result property="productionDate" column="production_date" />
            <result property="creater" column="creater" />
            <result property="id" column="id" />
            <result property="wornNum" column="worn_num" />
            <result property="createDate" column="create_date" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='PurchaseWarehouseBatchModelMap' parameterType='PurchaseWarehouseBatchModel'>
        select <include refid='sql_columns' /> from t_purchase_warehouse_batch  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='PurchaseWarehouseBatchModelMap' parameterType='PurchaseWarehouseBatchModel'>
        select <include refid='sql_columns' /> from t_purchase_warehouse_batch  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='PurchaseWarehouseBatchModelMap' parameterType='PurchaseWarehouseBatchModel' >
        select <include refid='sql_columns' /> from t_purchase_warehouse_batch  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='PurchaseWarehouseBatchModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO t_purchase_warehouse_batch
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='overdueDate!=null' > overdue_date , </if>
                <if test='batchNo!=null and !"".equals(batchNo)' > batch_no , </if>
                <if test='modifyDate!=null' > modify_date , </if>
                <if test='goodsId!=null' > goods_id , </if>
                <if test='normalNum!=null' > normal_num , </if>
                <if test='expireNum!=null' > expire_num , </if>
                <if test='itemId!=null' > item_id , </if>
                <if test='productionDate!=null' > production_date , </if>
                <if test='creater!=null' > creater , </if>
                <if test='id!=null' > id , </if>
                <if test='wornNum!=null' > worn_num , </if>
                <if test='createDate!=null' > create_date , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='overdueDate!=null' > #{overdueDate} , </if>
                <if test='batchNo!=null and !"".equals(batchNo)' > #{batchNo} , </if>
                <if test='modifyDate!=null' > #{modifyDate} , </if>
                <if test='goodsId!=null' > #{goodsId} , </if>
                <if test='normalNum!=null' > #{normalNum} , </if>
                <if test='expireNum!=null' > #{expireNum} , </if>
                <if test='itemId!=null' > #{itemId} , </if>
                <if test='productionDate!=null' > #{productionDate} , </if>
                <if test='creater!=null' > #{creater} , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='wornNum!=null' > #{wornNum} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='PurchaseWarehouseBatchModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  t_purchase_warehouse_batch SET
        <trim  suffixOverrides=",">
                <if test='overdueDate!=null' > overdue_date= #{overdueDate} , </if>
                <if test='batchNo!=null and !"".equals(batchNo)' >batch_no= #{batchNo} , </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                <if test='goodsId!=null' > goods_id= #{goodsId} , </if>
                <if test='normalNum!=null' > normal_num= #{normalNum} , </if>
                <if test='expireNum!=null' > expire_num= #{expireNum} , </if>
                <if test='itemId!=null' > item_id= #{itemId} , </if>
                <if test='productionDate!=null' > production_date= #{productionDate} , </if>
                <if test='creater!=null' > creater= #{creater} , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='wornNum!=null' > worn_num= #{wornNum} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_purchase_warehouse_batch  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from t_purchase_warehouse_batch where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        overdue_date,
        batch_no,
        modify_date,
        goods_id,
        normal_num,
        expire_num,
        item_id,
        production_date,
        creater,
        id,
        worn_num,
        create_date
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='overdueDate!=null' > overdue_date= #{overdueDate} and </if>
                <if test='batchNo!=null and !"".equals(batchNo)' >batch_no= #{batchNo} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='goodsId!=null' > goods_id= #{goodsId} and </if>
                <if test='normalNum!=null' > normal_num= #{normalNum} and </if>
                <if test='expireNum!=null' > expire_num= #{expireNum} and </if>
                <if test='itemId!=null' > item_id= #{itemId} and </if>
                <if test='productionDate!=null' > production_date= #{productionDate} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='wornNum!=null' > worn_num= #{wornNum} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
            </trim>
        </where>
    </sql>

	<!--自定义SQL-->
	<resultMap id="PurchaseWarehouseBatchModelMap2" type="PurchaseWarehouseBatchModel" >
                <result property="itemId" column="item_id" />
                <result property="overdueDate" column="overdue_date" />
                <result property="batchNo" column="batch_no" />
                <result property="productionDate" column="production_date" />
                <result property="goodsId" column="goods_id" />
                <result property="normalNum" column="normal_num" />
                <result property="creater" column="creater" />
                <result property="id" column="id" />
                <result property="wornNum" column="worn_num" />
                <result property="expireNum" column="expire_num" />
                <result property="createDate" column="create_date" />
                <result property="purchaseNum" column="purchase_num" />
                <result property="tallyingNum" column="tallying_num" />
                
                <!-- 拓展字段 -->
		        <result property="goodsNo" column="goods_no" />
		        <result property="goodsName" column="goods_name" />
		        <result property="grossWeight" column="gross_weight" />
		        <result property="barcode" column="barcode" />
		        <result property="netWeight" column="net_weight" />
		        <result property="length" column="length" />
		        <result property="width" column="width" />
		        <result property="volume" column="volume" />
		        <result property="height" column="height" />
		        <result property="tallyingUnit" column="tallying_unit" />
    </resultMap>
    
    <!-- 根据采购入库单id获取商品信息和批次信息 -->
	<select id="getGoodsAndBatch" resultMap="PurchaseWarehouseBatchModelMap2" parameterType="java.lang.Long">
		select
            t2.goods_no,
            t2.goods_name,
            t2.goods_id,
            t2.barcode,
            t1.batch_no,
            t1.production_date,
            t1.overdue_date,
            t1.worn_num,
            t1.expire_num,
            t1.normal_num,
            t2.gross_weight,
            t2.net_weight,
            t2.volume,
            t2.length,
            t2.width,
            t2.height,
            t2.tallying_unit,
            t2.purchase_num,
            t2.tallying_num
		from t_purchase_warehouse_item t2
		left join t_purchase_warehouse_batch t1 on t1.item_id = t2.id
		left join t_purchase_warehouse t3 on t2.warehouse_id = t3.id
		where t3.id = #{id}
	</select>
	
	
	<!--自定义SQL-->
	<resultMap id="PurchaseWarehouseBatchModelMap3" type="PurchaseWarehouseBatchModel" >
                <result property="goodsId" column="goods_id" />
		        <result property="goodsNo" column="goods_no" />
		        <result property="goodsName" column="goods_name" />
		        <result property="grossWeight" column="gross_weight" />
		        <result property="netWeight" column="net_weight" />
		        <result property="length" column="length" />
		        <result property="width" column="width" />
		        <result property="volume" column="volume" />
		        <result property="height" column="height" />
		        <result property="purchaseNum" column="purchase_num" />
		        <result property="tallyingUnit" column="tallying_unit" />
    </resultMap>
	
	<!-- 根据采购入库单id获取商品信息 -->
	<select id="getGoodsAndBatch2" resultMap="PurchaseWarehouseBatchModelMap3" parameterType="java.lang.Long">
		select 
		    t2.goods_no,t2.goods_name,t2.goods_id,t2.barcode,
		    t2.purchase_num,t2.gross_weight,t2.net_weight,t2.volume,
		    t2.length,t2.width,t2.height,t2.tallying_unit
		from t_purchase_warehouse_item t2
		left join t_purchase_warehouse t3 on t2.warehouse_id = t3.id
		where t3.id = #{id}
	</select>
	
	<!-- 根据商品表体id获取批次信息 -->
	<select id="getGoodsAndBatch3" resultMap="PurchaseWarehouseBatchModelMap2" parameterType="map">
		select 
		    t2.goods_no,t2.goods_name,t2.goods_id,t2.barcode,t1.batch_no,t1.production_date,t1.overdue_date,
		    t1.worn_num,t1.expire_num,t1.normal_num,t2.gross_weight,t2.net_weight,t2.volume,
		    t2.length,t2.width,t2.height,t2.tallying_unit
		from t_purchase_warehouse_item t2
		left join t_purchase_warehouse_batch t1 on t1.item_id = t2.id
		where t1.item_id = #{id}
		<if test='batchNo!=null and !"".equals(batchNo)' >and t1.batch_no= #{batchNo} </if>
	</select>

	<!-- 根据采购入库单编码和货号获取商品信息和批次信息 -->
	<select id="getGoodBatchByWarehouseCodeAndGoodsNo" resultMap="PurchaseWarehouseBatchModelMap2" parameterType="map">
		select 
		    t2.goods_no,t2.goods_name,t2.goods_id,t2.barcode,t1.batch_no,t1.production_date,t1.overdue_date,
		    t1.worn_num,t1.expire_num,t1.normal_num,t2.gross_weight,t2.net_weight,t2.volume,
		    t2.length,t2.width,t2.height,t2.tallying_unit,t2.purchase_num,t2.tallying_num
		from t_purchase_warehouse_item t2
		left join t_purchase_warehouse_batch t1 on t1.item_id = t2.id
		left join t_purchase_warehouse t3 on t2.warehouse_id = t3.id
		where t3.code = #{warehouseCode} and t2.goods_no = #{goodsNo}
	</select>

	<select id='getBatchNum' resultType='java.lang.Integer' parameterType='map' >
	        select sum(IFNULL(normal_num, 0) + IFNULL(expire_num, 0) + IFNULL(worn_num, 0)) from t_purchase_warehouse_batch  <include refid='sql_where' />
	</select>
</mapper>
