<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.purchase.PurchaseReturnOdepotMapper'>

        <!-- 关系映射 -->
        <resultMap id="PurchaseReturnOdepotModelMap" type="PurchaseReturnOdepotModel" >
                <result property="id" column="id" />
                <result property="code" column="code" />
                <result property="purchaseReturnId" column="purchase_return_id" />
                <result property="purchaseReturnCode" column="purchase_return_code" />
                <result property="outDepotId" column="out_depot_id" />
                <result property="outDepotName" column="out_depot_name" />
                <result property="returnOutDate" column="return_out_date" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="status" column="status" />
                <result property="auditDate" column="audit_date" />
                <result property="supplierId" column="supplier_id" />
                <result property="supplierName" column="supplier_name" />
                <result property="currency" column="currency" />
                <result property="buName" column="bu_name" />
                <result property="buId" column="bu_id" />
                <result property="poNo" column="po_no" />
                <result property="logisticsName" column="logistics_name" />
                <result property="importMode" column="import_mode" />
                <result property="lbxNo" column="lbx_no" />
                <result property="blNo" column="bl_no" />
                <result property="wayBillNo" column="way_bill_no" />
                <result property="extraCode" column="extra_code" />
                <result property="tallyingUnit" column="tallying_unit" />
                <result property="auditor" column="auditor" />
                <result property="auditName" column="audit_name" />
                <result property="creater" column="creater" />
                <result property="createDate" column="create_date" />
                <result property="createName" column="create_name" />
                <result property="modifyDate" column="modify_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='PurchaseReturnOdepotModelMap' parameterType='PurchaseReturnOdepotModel'>
        select <include refid='sql_columns' /> from t_purchase_return_odepot  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='PurchaseReturnOdepotModelMap' parameterType='PurchaseReturnOdepotModel'>
        select <include refid='sql_columns' /> from t_purchase_return_odepot  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='PurchaseReturnOdepotModelMap' parameterType='PurchaseReturnOdepotModel' >
        select <include refid='sql_columns' /> from t_purchase_return_odepot  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='PurchaseReturnOdepotModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_purchase_return_odepot
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='code!=null and !"".equals(code)' > code , </if>
                        <if test='purchaseReturnId!=null' >purchase_return_id , </if>
                        <if test='purchaseReturnCode!=null and !"".equals(purchaseReturnCode)' > purchase_return_code , </if>
                        <if test='outDepotId!=null' >out_depot_id , </if>
                        <if test='outDepotName!=null and !"".equals(outDepotName)' > out_depot_name , </if>
                        <if test='returnOutDate!=null' >return_out_date , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='status!=null and !"".equals(status)' > status , </if>
                        <if test='auditDate!=null' >audit_date , </if>
                        <if test='supplierId!=null' >supplier_id , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' > supplier_name , </if>
                        <if test='currency!=null and !"".equals(currency)' > currency , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='poNo!=null and !"".equals(poNo)' > po_no , </if>
                        <if test='logisticsName!=null and !"".equals(logisticsName)' > logistics_name , </if>
                        <if test='importMode!=null and !"".equals(importMode)' > import_mode , </if>
                        <if test='lbxNo!=null and !"".equals(lbxNo)' > lbx_no , </if>
                        <if test='blNo!=null and !"".equals(blNo)' > bl_no , </if>
                        <if test='wayBillNo!=null and !"".equals(wayBillNo)' > way_bill_no , </if>
                        <if test='extraCode!=null and !"".equals(extraCode)' > extra_code , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > tallying_unit , </if>
                        <if test='auditor!=null' >auditor , </if>
                        <if test='auditName!=null and !"".equals(auditName)' > audit_name , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='createName!=null and !"".equals(createName)' > create_name , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='code!=null and !"".equals(code)' > #{code} , </if>
                        <if test='purchaseReturnId!=null' > #{purchaseReturnId} , </if>
                        <if test='purchaseReturnCode!=null and !"".equals(purchaseReturnCode)' > #{purchaseReturnCode} , </if>
                        <if test='outDepotId!=null' > #{outDepotId} , </if>
                        <if test='outDepotName!=null and !"".equals(outDepotName)' > #{outDepotName} , </if>
                        <if test='returnOutDate!=null' > #{returnOutDate} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='status!=null and !"".equals(status)' > #{status} , </if>
                        <if test='auditDate!=null' > #{auditDate} , </if>
                        <if test='supplierId!=null' > #{supplierId} , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' > #{supplierName} , </if>
                        <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='poNo!=null and !"".equals(poNo)' > #{poNo} , </if>
                        <if test='logisticsName!=null and !"".equals(logisticsName)' > #{logisticsName} , </if>
                        <if test='importMode!=null and !"".equals(importMode)' > #{importMode} , </if>
                        <if test='lbxNo!=null and !"".equals(lbxNo)' > #{lbxNo} , </if>
                        <if test='blNo!=null and !"".equals(blNo)' > #{blNo} , </if>
                        <if test='wayBillNo!=null and !"".equals(wayBillNo)' > #{wayBillNo} , </if>
                        <if test='extraCode!=null and !"".equals(extraCode)' > #{extraCode} , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > #{tallyingUnit} , </if>
                        <if test='auditor!=null' > #{auditor} , </if>
                        <if test='auditName!=null and !"".equals(auditName)' > #{auditName} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='PurchaseReturnOdepotModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_purchase_return_odepot SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
                        <if test='purchaseReturnId!=null' > purchase_return_id= #{purchaseReturnId} , </if>
                        <if test='purchaseReturnCode!=null and !"".equals(purchaseReturnCode)' >purchase_return_code= #{purchaseReturnCode} , </if>
                        <if test='outDepotId!=null' > out_depot_id= #{outDepotId} , </if>
                        <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} , </if>
                        <if test='returnOutDate!=null' > return_out_date= #{returnOutDate} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                        <if test='auditDate!=null' > audit_date= #{auditDate} , </if>
                        <if test='supplierId!=null' > supplier_id= #{supplierId} , </if>
                        <if test='supplierName!=null and !"".equals(supplierName)' >supplier_name= #{supplierName} , </if>
                        <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} , </if>
                        <if test='logisticsName!=null and !"".equals(logisticsName)' >logistics_name= #{logisticsName} , </if>
                        <if test='importMode!=null and !"".equals(importMode)' >import_mode= #{importMode} , </if>
                        <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} , </if>
                        <if test='blNo!=null and !"".equals(blNo)' >bl_no= #{blNo} , </if>
                        <if test='wayBillNo!=null and !"".equals(wayBillNo)' >way_bill_no= #{wayBillNo} , </if>
                        <if test='extraCode!=null and !"".equals(extraCode)' >extra_code= #{extraCode} , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} , </if>
                        <if test='auditor!=null' > auditor= #{auditor} , </if>
                        <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_purchase_return_odepot  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_purchase_return_odepot where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            code,
            purchase_return_id,
            purchase_return_code,
            out_depot_id,
            out_depot_name,
            return_out_date,
            merchant_id,
            merchant_name,
            status,
            audit_date,
            supplier_id,
            supplier_name,
            currency,
            bu_name,
            bu_id,
            po_no,
            logistics_name,
            import_mode,
            lbx_no,
            bl_no,
            way_bill_no,
            extra_code,
            tallying_unit,
            auditor,
            audit_name,
            creater,
            create_date,
            create_name,
            modify_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                            <if test='purchaseReturnId!=null' > purchase_return_id= #{purchaseReturnId} and </if>
                            <if test='purchaseReturnCode!=null and !"".equals(purchaseReturnCode)' >purchase_return_code= #{purchaseReturnCode} and </if>
                            <if test='outDepotId!=null' > out_depot_id= #{outDepotId} and </if>
                            <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} and </if>
                            <if test='returnOutDate!=null' > return_out_date= #{returnOutDate} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                            <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                            <if test='supplierId!=null' > supplier_id= #{supplierId} and </if>
                            <if test='supplierName!=null and !"".equals(supplierName)' >supplier_name= #{supplierName} and </if>
                            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                            <if test='logisticsName!=null and !"".equals(logisticsName)' >logistics_name= #{logisticsName} and </if>
                            <if test='importMode!=null and !"".equals(importMode)' >import_mode= #{importMode} and </if>
                            <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} and </if>
                            <if test='blNo!=null and !"".equals(blNo)' >bl_no= #{blNo} and </if>
                            <if test='wayBillNo!=null and !"".equals(wayBillNo)' >way_bill_no= #{wayBillNo} and </if>
                            <if test='extraCode!=null and !"".equals(extraCode)' >extra_code= #{extraCode} and </if>
                            <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} and </if>
                            <if test='auditor!=null' > auditor= #{auditor} and </if>
                            <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} and </if>
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
		<select id='getListByPage' resultType='PurchaseReturnOdepotDTO' parameterType='PurchaseReturnOdepotDTO'>
	        select <include refid='sql_columns' /> from t_purchase_return_odepot  
	        <where>
	        <trim suffixOverrides='and'>
                       <if test='id!=null' > id= #{id} and </if>
                       <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                       <if test='purchaseReturnCode!=null and !"".equals(purchaseReturnCode)' >purchase_return_code= #{purchaseReturnCode} and </if>
                       <if test='outDepotId!=null' > out_depot_id= #{outDepotId} and </if>
                       <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} and </if>
                       <if test='returnOutDate!=null' > return_out_date= #{returnOutDate} and </if>
                       <if test='returnOutStartDate!=null and !"".equals(returnOutStartDate)' >
		                    return_out_date &gt;= #{returnOutStartDate} and 
		                </if>
		                <if test='returnOutEndDate!=null and !"".equals(returnOutEndDate)' >
		                   return_out_date &lt; #{returnOutEndDate} and 
		                </if>
                       <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                       <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                       <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                       <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                       <if test='supplierId!=null' > supplier_id= #{supplierId} and </if>
                       <if test='supplierName!=null and !"".equals(supplierName)' >supplier_name= #{supplierName} and </if>
                       <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                       <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                       <if test='buId!=null' > bu_id= #{buId} and </if>
                       <if test='buIds!=null' > bu_id in 
		                	<foreach collection="buIds" item="buId" separator="," open="(" close=")">
		            			#{buId}
		            		</foreach>
		            		and 
		               </if>
                       <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                       <if test='logisticsName!=null and !"".equals(logisticsName)' >logistics_name= #{logisticsName} and </if>
                       <if test='importMode!=null and !"".equals(importMode)' >import_mode= #{importMode} and </if>
                       <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} and </if>
                       <if test='blNo!=null and !"".equals(blNo)' >bl_no= #{blNo} and </if>
                       <if test='wayBillNo!=null and !"".equals(wayBillNo)' >way_bill_no= #{wayBillNo} and </if>
                       <if test='auditor!=null' > auditor= #{auditor} and </if>
                       <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} and </if>
                       <if test='creater!=null' > creater= #{creater} and </if>
                       <if test='createDate!=null' > create_date= #{createDate} and </if>
                       <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                       <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
           </trim>
           </where>
           order by create_date desc 
	    </select>

		<!-- 条件查询 -->
	    <select id='getDTOById' resultType='PurchaseReturnOdepotDTO' parameterType='java.lang.Long' >
	        select <include refid='sql_columns' /> from t_purchase_return_odepot  where id = #{id}
	    </select>
	    
	    <select id='getDetailsByExport' resultType='PurchaseReturnOdepotExportDTO' parameterType='PurchaseReturnOdepotDTO' >
	        select 
	            t1.code,
	            t1.purchase_return_code,
	            t1.out_depot_id,
	            t1.out_depot_name,
	            t1.return_out_date,
	            t1.merchant_id,
	            t1.merchant_name,
	            t1.status,
	            t1.supplier_id,
	            t1.supplier_name,
	            t1.currency,
	            t1.bu_name,
	            t1.bu_id,
	            t1.po_no,
	            t1.logistics_name,
	            t1.import_mode,
	            t1.lbx_no,
	            t1.bl_no,
	            t1.way_bill_no,
	            t2.goods_id,
	            t2.goods_name,
	            t2.goods_no,
	            t2.barcode,
	            t2.num,
	            t2.batch_no,
	            t2.production_date,
	            t2.overdue_date,
	            t2.remark
            from t_purchase_return_odepot  t1
            	left join t_purchase_return_odepot_item t2
            	on t1.id = t2.odepot_order_id
            <where>
                <trim suffixOverrides='and'>
                            <if test='code!=null and !"".equals(code)' >t1.code= #{code} and </if>
                            <if test='outDepotId!=null' > t1.out_depot_id= #{outDepotId} and </if>
                            <if test='merchantId!=null' > t1.merchant_id= #{merchantId} and </if>
                            <if test='supplierId!=null' > t1.supplier_id= #{supplierId} and </if>
                            <if test='buId!=null' > t1.bu_id= #{buId} and </if>
                            <if test='buIds!=null' > t1.bu_id in 
		                		<foreach collection="buIds" item="buId" separator="," open="(" close=")">
			            			#{buId}
			            		</foreach>
			            		and 
			               </if>
                            <if test='poNo!=null and !"".equals(poNo)' >t1.po_no= #{poNo} and </if>
                            <if test='returnOutStartDate!=null and !"".equals(returnOutStartDate)' >
			                    t1.return_out_date &gt;= #{returnOutStartDate} and 
			                </if>
			                <if test='returnOutEndDate!=null and !"".equals(returnOutEndDate)' >
			                   t1.return_out_date &lt; #{returnOutEndDate} and 
			                </if>
                            <if test='status!=null and !"".equals(status)' >t1.status= #{status} and </if>
                </trim>
            </where>
            order by t1.create_date desc	
	    </select>

</mapper>