<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.automatic.BusinessFinanceAutomaticVerificationMapper'>

        <!-- 关系映射 -->
        <resultMap id="BusinessFinanceAutomaticVerificationModelMap" type="BusinessFinanceAutomaticVerificationModel" >
                <result property="id" column="id" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="depotId" column="depot_id" />
                <result property="depotName" column="depot_name" />
                <result property="buId" column="bu_id" />
                <result property="buName" column="bu_name" />
                <result property="month" column="month" />
                <result property="status" column="status" />
                <result property="commbarcode" column="commbarcode" />
                <result property="buInventorySummaryEndNum" column="bu_inventory_summary_end_num" />
                <result property="buFinanceSummaryEndNum" column="bu_finance_summary_end_num" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='BusinessFinanceAutomaticVerificationModelMap' parameterType='BusinessFinanceAutomaticVerificationModel'>
        select <include refid='sql_columns' /> from r_business_finance_automatic_verification  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='BusinessFinanceAutomaticVerificationModelMap' parameterType='BusinessFinanceAutomaticVerificationModel'>
        select <include refid='sql_columns' /> from r_business_finance_automatic_verification  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='BusinessFinanceAutomaticVerificationModelMap' parameterType='BusinessFinanceAutomaticVerificationModel' >
        select <include refid='sql_columns' /> from r_business_finance_automatic_verification  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='BusinessFinanceAutomaticVerificationModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO r_business_finance_automatic_verification
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='depotId!=null' >depot_id , </if>
                        <if test='depotName!=null and !"".equals(depotName)' > depot_name , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='month!=null and !"".equals(month)' > month , </if>
                        <if test='status!=null and !"".equals(status)' > status , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='buInventorySummaryEndNum!=null' >bu_inventory_summary_end_num , </if>
                        <if test='buFinanceSummaryEndNum!=null' >bu_finance_summary_end_num , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='depotId!=null' > #{depotId} , </if>
                        <if test='depotName!=null and !"".equals(depotName)' > #{depotName} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='month!=null and !"".equals(month)' > #{month} , </if>
                        <if test='status!=null and !"".equals(status)' > #{status} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='buInventorySummaryEndNum!=null' > #{buInventorySummaryEndNum} , </if>
                        <if test='buFinanceSummaryEndNum!=null' > #{buFinanceSummaryEndNum} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='BusinessFinanceAutomaticVerificationModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  r_business_finance_automatic_verification SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='depotId!=null' > depot_id= #{depotId} , </if>
                        <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='month!=null and !"".equals(month)' >month= #{month} , </if>
                        <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='buInventorySummaryEndNum!=null' > bu_inventory_summary_end_num= #{buInventorySummaryEndNum} , </if>
                        <if test='buFinanceSummaryEndNum!=null' > bu_finance_summary_end_num= #{buFinanceSummaryEndNum} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from r_business_finance_automatic_verification  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from r_business_finance_automatic_verification where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            merchant_id,
            merchant_name,
            depot_id,
            depot_name,
            bu_id,
            bu_name,
            month,
            status,
            commbarcode,
            bu_inventory_summary_end_num,
            bu_finance_summary_end_num,
            create_date,
            modify_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='depotId!=null' > depot_id= #{depotId} and </if>
                            <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='month!=null and !"".equals(month)' >month= #{month} and </if>
                            <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='buInventorySummaryEndNum!=null' > bu_inventory_summary_end_num= #{buInventorySummaryEndNum} and </if>
                            <if test='buFinanceSummaryEndNum!=null' > bu_finance_summary_end_num= #{buFinanceSummaryEndNum} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
        <resultMap id="BusinessFinanceAutomaticVerificationDTOMap" type="BusinessFinanceAutomaticVerificationDTO" >
            <result property="merchantId" column="merchant_id" />
            <result property="merchantName" column="merchant_name" />
            <result property="buId" column="bu_id" />
            <result property="buName" column="bu_name" />
            <result property="month" column="month" />
            <result property="status" column="status" />
            <result property="buInventorySummaryEndNum" column="bu_inventory_summary_end_num" />
            <result property="buFinanceSummaryEndNum" column="bu_finance_summary_end_num" />
            <result property="modifyDate" column="modify_date" />
        </resultMap>

        <select id="listAutomaticVeriByPage" parameterType="BusinessFinanceAutomaticVerificationDTO"
                resultMap="BusinessFinanceAutomaticVerificationDTOMap" >
            SELECT
                t.merchant_id, t.merchant_name, t.bu_id, t.bu_name, t.month, t.bu_inventory_summary_end_num,
                t.bu_finance_summary_end_num, t.create_date, t.status
            FROM (
                SELECT
                    t1.merchant_id,
                    t1.merchant_name,
                    t1.bu_id,
                    t1.bu_name,
                    t1.`month`,
                    SUM(t1.bu_inventory_summary_end_num) bu_inventory_summary_end_num,
                    SUM(t1.bu_finance_summary_end_num) bu_finance_summary_end_num,
                    MAX(t1.create_date) create_date,
                    min(t1.`status`) status
                FROM
                    r_business_finance_automatic_verification t1
                <where>
                    <trim suffixOverrides='and'>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                        <if test='buId!=null' > bu_id= #{buId} and </if>
                        t1.`month` IN (
                        SELECT
                        t2.`month`
                        FROM
                        r_business_finance_automatic_verification t2
                        <where>
                            <trim suffixOverrides='and'>
                                <if test='month!=null and !"".equals(month)' >t2.month= #{month} and </if>

                            </trim>
                        </where>
                        )
                    </trim>
                </where>
                GROUP BY t1.merchant_id,t1.merchant_name,t1.bu_id, t1.bu_name, t1.`month`
                <if test='status!=null and !"".equals(status)' >having min(t1.`status`) = #{status} </if>
            ) t
        </select>

        <delete id="deleteByMap" parameterType="map" >
            DELETE FROM r_business_finance_automatic_verification
            <where>
                <trim suffixOverrides='and'>
                    <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                    <if test='buId!=null' > bu_id= #{buId} and </if>
                    <if test='month!=null and !"".equals(month)' >month= #{month} and </if>
                </trim>
            </where>
        </delete>

        <update id="updateAutomaticVeri" parameterType="BusinessFinanceAutomaticVerificationDTO">
            UPDATE  r_business_finance_automatic_verification SET
                bu_inventory_summary_end_num= NULL ,
                bu_finance_summary_end_num= NULL ,
                create_date= NULL
            where month =#{month} and merchant_id= #{merchantId} and bu_id = #{buId}
        </update>

</mapper>