<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.base.ApiSecretConfigMapper'>

     <!-- 关系映射 -->
    <resultMap id="ApiSecretConfigModelMap" type="ApiSecretConfigModel" >
                <result property="topidealCode" column="topideal_code" />
                <result property="merchantId" column="merchant_id" />
                <result property="appKey" column="app_key" />
                <result property="appSecret" column="app_secret" />
                <result property="remark" column="remark" />
                <result property="id" column="id" />
                <result property="platformName" column="platform_name" />
                <result property="createDate" column="create_date" />
                <result property="status" column="status" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='ApiSecretConfigModelMap' parameterType='ApiSecretConfigModel'>
        select <include refid='sql_columns' /> from st_api_secret_config  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='ApiSecretConfigModelMap' parameterType='ApiSecretConfigModel'>
        select <include refid='sql_columns' /> from st_api_secret_config  <include refid='sql_where' /> order by id desc
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='ApiSecretConfigModelMap' parameterType='ApiSecretConfigModel' >
        select <include refid='sql_columns' /> from st_api_secret_config  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='ApiSecretConfigModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO st_api_secret_config
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='topidealCode!=null and !"".equals(topidealCode)' > topideal_code , </if>
                <if test='merchantId!=null' > merchant_id , </if>
                <if test='appKey!=null and !"".equals(appKey)' > app_key , </if>
                <if test='appSecret!=null and !"".equals(appSecret)' > app_secret , </if>
                <if test='remark!=null and !"".equals(remark)' > remark , </if>
                <if test='id!=null' > id , </if>
                <if test='platformName!=null and !"".equals(platformName)' > platform_name , </if>
                <if test='createDate!=null' > create_date , </if>
                <if test='status!=null and !"".equals(status)' > status , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='topidealCode!=null and !"".equals(topidealCode)' > #{topidealCode} , </if>
                <if test='merchantId!=null' > #{merchantId} , </if>
                <if test='appKey!=null and !"".equals(appKey)' > #{appKey} , </if>
                <if test='appSecret!=null and !"".equals(appSecret)' > #{appSecret} , </if>
                <if test='remark!=null and !"".equals(remark)' > #{remark} , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='platformName!=null and !"".equals(platformName)' > #{platformName} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
                <if test='status!=null and !"".equals(status)' > #{status} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='ApiSecretConfigModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  st_api_secret_config SET
        <trim  suffixOverrides=",">
                <if test='topidealCode!=null and !"".equals(topidealCode)' >topideal_code= #{topidealCode} , </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                <if test='appKey!=null and !"".equals(appKey)' >app_key= #{appKey} , </if>
                <if test='appSecret!=null and !"".equals(appSecret)' >app_secret= #{appSecret} , </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='platformName!=null and !"".equals(platformName)' >platform_name= #{platformName} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from st_api_secret_config  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from st_api_secret_config where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        topideal_code,
        merchant_id,
        app_key,
        app_secret,
        remark,
        id,
        platform_name,
        create_date,
        status
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='topidealCode!=null and !"".equals(topidealCode)' >topideal_code= #{topidealCode} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='appKey!=null and !"".equals(appKey)' >app_key= #{appKey} and </if>
                <if test='appSecret!=null and !"".equals(appSecret)' >app_secret= #{appSecret} and </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='platformName!=null and !"".equals(platformName)' >platform_name= #{platformName} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
            </trim>
        </where>
    </sql>

<!--自定义SQL-->
    <!-- 关系映射 -->
    <resultMap id="ApiSecretConfigModelMap2" type="ApiSecretConfigModel" >
    			<result property="topidealCode" column="topideal_code" />
                <result property="merchantId" column="merchant_id" />
                <result property="appKey" column="app_key" />
                <result property="appSecret" column="app_secret" />
                <result property="remark" column="remark" />
                <result property="id" column="id" />
                <result property="platformName" column="platform_name" />
                <result property="createDate" column="create_date" />
                <result property="status" column="status" />
    </resultMap>

	<!-- 分页查询 -->
	<select  id='getListByPage'  resultType='ApiSecretConfigDTO' parameterType="ApiSecretConfigDTO">
		SELECT
			st1.id,
			t2.`name` AS merchantName,
			st1.app_key,
			st1.app_secret,
			st1.remark,
			st1.`status`,
			st1.merchant_id,
			st1.topideal_code
		FROM
			st_api_secret_config st1
		LEFT JOIN st_merchant_info t2 ON st1.merchant_id = t2.id
	   <where>
            <trim suffixOverrides='and'>
                <if test='appKey!=null and !"".equals(appKey)' >st1.app_key like '%${appKey}%' and </if>
                <if test='id!=null' > st1.id= #{id} and </if>
                <if test='platformName!=null and !"".equals(platformName)' >st1.platform_name like '%${platformName}%' and </if>
            </trim>
        </where>
	</select>
    
    <select id='searchDTOById' resultType='ApiSecretConfigDTO' parameterType='ApiSecretConfigDTO' >
        select <include refid='sql_columns' /> from st_api_secret_config where id = #{id}
    </select>


</mapper>
