<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.platformdata.PlatfromGoodsCategoryMapper'>

        <!-- 关系映射 -->
        <resultMap id="PlatfromGoodsCategoryModelMap" type="PlatfromGoodsCategoryModel" >
                <result property="id" column="id" />
                <result property="customerId" column="customer_id" />
                <result property="customerName" column="customer_name" />
                <result property="buId" column="bu_id" />
                <result property="buName" column="bu_name" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="categoryId" column="category_id" />
                <result property="categoryName" column="category_name" />
                <result property="commbarcode" column="commbarcode" />
                <result property="barcode" column="barcode" />
                <result property="goodsName" column="goods_name" />
                <result property="creater" column="creater" />
                <result property="createName" column="create_name" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='PlatfromGoodsCategoryModelMap' parameterType='PlatfromGoodsCategoryModel'>
        select <include refid='sql_columns' /> from t_platfrom_goods_category  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='PlatfromGoodsCategoryModelMap' parameterType='PlatfromGoodsCategoryModel'>
        select <include refid='sql_columns' /> from t_platfrom_goods_category  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='PlatfromGoodsCategoryModelMap' parameterType='PlatfromGoodsCategoryModel' >
        select <include refid='sql_columns' /> from t_platfrom_goods_category  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='PlatfromGoodsCategoryModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_platfrom_goods_category
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='customerId!=null' >customer_id , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='categoryId!=null' >category_id , </if>
                        <if test='categoryName!=null and !"".equals(categoryName)' > category_name , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > barcode , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > goods_name , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createName!=null and !"".equals(createName)' > create_name , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='customerId!=null' > #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='categoryId!=null' > #{categoryId} , </if>
                        <if test='categoryName!=null and !"".equals(categoryName)' > #{categoryName} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > #{barcode} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > #{goodsName} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='PlatfromGoodsCategoryModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_platfrom_goods_category SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='customerId!=null' > customer_id= #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='categoryId!=null' > category_id= #{categoryId} , </if>
                        <if test='categoryName!=null and !"".equals(categoryName)' >category_name= #{categoryName} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_platfrom_goods_category  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_platfrom_goods_category where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            customer_id,
            customer_name,
            bu_id,
            bu_name,
            merchant_id,
            merchant_name,
            category_id,
            category_name,
            commbarcode,
            barcode,
            goods_name,
            creater,
            create_name,
            create_date,
            modify_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='categoryId!=null' > category_id= #{categoryId} and </if>
                            <if test='categoryName!=null and !"".equals(categoryName)' >category_name= #{categoryName} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                            <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
        <select id='getListByPage' resultType='PlatfromGoodsCategoryDTO' parameterType='PlatfromGoodsCategoryDTO'>
            select <include refid='sql_columns' /> from t_platfrom_goods_category
            <where>
                <trim suffixOverrides='and'>
                    <if test='id!=null' > id= #{id} and </if>
                    <if test='customerId!=null' > customer_id= #{customerId} and </if>
                    <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                    <if test='buId!=null' > bu_id= #{buId} and </if>
                    <if test='buIds!=null' > bu_id in
                         <foreach collection="buIds" item="buId" open="(" close=")" separator=",">
                             #{buId}
                         </foreach>
                      and
                    </if>
                    <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                    <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                    <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                    <if test='categoryId!=null' > category_id= #{categoryId} and </if>
                    <if test='categoryName!=null and !"".equals(categoryName)' >category_name= #{categoryName} and </if>
                    <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                    <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                    <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                    <if test='creater!=null' > creater= #{creater} and </if>
                    <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                    <if test='createDate!=null' > create_date= #{createDate} and </if>
                    <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                </trim>
            </where>
            order by create_date desc
        </select>



</mapper>