<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.sale.CustomerQuotaConfigMapper'>

        <!-- 关系映射 -->
        <resultMap id="CustomerQuotaConfigModelMap" type="CustomerQuotaConfigModel" >
                <result property="id" column="id" />
                <result property="buId" column="bu_id" />
                <result property="buName" column="bu_name" />
                <result property="customerId" column="customer_id" />
                <result property="customerName" column="customer_name" />
                <result property="customerQuota" column="customer_quota" />
                <result property="currency" column="currency" />
                <result property="effectiveDate" column="effective_date" />
                <result property="expirationDate" column="expiration_date" />
                <result property="status" column="status" />
                <result property="creater" column="creater" />
                <result property="createName" column="create_name" />
                <result property="createDate" column="create_date" />
                <result property="modifier" column="modifier" />
                <result property="modifyName" column="modify_name" />
                <result property="modifyDate" column="modify_date" />
                <result property="auditer" column="auditer" />
                <result property="auditName" column="audit_name" />
                <result property="auditDate" column="audit_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='CustomerQuotaConfigModelMap' parameterType='CustomerQuotaConfigModel'>
        select <include refid='sql_columns' /> from t_customer_quota_config  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='CustomerQuotaConfigModelMap' parameterType='CustomerQuotaConfigModel'>
        select <include refid='sql_columns' /> from t_customer_quota_config  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='CustomerQuotaConfigModelMap' parameterType='CustomerQuotaConfigModel' >
        select <include refid='sql_columns' /> from t_customer_quota_config  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='CustomerQuotaConfigModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_customer_quota_config
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='customerId!=null' >customer_id , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                        <if test='customerQuota!=null' >customer_quota , </if>
                        <if test='currency!=null and !"".equals(currency)' > currency , </if>
                        <if test='effectiveDate!=null' >effective_date , </if>
                        <if test='expirationDate!=null' >expiration_date , </if>
                        <if test='status!=null and !"".equals(status)' > status , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createName!=null and !"".equals(createName)' > create_name , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifier!=null' >modifier , </if>
                        <if test='modifyName!=null and !"".equals(modifyName)' > modify_name , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
                        <if test='auditer!=null' >auditer , </if>
                        <if test='auditName!=null and !"".equals(auditName)' > audit_name , </if>
                        <if test='auditDate!=null' >audit_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='customerId!=null' > #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                        <if test='customerQuota!=null' > #{customerQuota} , </if>
                        <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
                        <if test='effectiveDate!=null' > #{effectiveDate} , </if>
                        <if test='expirationDate!=null' > #{expirationDate} , </if>
                        <if test='status!=null and !"".equals(status)' > #{status} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifier!=null' > #{modifier} , </if>
                        <if test='modifyName!=null and !"".equals(modifyName)' > #{modifyName} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='auditer!=null' > #{auditer} , </if>
                        <if test='auditName!=null and !"".equals(auditName)' > #{auditName} , </if>
                        <if test='auditDate!=null' > #{auditDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='CustomerQuotaConfigModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_customer_quota_config SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='customerId!=null' > customer_id= #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                        <if test='customerQuota!=null' > customer_quota= #{customerQuota} , </if>
                        <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
                        <if test='effectiveDate!=null' > effective_date= #{effectiveDate} , </if>
                        <if test='expirationDate!=null' > expiration_date= #{expirationDate} , </if>
                        <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifier!=null' > modifier= #{modifier} , </if>
                        <if test='modifyName!=null and !"".equals(modifyName)' >modify_name= #{modifyName} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='auditer!=null' > auditer= #{auditer} , </if>
                        <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} , </if>
                        <if test='auditDate!=null' > audit_date= #{auditDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_customer_quota_config  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_customer_quota_config where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            bu_id,
            bu_name,
            customer_id,
            customer_name,
            customer_quota,
            currency,
            effective_date,
            expiration_date,
            status,
            creater,
            create_name,
            create_date,
            modifier,
            modify_name,
            modify_date,
            auditer,
            audit_name,
            audit_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='customerQuota!=null' > customer_quota= #{customerQuota} and </if>
                            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                            <if test='effectiveDate!=null' > effective_date= #{effectiveDate} and </if>
                            <if test='expirationDate!=null' > expiration_date= #{expirationDate} and </if>
                            <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifier!=null' > modifier= #{modifier} and </if>
                            <if test='modifyName!=null and !"".equals(modifyName)' >modify_name= #{modifyName} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='auditer!=null' > auditer= #{auditer} and </if>
                            <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} and </if>
                            <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
	 	<!-- 查询所有信息 分页 -->
	    <select id='listDTOByPage' resultType='CustomerQuotaConfigDTO' parameterType='CustomerQuotaConfigDTO'>
	        select <include refid='sql_columns' /> from t_customer_quota_config 
	         <where>
                <trim suffixOverrides='and'>
                     <if test='id!=null' > id= #{id} and </if>
                     <if test='buId!=null' > bu_id= #{buId} and </if>
                     <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                     <if test='customerId!=null' > customer_id= #{customerId} and </if>
                     <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                     <if test='customerQuota!=null' > customer_quota= #{customerQuota} and </if>
                     <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                     <if test='effectiveDate!=null' > effective_date= #{effectiveDate} and </if>
                     <if test='expirationDate!=null' > expiration_date= #{expirationDate} and </if>
                     <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                     <if test='creater!=null' > creater= #{creater} and </if>
                     <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                     <if test='createDate!=null' > create_date= #{createDate} and </if>
                     <if test='modifier!=null' > modifier= #{modifier} and </if>
                     <if test='modifyName!=null and !"".equals(modifyName)' >modify_name= #{modifyName} and </if>
                     <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                     <if test='auditer!=null' > auditer= #{auditer} and </if>
                     <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} and </if>
                     <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                     <if test='buList!=null and !"".equals(buList)' >bu_id in
                    <foreach collection='buList' item='buId' separator=',' open='(' close=')'>
                        #{buId}
                    </foreach>
                    and
                </if>
                </trim>
            </where>
			order by create_date desc
	    </select>
		
			<!-- 查询生效范围内的所有信息  -->
	    <select id='listEffectiveDTO' resultType='CustomerQuotaConfigDTO' parameterType='map'>
	        select 
		        bu_id,
		        max(bu_name) as bu_name,
		        customer_id,
		        max(customer_name) as customer_name,
		        max(customer_quota) as customer_quota,
		        max(currency) as currency,
		        max(audit_date) as audit_date
	        from t_customer_quota_config 
	        <where>
                <trim suffixOverrides='and'>                     
                     <if test='buId != null' > bu_id= #{buId} and </if>
                     <if test='customerId != null' > customer_id= #{customerId} and </if>                     
                   	 <if test='currentDate != null' >
	                   	 effective_date  &lt;= #{currentDate} and
	                 	 expiration_date &gt;= #{currentDate} and 
                 	 </if>
                 	 status = '1'
                </trim>
            </where>
             GROUP BY bu_id,customer_id
	    </select>

</mapper>