<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.sale.JdStocksaleInfoMapper'>

        <!-- 关系映射 -->
        <resultMap id="JdStocksaleInfoModelMap" type="JdStocksaleInfoModel" >
                <result property="id" column="id" />
                <result property="wareId" column="ware_id" />
                <result property="name" column="name" />
                <result property="warehouse" column="warehouse" />
                <result property="volume" column="volume" />
                <result property="stock" column="stock" />
                <result property="orderNum" column="order_num" />
                <result property="businessDate" column="business_date" />
                <result property="platform" column="platform" />
                <result property="userCode" column="user_code" />
                <result property="oldId" column="old_id" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="customerId" column="customer_id" />
                <result property="customerName" column="customer_name" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='JdStocksaleInfoModelMap' parameterType='JdStocksaleInfoModel'>
        select <include refid='sql_columns' /> from t_jd_stocksale_info  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='JdStocksaleInfoModelMap' parameterType='JdStocksaleInfoModel'>
        select <include refid='sql_columns' /> from t_jd_stocksale_info  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='JdStocksaleInfoModelMap' parameterType='JdStocksaleInfoModel' >
        select <include refid='sql_columns' /> from t_jd_stocksale_info  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='JdStocksaleInfoModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_jd_stocksale_info
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='wareId!=null and !"".equals(wareId)' > ware_id , </if>
                        <if test='name!=null and !"".equals(name)' > name , </if>
                        <if test='warehouse!=null and !"".equals(warehouse)' > warehouse , </if>
                        <if test='volume!=null' >volume , </if>
                        <if test='stock!=null' >stock , </if>
                        <if test='orderNum!=null' >order_num , </if>
                        <if test='businessDate!=null' >business_date , </if>
                        <if test='platform!=null and !"".equals(platform)' > platform , </if>
                        <if test='userCode!=null and !"".equals(userCode)' > user_code , </if>
                        <if test='oldId!=null' >old_id , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='customerId!=null' >customer_id , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='wareId!=null and !"".equals(wareId)' > #{wareId} , </if>
                        <if test='name!=null and !"".equals(name)' > #{name} , </if>
                        <if test='warehouse!=null and !"".equals(warehouse)' > #{warehouse} , </if>
                        <if test='volume!=null' > #{volume} , </if>
                        <if test='stock!=null' > #{stock} , </if>
                        <if test='orderNum!=null' > #{orderNum} , </if>
                        <if test='businessDate!=null' > #{businessDate} , </if>
                        <if test='platform!=null and !"".equals(platform)' > #{platform} , </if>
                        <if test='userCode!=null and !"".equals(userCode)' > #{userCode} , </if>
                        <if test='oldId!=null' > #{oldId} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='customerId!=null' > #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='JdStocksaleInfoModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_jd_stocksale_info SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='wareId!=null and !"".equals(wareId)' >ware_id= #{wareId} , </if>
                        <if test='name!=null and !"".equals(name)' >name= #{name} , </if>
                        <if test='warehouse!=null and !"".equals(warehouse)' >warehouse= #{warehouse} , </if>
                        <if test='volume!=null' > volume= #{volume} , </if>
                        <if test='stock!=null' > stock= #{stock} , </if>
                        <if test='orderNum!=null' > order_num= #{orderNum} , </if>
                        <if test='businessDate!=null' > business_date= #{businessDate} , </if>
                        <if test='platform!=null and !"".equals(platform)' >platform= #{platform} , </if>
                        <if test='userCode!=null and !"".equals(userCode)' >user_code= #{userCode} , </if>
                        <if test='oldId!=null' > old_id= #{oldId} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='customerId!=null' > customer_id= #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_jd_stocksale_info  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_jd_stocksale_info where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            ware_id,
            name,
            warehouse,
            volume,
            stock,
            order_num,
            business_date,
            platform,
            user_code,
            old_id,
            merchant_id,
            merchant_name,
            customer_id,
            customer_name,
            create_date,
            modify_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='wareId!=null and !"".equals(wareId)' >ware_id= #{wareId} and </if>
                            <if test='name!=null and !"".equals(name)' >name= #{name} and </if>
                            <if test='warehouse!=null and !"".equals(warehouse)' >warehouse= #{warehouse} and </if>
                            <if test='volume!=null' > volume= #{volume} and </if>
                            <if test='stock!=null' > stock= #{stock} and </if>
                            <if test='orderNum!=null' > order_num= #{orderNum} and </if>
                            <if test='businessDate!=null' > business_date= #{businessDate} and </if>
                            <if test='platform!=null and !"".equals(platform)' >platform= #{platform} and </if>
                            <if test='userCode!=null and !"".equals(userCode)' >user_code= #{userCode} and </if>
                            <if test='oldId!=null' > old_id= #{oldId} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->




</mapper>