<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.sale.OrderHistoryMapper'>

        <!-- 关系映射 -->
        <resultMap id="OrderHistoryModelMap" type="OrderHistoryModel" >
                <result property="id" column="id" />
                <result property="code" column="code" />
                <result property="externalCode" column="external_code" />
                <result property="wayBillNo" column="way_bill_no" />
                <result property="tradingDate" column="trading_date" />
                <result property="status" column="status" />
                <result property="depotId" column="depot_id" />
                <result property="depotName" column="depot_name" />
                <result property="auditDate" column="audit_date" />
                <result property="declareDate" column="declare_date" />
                <result property="releaseDate" column="release_date" />
                <result property="deliverDate" column="deliver_date" />
                <result property="logisticsName" column="logistics_name" />
                <result property="importMode" column="import_mode" />
                <result property="makerTel" column="maker_tel" />
                <result property="makerName" column="maker_name" />
                <result property="makerRegisterNo" column="maker_register_no" />
                <result property="receiverName" column="receiver_name" />
                <result property="receiverTel" column="receiver_tel" />
                <result property="receiverCountry" column="receiver_country" />
                <result property="receiverProvince" column="receiver_province" />
                <result property="receiverCity" column="receiver_city" />
                <result property="receiverArea" column="receiver_area" />
                <result property="receiverAddress" column="receiver_address" />
                <result property="orderSource" column="order_source" />
                <result property="declarePlan" column="declare_plan" />
                <result property="merchantName" column="merchant_name" />
                <result property="merchantId" column="merchant_id" />
                <result property="inspectStatus" column="inspect_status" />
                <result property="customsStatus" column="customs_status" />
                <result property="storePlatformName" column="store_platform_name" />
                <result property="remark" column="remark" />
                <result property="creater" column="creater" />
                <result property="createDate" column="create_date" />
                <result property="wayFrtFee" column="way_frt_fee" />
                <result property="wayIndFee" column="way_ind_fee" />
                <result property="taxes" column="taxes" />
                <result property="goodsAmount" column="goods_amount" />
                <result property="payment" column="payment" />
                <result property="discount" column="discount" />
                <result property="makingTime" column="making_time" />
                <result property="modifyDate" column="modify_date" />
                <result property="customerId" column="customer_id" />
                <result property="customerName" column="customer_name" />
                <result property="shopCode" column="shop_code" />
                <result property="shopName" column="shop_name" />
                <result property="saleCom" column="sale_com" />
                <result property="currency" column="currency" />
                <result property="shopTypeCode" column="shop_type_code" />
                <result property="exOrderId" column="ex_order_id" />
                <result property="weight" column="weight" />
                <result property="tallyingUnit" column="tallying_unit" />
                <result property="isGenerate" column="is_generate" />
                <result property="tradePayment" column="trade_payment" />
                <result property="tradePaymentTax" column="trade_payment_tax" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='OrderHistoryModelMap' parameterType='OrderHistoryModel'>
        select <include refid='sql_columns' /> from t_order_history  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='OrderHistoryModelMap' parameterType='OrderHistoryModel'>
        select <include refid='sql_columns' /> from t_order_history  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='OrderHistoryModelMap' parameterType='OrderHistoryModel' >
        select <include refid='sql_columns' /> from t_order_history  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='OrderHistoryModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_order_history
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='code!=null and !"".equals(code)' > code , </if>
                        <if test='externalCode!=null and !"".equals(externalCode)' > external_code , </if>
                        <if test='wayBillNo!=null and !"".equals(wayBillNo)' > way_bill_no , </if>
                        <if test='tradingDate!=null' >trading_date , </if>
                        <if test='status!=null and !"".equals(status)' > status , </if>
                        <if test='depotId!=null' >depot_id , </if>
                        <if test='depotName!=null and !"".equals(depotName)' > depot_name , </if>
                        <if test='auditDate!=null' >audit_date , </if>
                        <if test='declareDate!=null' >declare_date , </if>
                        <if test='releaseDate!=null' >release_date , </if>
                        <if test='deliverDate!=null' >deliver_date , </if>
                        <if test='logisticsName!=null and !"".equals(logisticsName)' > logistics_name , </if>
                        <if test='importMode!=null and !"".equals(importMode)' > import_mode , </if>
                        <if test='makerTel!=null and !"".equals(makerTel)' > maker_tel , </if>
                        <if test='makerName!=null and !"".equals(makerName)' > maker_name , </if>
                        <if test='makerRegisterNo!=null and !"".equals(makerRegisterNo)' > maker_register_no , </if>
                        <if test='receiverName!=null and !"".equals(receiverName)' > receiver_name , </if>
                        <if test='receiverTel!=null and !"".equals(receiverTel)' > receiver_tel , </if>
                        <if test='receiverCountry!=null and !"".equals(receiverCountry)' > receiver_country , </if>
                        <if test='receiverProvince!=null and !"".equals(receiverProvince)' > receiver_province , </if>
                        <if test='receiverCity!=null and !"".equals(receiverCity)' > receiver_city , </if>
                        <if test='receiverArea!=null and !"".equals(receiverArea)' > receiver_area , </if>
                        <if test='receiverAddress!=null and !"".equals(receiverAddress)' > receiver_address , </if>
                        <if test='orderSource!=null' >order_source , </if>
                        <if test='declarePlan!=null' >declare_plan , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='inspectStatus!=null and !"".equals(inspectStatus)' > inspect_status , </if>
                        <if test='customsStatus!=null and !"".equals(customsStatus)' > customs_status , </if>
                        <if test='storePlatformName!=null and !"".equals(storePlatformName)' > store_platform_name , </if>
                        <if test='remark!=null and !"".equals(remark)' > remark , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='wayFrtFee!=null' >way_frt_fee , </if>
                        <if test='wayIndFee!=null' >way_ind_fee , </if>
                        <if test='taxes!=null' >taxes , </if>
                        <if test='goodsAmount!=null' >goods_amount , </if>
                        <if test='payment!=null' >payment , </if>
                        <if test='discount!=null' >discount , </if>
                        <if test='makingTime!=null' >making_time , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
                        <if test='customerId!=null' >customer_id , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                        <if test='shopCode!=null and !"".equals(shopCode)' > shop_code , </if>
                        <if test='shopName!=null and !"".equals(shopName)' > shop_name , </if>
                        <if test='saleCom!=null' >sale_com , </if>
                        <if test='currency!=null and !"".equals(currency)' > currency , </if>
                        <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' > shop_type_code , </if>
                        <if test='exOrderId!=null and !"".equals(exOrderId)' > ex_order_id , </if>
                        <if test='weight!=null' >weight , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > tallying_unit , </if>
                        <if test='isGenerate!=null and !"".equals(isGenerate)' > is_generate , </if>
                        <if test='tradePayment!=null' >trade_payment , </if>
                        <if test='tradePaymentTax!=null' >trade_payment_tax , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='code!=null and !"".equals(code)' > #{code} , </if>
                        <if test='externalCode!=null and !"".equals(externalCode)' > #{externalCode} , </if>
                        <if test='wayBillNo!=null and !"".equals(wayBillNo)' > #{wayBillNo} , </if>
                        <if test='tradingDate!=null' > #{tradingDate} , </if>
                        <if test='status!=null and !"".equals(status)' > #{status} , </if>
                        <if test='depotId!=null' > #{depotId} , </if>
                        <if test='depotName!=null and !"".equals(depotName)' > #{depotName} , </if>
                        <if test='auditDate!=null' > #{auditDate} , </if>
                        <if test='declareDate!=null' > #{declareDate} , </if>
                        <if test='releaseDate!=null' > #{releaseDate} , </if>
                        <if test='deliverDate!=null' > #{deliverDate} , </if>
                        <if test='logisticsName!=null and !"".equals(logisticsName)' > #{logisticsName} , </if>
                        <if test='importMode!=null and !"".equals(importMode)' > #{importMode} , </if>
                        <if test='makerTel!=null and !"".equals(makerTel)' > #{makerTel} , </if>
                        <if test='makerName!=null and !"".equals(makerName)' > #{makerName} , </if>
                        <if test='makerRegisterNo!=null and !"".equals(makerRegisterNo)' > #{makerRegisterNo} , </if>
                        <if test='receiverName!=null and !"".equals(receiverName)' > #{receiverName} , </if>
                        <if test='receiverTel!=null and !"".equals(receiverTel)' > #{receiverTel} , </if>
                        <if test='receiverCountry!=null and !"".equals(receiverCountry)' > #{receiverCountry} , </if>
                        <if test='receiverProvince!=null and !"".equals(receiverProvince)' > #{receiverProvince} , </if>
                        <if test='receiverCity!=null and !"".equals(receiverCity)' > #{receiverCity} , </if>
                        <if test='receiverArea!=null and !"".equals(receiverArea)' > #{receiverArea} , </if>
                        <if test='receiverAddress!=null and !"".equals(receiverAddress)' > #{receiverAddress} , </if>
                        <if test='orderSource!=null' > #{orderSource} , </if>
                        <if test='declarePlan!=null' > #{declarePlan} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='inspectStatus!=null and !"".equals(inspectStatus)' > #{inspectStatus} , </if>
                        <if test='customsStatus!=null and !"".equals(customsStatus)' > #{customsStatus} , </if>
                        <if test='storePlatformName!=null and !"".equals(storePlatformName)' > #{storePlatformName} , </if>
                        <if test='remark!=null and !"".equals(remark)' > #{remark} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='wayFrtFee!=null' > #{wayFrtFee} , </if>
                        <if test='wayIndFee!=null' > #{wayIndFee} , </if>
                        <if test='taxes!=null' > #{taxes} , </if>
                        <if test='goodsAmount!=null' > #{goodsAmount} , </if>
                        <if test='payment!=null' > #{payment} , </if>
                        <if test='discount!=null' > #{discount} , </if>
                        <if test='makingTime!=null' > #{makingTime} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='customerId!=null' > #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                        <if test='shopCode!=null and !"".equals(shopCode)' > #{shopCode} , </if>
                        <if test='shopName!=null and !"".equals(shopName)' > #{shopName} , </if>
                        <if test='saleCom!=null' > #{saleCom} , </if>
                        <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
                        <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' > #{shopTypeCode} , </if>
                        <if test='exOrderId!=null and !"".equals(exOrderId)' > #{exOrderId} , </if>
                        <if test='weight!=null' > #{weight} , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > #{tallyingUnit} , </if>
                        <if test='isGenerate!=null and !"".equals(isGenerate)' > #{isGenerate} , </if>
                        <if test='tradePayment!=null' > #{tradePayment} , </if>
                        <if test='tradePaymentTax!=null' > #{tradePaymentTax} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='OrderHistoryModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_order_history SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
                        <if test='externalCode!=null and !"".equals(externalCode)' >external_code= #{externalCode} , </if>
                        <if test='wayBillNo!=null and !"".equals(wayBillNo)' >way_bill_no= #{wayBillNo} , </if>
                        <if test='tradingDate!=null' > trading_date= #{tradingDate} , </if>
                        <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                        <if test='depotId!=null' > depot_id= #{depotId} , </if>
                        <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} , </if>
                        <if test='auditDate!=null' > audit_date= #{auditDate} , </if>
                        <if test='declareDate!=null' > declare_date= #{declareDate} , </if>
                        <if test='releaseDate!=null' > release_date= #{releaseDate} , </if>
                        <if test='deliverDate!=null' > deliver_date= #{deliverDate} , </if>
                        <if test='logisticsName!=null and !"".equals(logisticsName)' >logistics_name= #{logisticsName} , </if>
                        <if test='importMode!=null and !"".equals(importMode)' >import_mode= #{importMode} , </if>
                        <if test='makerTel!=null and !"".equals(makerTel)' >maker_tel= #{makerTel} , </if>
                        <if test='makerName!=null and !"".equals(makerName)' >maker_name= #{makerName} , </if>
                        <if test='makerRegisterNo!=null and !"".equals(makerRegisterNo)' >maker_register_no= #{makerRegisterNo} , </if>
                        <if test='receiverName!=null and !"".equals(receiverName)' >receiver_name= #{receiverName} , </if>
                        <if test='receiverTel!=null and !"".equals(receiverTel)' >receiver_tel= #{receiverTel} , </if>
                        <if test='receiverCountry!=null and !"".equals(receiverCountry)' >receiver_country= #{receiverCountry} , </if>
                        <if test='receiverProvince!=null and !"".equals(receiverProvince)' >receiver_province= #{receiverProvince} , </if>
                        <if test='receiverCity!=null and !"".equals(receiverCity)' >receiver_city= #{receiverCity} , </if>
                        <if test='receiverArea!=null and !"".equals(receiverArea)' >receiver_area= #{receiverArea} , </if>
                        <if test='receiverAddress!=null and !"".equals(receiverAddress)' >receiver_address= #{receiverAddress} , </if>
                        <if test='orderSource!=null' > order_source= #{orderSource} , </if>
                        <if test='declarePlan!=null' > declare_plan= #{declarePlan} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='inspectStatus!=null and !"".equals(inspectStatus)' >inspect_status= #{inspectStatus} , </if>
                        <if test='customsStatus!=null and !"".equals(customsStatus)' >customs_status= #{customsStatus} , </if>
                        <if test='storePlatformName!=null and !"".equals(storePlatformName)' >store_platform_name= #{storePlatformName} , </if>
                        <if test='remark!=null and !"".equals(remark)' >remark= #{remark} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='wayFrtFee!=null' > way_frt_fee= #{wayFrtFee} , </if>
                        <if test='wayIndFee!=null' > way_ind_fee= #{wayIndFee} , </if>
                        <if test='taxes!=null' > taxes= #{taxes} , </if>
                        <if test='goodsAmount!=null' > goods_amount= #{goodsAmount} , </if>
                        <if test='payment!=null' > payment= #{payment} , </if>
                        <if test='discount!=null' > discount= #{discount} , </if>
                        <if test='makingTime!=null' > making_time= #{makingTime} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='customerId!=null' > customer_id= #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                        <if test='shopCode!=null and !"".equals(shopCode)' >shop_code= #{shopCode} , </if>
                        <if test='shopName!=null and !"".equals(shopName)' >shop_name= #{shopName} , </if>
                        <if test='saleCom!=null' > sale_com= #{saleCom} , </if>
                        <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
                        <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' >shop_type_code= #{shopTypeCode} , </if>
                        <if test='exOrderId!=null and !"".equals(exOrderId)' >ex_order_id= #{exOrderId} , </if>
                        <if test='weight!=null' > weight= #{weight} , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} , </if>
                        <if test='isGenerate!=null and !"".equals(isGenerate)' >is_generate= #{isGenerate} , </if>
                        <if test='tradePayment!=null' > trade_payment= #{tradePayment} , </if>
                        <if test='tradePaymentTax!=null' > trade_payment_tax= #{tradePaymentTax} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_order_history  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_order_history where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            code,
            external_code,
            way_bill_no,
            trading_date,
            status,
            depot_id,
            depot_name,
            audit_date,
            declare_date,
            release_date,
            deliver_date,
            logistics_name,
            import_mode,
            maker_tel,
            maker_name,
            maker_register_no,
            receiver_name,
            receiver_tel,
            receiver_country,
            receiver_province,
            receiver_city,
            receiver_area,
            receiver_address,
            order_source,
            declare_plan,
            merchant_name,
            merchant_id,
            inspect_status,
            customs_status,
            store_platform_name,
            remark,
            creater,
            create_date,
            way_frt_fee,
            way_ind_fee,
            taxes,
            goods_amount,
            payment,
            discount,
            making_time,
            modify_date,
            customer_id,
            customer_name,
            shop_code,
            shop_name,
            sale_com,
            currency,
            shop_type_code,
            ex_order_id,
            weight,
            tallying_unit,
            is_generate,
            trade_payment,
            trade_payment_tax
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                            <if test='externalCode!=null and !"".equals(externalCode)' >external_code= #{externalCode} and </if>
                            <if test='wayBillNo!=null and !"".equals(wayBillNo)' >way_bill_no= #{wayBillNo} and </if>
                            <if test='tradingDate!=null' > trading_date= #{tradingDate} and </if>
                            <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                            <if test='depotId!=null' > depot_id= #{depotId} and </if>
                            <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} and </if>
                            <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                            <if test='declareDate!=null' > declare_date= #{declareDate} and </if>
                            <if test='releaseDate!=null' > release_date= #{releaseDate} and </if>
                            <if test='deliverDate!=null' > deliver_date= #{deliverDate} and </if>
                            <if test='logisticsName!=null and !"".equals(logisticsName)' >logistics_name= #{logisticsName} and </if>
                            <if test='importMode!=null and !"".equals(importMode)' >import_mode= #{importMode} and </if>
                            <if test='makerTel!=null and !"".equals(makerTel)' >maker_tel= #{makerTel} and </if>
                            <if test='makerName!=null and !"".equals(makerName)' >maker_name= #{makerName} and </if>
                            <if test='makerRegisterNo!=null and !"".equals(makerRegisterNo)' >maker_register_no= #{makerRegisterNo} and </if>
                            <if test='receiverName!=null and !"".equals(receiverName)' >receiver_name= #{receiverName} and </if>
                            <if test='receiverTel!=null and !"".equals(receiverTel)' >receiver_tel= #{receiverTel} and </if>
                            <if test='receiverCountry!=null and !"".equals(receiverCountry)' >receiver_country= #{receiverCountry} and </if>
                            <if test='receiverProvince!=null and !"".equals(receiverProvince)' >receiver_province= #{receiverProvince} and </if>
                            <if test='receiverCity!=null and !"".equals(receiverCity)' >receiver_city= #{receiverCity} and </if>
                            <if test='receiverArea!=null and !"".equals(receiverArea)' >receiver_area= #{receiverArea} and </if>
                            <if test='receiverAddress!=null and !"".equals(receiverAddress)' >receiver_address= #{receiverAddress} and </if>
                            <if test='orderSource!=null' > order_source= #{orderSource} and </if>
                            <if test='declarePlan!=null' > declare_plan= #{declarePlan} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='inspectStatus!=null and !"".equals(inspectStatus)' >inspect_status= #{inspectStatus} and </if>
                            <if test='customsStatus!=null and !"".equals(customsStatus)' >customs_status= #{customsStatus} and </if>
                            <if test='storePlatformName!=null and !"".equals(storePlatformName)' >store_platform_name= #{storePlatformName} and </if>
                            <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='wayFrtFee!=null' > way_frt_fee= #{wayFrtFee} and </if>
                            <if test='wayIndFee!=null' > way_ind_fee= #{wayIndFee} and </if>
                            <if test='taxes!=null' > taxes= #{taxes} and </if>
                            <if test='goodsAmount!=null' > goods_amount= #{goodsAmount} and </if>
                            <if test='payment!=null' > payment= #{payment} and </if>
                            <if test='discount!=null' > discount= #{discount} and </if>
                            <if test='makingTime!=null' > making_time= #{makingTime} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='shopCode!=null and !"".equals(shopCode)' >shop_code= #{shopCode} and </if>
                            <if test='shopName!=null and !"".equals(shopName)' >shop_name= #{shopName} and </if>
                            <if test='saleCom!=null' > sale_com= #{saleCom} and </if>
                            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                            <if test='shopTypeCode!=null and !"".equals(shopTypeCode)' >shop_type_code= #{shopTypeCode} and </if>
                            <if test='exOrderId!=null and !"".equals(exOrderId)' >ex_order_id= #{exOrderId} and </if>
                            <if test='weight!=null' > weight= #{weight} and </if>
                            <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} and </if>
                            <if test='isGenerate!=null and !"".equals(isGenerate)' >is_generate= #{isGenerate} and </if>
                            <if test='tradePayment!=null' > trade_payment= #{tradePayment} and </if>
                            <if test='tradePaymentTax!=null' > trade_payment_tax= #{tradePaymentTax} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
    <!-- 查询条件 -->
    <sql id='sql_where_page'>
        <where>
            <trim suffixOverrides='and'>
                <if test='merchantId!=null' > t.merchant_id= #{merchantId} and </if>
                <if test='code!=null and !"".equals(code)' >t.code= #{code} and </if>
                <if test='externalCode!=null and !"".equals(externalCode)' >t.external_code= #{externalCode} and </if>
                <if test='tradingStartDate!=null and !"".equals(tradingStartDate)' >
                    date_format(trading_date,'%Y-%m-%d %H:%i:%S') &gt;= #{tradingStartDate} and
                </if>
                <if test='tradingEndDate!=null and !"".equals(tradingEndDate)' >
                    date_format(trading_date,'%Y-%m-%d %H:%i:%S') &lt;= #{tradingEndDate} and
                </if>
                <if test='deliverStartDate!=null and !"".equals(deliverStartDate)' >
                    date_format(deliver_date,'%Y-%m-%d %H:%i:%S') &gt;= #{deliverStartDate} and
                </if>
                <if test='deliverEndDate!=null and !"".equals(deliverEndDate)' >
                    date_format(deliver_date,'%Y-%m-%d %H:%i:%S') &lt;= #{deliverEndDate} and
                </if>
                <if test='depotId!=null' > t.depot_id= #{depotId} and </if>
                <if test='wayBillNo!=null and !"".equals(wayBillNo)' >t.way_bill_no= #{wayBillNo} and </if>
                <if test='status!=null and !"".equals(status)' >t.status= #{status} and </if>
                <if test='storePlatformName!=null and !"".equals(storePlatformName)' >store_platform_name= #{storePlatformName} and </if>
                <if test='shopCode!=null and !"".equals(shopCode)' >shop_code= #{shopCode} and </if>
                <if test='orderSource!=null' > order_source= #{orderSource} and </if>
                <if test='exOrderId!=null and !"".equals(exOrderId)' >ex_order_id= #{exOrderId} and </if>
                <if test='ids!=null and !"".equals(ids)' > id in
	                <foreach collection="ids.split(',')"  item='id' separator=',' open='(' close=')'>
			            #{id}
			        </foreach>
			        and
                </if>
                t.status != "006" and
            </trim>
        </where>
    </sql>
    <!-- 查询所有信息 分页 -->
    <select id='newDtoListByPage' resultType='OrderHistoryDTO' parameterType='OrderHistoryDTO'>
        select <include refid='sql_columns' /> from t_order_history t
        <where>
            <trim suffixOverrides='and'>
                <if test='makerTel!=null and !"".equals(makerTel)' >maker_tel= #{makerTel} and </if>
                <if test='declareDate!=null' > declare_date= #{declareDate} and </if>
                <if test='importMode!=null and !"".equals(importMode)' >import_mode= #{importMode} and </if>
                <if test='receiverTel!=null and !"".equals(receiverTel)' >receiver_tel= #{receiverTel} and </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='externalCode!=null and !"".equals(externalCode)' >external_code= #{externalCode} and </if>
                <if test='tradingStartDate!=null and !"".equals(tradingStartDate)' >
                    date_format(trading_date,'%Y-%m-%d %H:%i:%S') &gt;= #{tradingStartDate} and
                </if>
                <if test='tradingEndDate!=null and !"".equals(tradingEndDate)' >
                    date_format(trading_date,'%Y-%m-%d %H:%i:%S') &lt;= #{tradingEndDate} and
                </if>
                <if test='deliverStartDate!=null and !"".equals(deliverStartDate)' >
                    date_format(deliver_date,'%Y-%m-%d %H:%i:%S') &gt;= #{deliverStartDate} and
                </if>
                <if test='deliverEndDate!=null and !"".equals(deliverEndDate)' >
                    date_format(deliver_date,'%Y-%m-%d %H:%i:%S') &lt;= #{deliverEndDate} and
                </if>
                <if test='goodsAmount!=null' > goods_amount= #{goodsAmount} and </if>
                <if test='depotId!=null' > depot_id= #{depotId} and </if>
                <if test='taxes!=null' > taxes= #{taxes} and </if>
                <if test='discount!=null' > discount= #{discount} and </if>
                <if test='shopName!=null and !"".equals(shopName)' >shop_name= #{shopName} and </if>
                <if test='receiverProvince!=null and !"".equals(receiverProvince)' >receiver_province= #{receiverProvince} and </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                <if test='declarePlan!=null' > declare_plan= #{declarePlan} and </if>
                <if test='receiverCity!=null and !"".equals(receiverCity)' >receiver_city= #{receiverCity} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='storePlatformName!=null and !"".equals(storePlatformName) ' >store_platform_name= #{storePlatformName} and </if>
                <if test='receiverCountry!=null and !"".equals(receiverCountry)' >receiver_country= #{receiverCountry} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='customerId!=null' > customer_id= #{customerId} and </if>
                <if test='deliverDate!=null' > deliver_date= #{deliverDate} and </if>
                <if test='payment!=null' > payment= #{payment} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='makerName!=null and !"".equals(makerName)' >maker_name= #{makerName} and </if>
                <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='makingTime!=null' > making_time= #{makingTime} and </if>
                <if test='shopCode!=null and !"".equals(shopCode)' >shop_code= #{shopCode} and </if>
                <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} and </if>
                <if test='orderSource!=null' > order_source= #{orderSource} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='releaseDate!=null' > release_date= #{releaseDate} and </if>
                <if test='receiverName!=null and !"".equals(receiverName)' >receiver_name= #{receiverName} and </if>
                <if test='receiverArea!=null and !"".equals(receiverArea)' >receiver_area= #{receiverArea} and </if>
                <if test='makerRegisterNo!=null and !"".equals(makerRegisterNo)' >maker_register_no= #{makerRegisterNo} and </if>
                <if test='inspectStatus!=null and !"".equals(inspectStatus)' >inspect_status= #{inspectStatus} and </if>
                <if test='wayFrtFee!=null' > way_frt_fee= #{wayFrtFee} and </if>
                <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                <if test='logisticsName!=null and !"".equals(logisticsName)' >logistics_name= #{logisticsName} and </if>
                <if test='receiverAddress!=null and !"".equals(receiverAddress)' >receiver_address= #{receiverAddress} and </if>
                <if test='wayIndFee!=null' > way_ind_fee= #{wayIndFee} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='wayBillNo!=null and !"".equals(wayBillNo)' >way_bill_no= #{wayBillNo} and </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                <if test='customsStatus!=null and !"".equals(customsStatus)' >customs_status= #{customsStatus} and </if>
                <if test='orderSource!=null' > order_source= #{orderSource} and </if>
                <if test='exOrderId!=null and !"".equals(exOrderId)' >ex_order_id= #{exOrderId} and </if>
                status != "006" and
            </trim>
        </where>
        order by id desc
    </select>
    <!-- 统计信息数量 -->
    <select id="queryDtoListCount" resultType='Integer' parameterType='OrderDto'>
        select count(id) from t_order_history t
        <where>
            <trim suffixOverrides='and'>
                <if test='makerTel!=null and !"".equals(makerTel)' >maker_tel= #{makerTel} and </if>
                <if test='declareDate!=null' > declare_date= #{declareDate} and </if>
                <if test='importMode!=null and !"".equals(importMode)' >import_mode= #{importMode} and </if>
                <if test='receiverTel!=null and !"".equals(receiverTel)' >receiver_tel= #{receiverTel} and </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='externalCode!=null and !"".equals(externalCode)' >external_code= #{externalCode} and </if>
                <if test='tradingStartDate!=null and !"".equals(tradingStartDate)' >
                    date_format(trading_date,'%Y-%m-%d %H:%i:%S') &gt;= #{tradingStartDate} and
                </if>
                <if test='tradingEndDate!=null and !"".equals(tradingEndDate)' >
                    date_format(trading_date,'%Y-%m-%d %H:%i:%S') &lt;= #{tradingEndDate} and
                </if>
                <if test='deliverStartDate!=null and !"".equals(deliverStartDate)' >
                    date_format(deliver_date,'%Y-%m-%d %H:%i:%S') &gt;= #{deliverStartDate} and
                </if>
                <if test='deliverEndDate!=null and !"".equals(deliverEndDate)' >
                    date_format(deliver_date,'%Y-%m-%d %H:%i:%S') &lt;= #{deliverEndDate} and
                </if>
                <if test='goodsAmount!=null' > goods_amount= #{goodsAmount} and </if>
                <if test='depotId!=null' > depot_id= #{depotId} and </if>
                <if test='taxes!=null' > taxes= #{taxes} and </if>
                <if test='discount!=null' > discount= #{discount} and </if>
                <if test='shopName!=null and !"".equals(shopName)' >shop_name= #{shopName} and </if>
                <if test='receiverProvince!=null and !"".equals(receiverProvince)' >receiver_province= #{receiverProvince} and </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                <if test='declarePlan!=null' > declare_plan= #{declarePlan} and </if>
                <if test='receiverCity!=null and !"".equals(receiverCity)' >receiver_city= #{receiverCity} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='storePlatformName!=null and !"".equals(storePlatformName) ' >store_platform_name= #{storePlatformName} and </if>

                <if test='receiverCountry!=null and !"".equals(receiverCountry)' >receiver_country= #{receiverCountry} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='customerId!=null' > customer_id= #{customerId} and </if>
                <if test='deliverDate!=null' > deliver_date= #{deliverDate} and </if>
                <if test='payment!=null' > payment= #{payment} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='makerName!=null and !"".equals(makerName)' >maker_name= #{makerName} and </if>
                <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='makingTime!=null' > making_time= #{makingTime} and </if>
                <if test='shopCode!=null and !"".equals(shopCode)' >shop_code= #{shopCode} and </if>
                <if test='depotName!=null and !"".equals(depotName)' >depot_name= #{depotName} and </if>
                <if test='orderSource!=null' > order_source= #{orderSource} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='releaseDate!=null' > release_date= #{releaseDate} and </if>
                <if test='receiverName!=null and !"".equals(receiverName)' >receiver_name= #{receiverName} and </if>
                <if test='receiverArea!=null and !"".equals(receiverArea)' >receiver_area= #{receiverArea} and </if>
                <if test='makerRegisterNo!=null and !"".equals(makerRegisterNo)' >maker_register_no= #{makerRegisterNo} and </if>
                <if test='inspectStatus!=null and !"".equals(inspectStatus)' >inspect_status= #{inspectStatus} and </if>
                <if test='wayFrtFee!=null' > way_frt_fee= #{wayFrtFee} and </if>
                <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                <if test='logisticsName!=null and !"".equals(logisticsName)' >logistics_name= #{logisticsName} and </if>
                <if test='receiverAddress!=null and !"".equals(receiverAddress)' >receiver_address= #{receiverAddress} and </if>
                <if test='wayIndFee!=null' > way_ind_fee= #{wayIndFee} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='wayBillNo!=null and !"".equals(wayBillNo)' >way_bill_no= #{wayBillNo} and </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                <if test='customsStatus!=null and !"".equals(customsStatus)' >customs_status= #{customsStatus} and </if>
                <if test='orderSource!=null' > order_source= #{orderSource} and </if>
                <if test='exOrderId!=null and !"".equals(exOrderId)' >ex_order_id= #{exOrderId} and </if>
                <if test='ids!=null and !"".equals(ids)' > id in
	                <foreach collection="ids.split(',')"  item='id' separator=',' open='(' close=')'>
			            #{id}
			        </foreach>
			        and
                </if>
                status != "006" and
            </trim>
        </where>
    </select>
    <!-- 根据条件查询需要导出的数据 -->
    <select id="getExportOrderMap" resultType='Map' parameterType='OrderDTO'>
        select t.*,
        t2.goods_no,t2.goods_code,t2.goods_name,t2.price,t2.num ,t2.barcode, t.sale_com,t2.dec_total,t2.original_price,t2.original_dec_total,t2.goods_discount,t2.sale_com as goods_sale_com,t2.tax as goods_tax,
		t2.bu_name,
		t2.trade_dec_total,
        t2.trade_dec_tax,
        t2.stock_location_type_name
        from  t_order_item_history t2
        left join t_order_history t  on t.id = t2.order_id
        <include refid='sql_where_page' />
        order by t.id desc limit ${begin},${pageSize}
    </select>

    <select id='searchDtoById' resultType='OrderHistoryDTO' parameterType='OrderHistoryDTO' >
        select <include refid='sql_columns' /> from  t_order_history <include refid='sql_where' />
    </select>
    <select id="getExportOrderCount" resultType='Integer' parameterType='OrderDTO'>
        select count(1)
        from  t_order_item_history t2
        left join t_order_history t  on t.id = t2.order_id
        <include refid='sql_where_page' />
        order by t.id desc
    </select>
</mapper>
