<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.sale.SaleSdOrderMapper'>

    <!-- 关系映射 -->
    <resultMap id="SaleSdOrderModelMap" type="SaleSdOrderModel" >
        <result property="id" column="id" />
        <result property="code" column="code" />
        <result property="buId" column="bu_id" />
        <result property="buName" column="bu_name" />
        <result property="merchantId" column="merchant_id" />
        <result property="merchantName" column="merchant_name" />
        <result property="customerId" column="customer_id" />
        <result property="customerName" column="customer_name" />
        <result property="poNo" column="po_no" />
        <result property="sdTypeId" column="sd_type_id" />
        <result property="sdType" column="sd_type" />
        <result property="sdTypeName" column="sd_type_name" />
        <result property="currency" column="currency" />
        <result property="totalSdNum" column="total_sd_num" />
        <result property="totalSdAmount" column="total_sd_amount" />
        <result property="state" column="state" />
        <result property="creater" column="creater" />
        <result property="createName" column="create_name" />
        <result property="createDate" column="create_date" />
        <result property="modifier" column="modifier" />
        <result property="modifiyName" column="modifiy_name" />
        <result property="modifyDate" column="modify_date" />
        <result property="orderSource" column="order_source" />
        <result property="orderId" column="order_id" />
        <result property="orderCode" column="order_code" />
        <result property="businessId" column="business_id" />
        <result property="businessCode" column="business_code" />
        <result property="orderType" column="order_type" />
        <result property="ownDate" column="own_date" />
        <result property="isWriteOff" column="is_write_off" />
        <result property="originalSaleSdOrderId" column="original_sale_sd_order_id" />
        <result property="originalSaleSdOrderCode" column="original_sale_sd_order_code" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='SaleSdOrderModelMap' parameterType='SaleSdOrderModel'>
        select <include refid='sql_columns' /> from t_sale_sd_order  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='SaleSdOrderModelMap' parameterType='SaleSdOrderModel'>
        select <include refid='sql_columns' /> from t_sale_sd_order  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='SaleSdOrderModelMap' parameterType='SaleSdOrderModel' >
        select <include refid='sql_columns' /> from t_sale_sd_order  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='SaleSdOrderModel' keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_sale_sd_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test='id!=null' >id  , </if>
            <if test='code!=null and !"".equals(code)' > code , </if>
            <if test='buId!=null' >bu_id  , </if>
            <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
            <if test='merchantId!=null' >merchant_id  , </if>
            <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
            <if test='customerId!=null' >customer_id  , </if>
            <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
            <if test='poNo!=null and !"".equals(poNo)' > po_no , </if>
            <if test='sdTypeId!=null' >sd_type_id  , </if>
            <if test='sdType!=null and !"".equals(sdType)' > sd_type , </if>
            <if test='sdTypeName!=null and !"".equals(sdTypeName)' > sd_type_name , </if>
            <if test='currency!=null and !"".equals(currency)' > currency , </if>
            <if test='totalSdNum!=null' >total_sd_num  , </if>
            <if test='totalSdAmount!=null' >total_sd_amount  , </if>
            <if test='state!=null and !"".equals(state)' > state , </if>
            <if test='creater!=null' >creater  , </if>
            <if test='createName!=null and !"".equals(createName)' > create_name , </if>
            <if test='createDate!=null' >create_date  , </if>
            <if test='modifier!=null' >modifier  , </if>
            <if test='modifiyName!=null and !"".equals(modifiyName)' > modifiy_name , </if>
            <if test='modifyDate!=null' >modify_date  , </if>
            <if test='orderSource!=null and !"".equals(orderSource)' > order_source , </if>
            <if test='orderId!=null' >order_id , </if>
            <if test='orderCode!=null and !"".equals(orderCode)' > order_code , </if>
            <if test='businessId!=null' >business_id , </if>
            <if test='businessCode!=null and !"".equals(businessCode)' > business_code , </if>
            <if test='orderType!=null and !"".equals(orderType)' > order_type , </if>
            <if test='ownDate!=null' >own_date , </if>
            <if test='isWriteOff!=null and !"".equals(isWriteOff)' > is_write_off , </if>
            <if test='originalSaleSdOrderId!=null' >original_sale_sd_order_id , </if>
            <if test='originalSaleSdOrderCode!=null and !"".equals(originalSaleSdOrderCode)' > original_sale_sd_order_code , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test='id!=null' > #{id} , </if>
            <if test='code!=null and !"".equals(code)' > #{code} , </if>
            <if test='buId!=null' > #{buId} , </if>
            <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
            <if test='merchantId!=null' > #{merchantId} , </if>
            <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
            <if test='customerId!=null' > #{customerId} , </if>
            <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
            <if test='poNo!=null and !"".equals(poNo)' > #{poNo} , </if>
            <if test='sdTypeId!=null' > #{sdTypeId} , </if>
            <if test='sdType!=null and !"".equals(sdType)' > #{sdType} , </if>
            <if test='sdTypeName!=null and !"".equals(sdTypeName)' > #{sdTypeName} , </if>
            <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
            <if test='totalSdNum!=null' > #{totalSdNum} , </if>
            <if test='totalSdAmount!=null' > #{totalSdAmount} , </if>
            <if test='state!=null and !"".equals(state)' > #{state} , </if>
            <if test='creater!=null' > #{creater} , </if>
            <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
            <if test='createDate!=null' > #{createDate} , </if>
            <if test='modifier!=null' > #{modifier} , </if>
            <if test='modifiyName!=null and !"".equals(modifiyName)' > #{modifiyName} , </if>
            <if test='modifyDate!=null' > #{modifyDate} , </if>
            <if test='orderSource!=null and !"".equals(orderSource)' > #{orderSource} , </if>
            <if test='orderId!=null' > #{orderId} , </if>
            <if test='orderCode!=null and !"".equals(orderCode)' > #{orderCode} , </if>
            <if test='businessId!=null' > #{businessId} , </if>
            <if test='businessCode!=null and !"".equals(businessCode)' > #{businessCode} , </if>
            <if test='orderType!=null and !"".equals(orderType)' > #{orderType} , </if>
            <if test='ownDate!=null' > #{ownDate} , </if>
            <if test='isWriteOff!=null and !"".equals(isWriteOff)' > #{isWriteOff} , </if>
            <if test='originalSaleSdOrderId!=null' > #{originalSaleSdOrderId} , </if>
            <if test='originalSaleSdOrderCode!=null and !"".equals(originalSaleSdOrderCode)' > #{originalSaleSdOrderCode} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='SaleSdOrderModel' keyProperty="id" useGeneratedKeys="true">
        UPDATE  t_sale_sd_order SET
        <trim  suffixOverrides=",">
            <if test='id!=null' > id= #{id} , </if>
            <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
            <if test='buId!=null' > bu_id= #{buId} , </if>
            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
            <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
            <if test='customerId!=null' > customer_id= #{customerId} , </if>
            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
            <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} , </if>
            <if test='sdTypeId!=null' > sd_type_id= #{sdTypeId} , </if>
            <if test='sdType!=null and !"".equals(sdType)' >sd_type= #{sdType} , </if>
            <if test='sdTypeName!=null and !"".equals(sdTypeName)' >sd_type_name= #{sdTypeName} , </if>
            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
            <if test='totalSdNum!=null' > total_sd_num= #{totalSdNum} , </if>
            <if test='totalSdAmount!=null' > total_sd_amount= #{totalSdAmount} , </if>
            <if test='state!=null and !"".equals(state)' >state= #{state} , </if>
            <if test='creater!=null' > creater= #{creater} , </if>
            <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
            <if test='createDate!=null' > create_date= #{createDate} , </if>
            <if test='modifier!=null' > modifier= #{modifier} , </if>
            <if test='modifiyName!=null and !"".equals(modifiyName)' >modifiy_name= #{modifiyName} , </if>
            <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
            <if test='orderSource!=null and !"".equals(orderSource)' >order_source= #{orderSource} , </if>
            <if test='orderId!=null' > order_id= #{orderId} , </if>
            <if test='orderCode!=null and !"".equals(orderCode)' >order_code= #{orderCode} , </if>
            <if test='businessId!=null' > business_id= #{businessId} , </if>
            <if test='businessCode!=null and !"".equals(businessCode)' >business_code= #{businessCode} , </if>
            <if test='orderType!=null and !"".equals(orderType)' >order_type= #{orderType} , </if>
            <if test='ownDate!=null' > own_date= #{ownDate} , </if>
            <if test='isWriteOff!=null and !"".equals(isWriteOff)' >is_write_off= #{isWriteOff} , </if>
            <if test='originalSaleSdOrderId!=null' > original_sale_sd_order_id= #{originalSaleSdOrderId} , </if>
            <if test='originalSaleSdOrderCode!=null and !"".equals(originalSaleSdOrderCode)' >original_sale_sd_order_code= #{originalSaleSdOrderCode} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_sale_sd_order  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from t_sale_sd_order where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>


    <!-- 表字段 -->
    <sql id='sql_columns'>
            id,
            code,
            bu_id,
            bu_name,
            merchant_id,
            merchant_name,
            customer_id,
            customer_name,
            po_no,
            sd_type_id,
            sd_type,
            sd_type_name,
            currency,
            total_sd_num,
            total_sd_amount,
            state,
            creater,
            create_name,
            create_date,
            modifier,
            modifiy_name,
            modify_date,
            order_source,
            order_id,
            order_code,
            business_id,
            business_code,
            order_type,
            own_date,
            is_write_off,
            original_sale_sd_order_id,
            original_sale_sd_order_code
        </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='id!=null' > id= #{id} and </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='buId!=null' > bu_id= #{buId} and </if>
                <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='customerId!=null' > customer_id= #{customerId} and </if>
                <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                <if test='sdTypeId!=null' > sd_type_id= #{sdTypeId} and </if>
                <if test='sdType!=null and !"".equals(sdType)' >sd_type= #{sdType} and </if>
                <if test='sdTypeName!=null and !"".equals(sdTypeName)' >sd_type_name= #{sdTypeName} and </if>
                <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                <if test='totalSdNum!=null' > total_sd_num= #{totalSdNum} and </if>
                <if test='totalSdAmount!=null' > total_sd_amount= #{totalSdAmount} and </if>
                <if test='state!=null and !"".equals(state)' >state= #{state} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='modifier!=null' > modifier= #{modifier} and </if>
                <if test='modifiyName!=null and !"".equals(modifiyName)' >modifiy_name= #{modifiyName} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='orderSource!=null and !"".equals(orderSource)' >order_source= #{orderSource} and </if>
                <if test='orderId!=null' > order_id= #{orderId} and </if>
                <if test='orderCode!=null and !"".equals(orderCode)' >order_code= #{orderCode} and </if>
                <if test='businessId!=null' > business_id= #{businessId} and </if>
                <if test='businessCode!=null and !"".equals(businessCode)' >business_code= #{businessCode} and </if>
                <if test='orderType!=null and !"".equals(orderType)' >order_type= #{orderType} and </if>
                <if test='ownDate!=null' > own_date= #{ownDate} and </if>
                <if test='isWriteOff!=null and !"".equals(isWriteOff)' >is_write_off= #{isWriteOff} and </if>
                <if test='originalSaleSdOrderId!=null' > original_sale_sd_order_id= #{originalSaleSdOrderId} and </if>
                <if test='originalSaleSdOrderCode!=null and !"".equals(originalSaleSdOrderCode)' >original_sale_sd_order_code= #{originalSaleSdOrderCode} and </if>
                state != "006" and
            </trim>
        </where>
    </sql>

    <!--自定义SQL-->

        <!--自定义SQL-->
		<sql id='sql_where_Page'>
            <where>
                <trim suffixOverrides='and'>
                     <if test='id!=null' > id= #{id} and </if>
                     <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                     <if test='buId!=null' > bu_id= #{buId} and </if>
                     <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                     <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                     <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                     <if test='customerId!=null' > customer_id= #{customerId} and </if>
                     <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                     <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                     <if test='sdTypeId!=null' > sd_type_id= #{sdTypeId} and </if>
                     <if test='sdTypeName!=null and !"".equals(sdTypeName)' >sd_type_name= #{sdTypeName} and </if>
                     <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                     <if test='totalSdNum!=null' > total_sd_num= #{totalSdNum} and </if>
                     <if test='totalSdAmount!=null' > total_sd_amount= #{totalSdAmount} and </if>
                     <if test='state!=null and !"".equals(state)' >state= #{state} and </if>
                     <if test='startOwnDate!=null and !"".equals(startOwnDate)' >
                     		date_format(own_date,'%Y-%m-%d %H:%i:%S') &gt;= #{startOwnDate} and
                     </if>
                     <if test='endOwnDate!=null and !"".equals(endOwnDate)' >
                     		date_format(own_date,'%Y-%m-%d %H:%i:%S') &lt;= #{endOwnDate} and
                     </if>
                     <if test='ids!=null and !"".equals(ids)' >id in
	                    <foreach collection="ids.split(',')" item='id' separator=',' open='(' close=')'>
	                        #{id}
	                    </foreach>
	                    and
	                </if>
	                <if test='buList!=null and !"".equals(buList)' >bu_id in
	                    <foreach collection='buList' item='buId' separator=',' open='(' close=')'>
	                        #{buId}
	                    </foreach>
	                    and
	                </if>
	                <if test='orderId!=null' > order_id= #{orderId} and </if>
	                <if test='orderCode!=null and !"".equals(orderCode)' >order_code= #{orderCode} and </if>
	                <if test='businessId!=null' > business_id= #{businessId} and </if>
	                <if test='businessCode!=null and !"".equals(businessCode)' >business_code= #{businessCode} and </if>
	                <if test='orderType!=null and !"".equals(orderType)' >order_type= #{orderType} and </if>
                    <if test='isWriteOff!=null and !"".equals(isWriteOff)' >is_write_off= #{isWriteOff} and </if>
                	state != "006" and
                </trim>
            </where>
        </sql>
		<!-- 查询所有信息 分页 -->
	    <select id='listDTOByPage' resultType='SaleSdOrderDTO' parameterType='SaleSdOrderDTO'>
	        select
	        id,
            code,
            bu_id,
            bu_name,
            merchant_id,
            merchant_name,
            customer_id,
            customer_name,
            po_no,
            sd_type_id,
            sd_type,
            sd_type_name,
            currency,
            total_sd_num,
            state,
            creater,
            create_name,
            create_date,
            modifier,
            modifiy_name,
            modify_date,
            order_source,
            order_id,
            order_code,
            business_id,
            business_code,
            order_type,
            own_date,
            total_sd_amount ,
            is_write_off
	        from t_sale_sd_order  <include refid='sql_where_Page' /> order by id desc
	    </select>
	     <!-- 获取导出数据 -->
	     <select id='exportSaleSdOrder' resultType='Map' parameterType='SaleSdOrderDTO'>
	        select
		        t2.merchant_name as merchantName ,
		        t2.bu_name as buName,
		        t2.customer_name as customerName,
		        t2.po_no as poNo,
		        t2.own_date as ownDate,
		        t1.goods_no goodsNo,
		        t1.goods_name goodsName,
		        t1.commbarcode as commbarcode,
		        t2.sd_type_name as sdTypeName,
		        t1.sd_ratio as sdRatio,
		        t1.num as num,
		        concat(t1.price,'') as price,
		        t1.sd_amount as sdAmount,
				t2.business_code as businessCode,
				t2.order_code as orderCode,
				t2.currency
	        from t_sale_sd_order_item t1 left join t_sale_sd_order t2 on t1.sale_sd_order_id = t2.id
	        <where>
                <trim suffixOverrides='and'>
                 	 <if test='id!=null' > t2.id= #{id} and </if>
                     <if test='buId!=null' > t2.bu_id= #{buId} and </if>
                     <if test='merchantId!=null' > t2.merchant_id= #{merchantId} and </if>
                     <if test='customerId!=null' > t2.customer_id= #{customerId} and </if>
                     <if test='poNo!=null and !"".equals(poNo)' >t2.po_no= #{poNo} and </if>
                     <if test='sdTypeId!=null' > t2.sd_type_id= #{sdTypeId} and </if>
                     <if test='startOwnDate!=null and !"".equals(startOwnDate)' >
                     		date_format(t2.own_date,'%Y-%m-%d %H:%i:%S') &gt;= #{startOwnDate} and
                     </if>
                     <if test='endOwnDate!=null and !"".equals(endOwnDate)' >
                     		date_format(t2.own_date,'%Y-%m-%d %H:%i:%S') &lt;= #{endOwnDate} and
                     </if>
                     <if test='ids!=null and !"".equals(ids)' >t2.id in
	                    <foreach collection="ids.split(',')" item='id' separator=',' open='(' close=')'>
	                        #{id}
	                    </foreach>
	                    and
	                </if>
	                <if test='buList!=null and !"".equals(buList)' >t2.bu_id in
	                    <foreach collection='buList' item='buId' separator=',' open='(' close=')'>
	                        #{buId}
	                    </foreach>
	                    and
	                </if>
	                <if test='orderId!=null' > order_id= #{orderId} and </if>
	                <if test='orderCode!=null and !"".equals(orderCode)' >order_code= #{orderCode} and </if>
	                <if test='businessId!=null' > business_id= #{businessId} and </if>
	                <if test='businessCode!=null and !"".equals(businessCode)' >business_code= #{businessCode} and </if>
	                <if test='orderType!=null and !"".equals(orderType)' >order_type= #{orderType} and </if>
                    <if test='isWriteOff!=null and !"".equals(isWriteOff)' >is_write_off= #{isWriteOff} and </if>
	                t2.state != "006"
                </trim>
            </where>
            order by t2.id desc
	    </select>
</mapper>
