<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.sale.SaleCreditOrderItemMapper'>

        <!-- 关系映射 -->
        <resultMap id="SaleCreditOrderItemModelMap" type="SaleCreditOrderItemModel" >
                <result property="id" column="id" />
                <result property="creditOrderId" column="credit_order_id" />
                <result property="goodsId" column="goods_id" />
                <result property="goodsCode" column="goods_code" />
                <result property="goodsName" column="goods_name" />
                <result property="goodsNo" column="goods_no" />
                <result property="commbarcode" column="commbarcode" />
                <result property="barcode" column="barcode" />
                <result property="num" column="num" />
                <result property="price" column="price" />
                <result property="amount" column="amount" />
                <result property="principal" column="principal" />
                <result property="marginAmount" column="margin_amount" />
                <result property="expirePrice" column="expire_price" />
                <result property="expireAmount" column="expire_amount" />
                <result property="createDate" column="create_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='SaleCreditOrderItemModelMap' parameterType='SaleCreditOrderItemModel'>
        select <include refid='sql_columns' /> from t_sale_credit_order_item  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='SaleCreditOrderItemModelMap' parameterType='SaleCreditOrderItemModel'>
        select <include refid='sql_columns' /> from t_sale_credit_order_item  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='SaleCreditOrderItemModelMap' parameterType='SaleCreditOrderItemModel' >
        select <include refid='sql_columns' /> from t_sale_credit_order_item  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='SaleCreditOrderItemModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_sale_credit_order_item
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='creditOrderId!=null' >credit_order_id , </if>
                        <if test='goodsId!=null' >goods_id , </if>
                        <if test='goodsCode!=null and !"".equals(goodsCode)' > goods_code , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > goods_name , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' > goods_no , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > barcode , </if>
                        <if test='num!=null' >num , </if>
                        <if test='price!=null' >price , </if>
                        <if test='amount!=null' >amount , </if>
                        <if test='principal!=null' >principal , </if>
                        <if test='marginAmount!=null' >margin_amount , </if>
                        <if test='expirePrice!=null' >expire_price , </if>
                        <if test='expireAmount!=null' >expire_amount , </if>
                        <if test='createDate!=null' >create_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='creditOrderId!=null' > #{creditOrderId} , </if>
                        <if test='goodsId!=null' > #{goodsId} , </if>
                        <if test='goodsCode!=null and !"".equals(goodsCode)' > #{goodsCode} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > #{goodsName} , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' > #{goodsNo} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > #{barcode} , </if>
                        <if test='num!=null' > #{num} , </if>
                        <if test='price!=null' > #{price} , </if>
                        <if test='amount!=null' > #{amount} , </if>
                        <if test='principal!=null' > #{principal} , </if>
                        <if test='marginAmount!=null' > #{marginAmount} , </if>
                        <if test='expirePrice!=null' > #{expirePrice} , </if>
                        <if test='expireAmount!=null' > #{expireAmount} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='SaleCreditOrderItemModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_sale_credit_order_item SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='creditOrderId!=null' > credit_order_id= #{creditOrderId} , </if>
                        <if test='goodsId!=null' > goods_id= #{goodsId} , </if>
                        <if test='goodsCode!=null and !"".equals(goodsCode)' >goods_code= #{goodsCode} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} , </if>
                        <if test='num!=null' > num= #{num} , </if>
                        <if test='price!=null' > price= #{price} , </if>
                        <if test='amount!=null' > amount= #{amount} , </if>
                        <if test='principal!=null' > principal= #{principal} , </if>
                        <if test='marginAmount!=null' > margin_amount= #{marginAmount} , </if>
                        <if test='expirePrice!=null' > expire_price= #{expirePrice} , </if>
                        <if test='expireAmount!=null' > expire_amount= #{expireAmount} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_sale_credit_order_item  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_sale_credit_order_item where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            credit_order_id,
            goods_id,
            goods_code,
            goods_name,
            goods_no,
            commbarcode,
            barcode,
            num,
            price,
            amount,
            principal,
            margin_amount,
            expire_price,
            expire_amount,
            create_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='creditOrderId!=null' > credit_order_id= #{creditOrderId} and </if>
                            <if test='goodsId!=null' > goods_id= #{goodsId} and </if>
                            <if test='goodsCode!=null and !"".equals(goodsCode)' >goods_code= #{goodsCode} and </if>
                            <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                            <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                            <if test='num!=null' > num= #{num} and </if>
                            <if test='price!=null' > price= #{price} and </if>
                            <if test='amount!=null' > amount= #{amount} and </if>
                            <if test='principal!=null' > principal= #{principal} and </if>
                            <if test='marginAmount!=null' > margin_amount= #{marginAmount} and </if>
                            <if test='expirePrice!=null' > expire_price= #{expirePrice} and </if>
                            <if test='expireAmount!=null' > expire_amount= #{expireAmount} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
 	<!-- 查询所有信息 -->
    <select id="listDTO" resultType='SaleCreditOrderItemDTO' parameterType='SaleCreditOrderItemDTO'>
        select <include refid='sql_columns' /> from t_sale_credit_order_item  <include refid='sql_where' />
    </select>



</mapper>