<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.sale.SaleReturnDeclareOrderMapper'>

        <!-- 关系映射 -->
        <resultMap id="SaleReturnDeclareOrderModelMap" type="SaleReturnDeclareOrderModel" >
                <result property="id" column="id" />
                <result property="code" column="code" />
                <result property="customerId" column="customer_id" />
                <result property="customerName" column="customer_name" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="buId" column="bu_id" />
                <result property="buName" column="bu_name" />
                <result property="returnType" column="return_type" />
                <result property="outDepotId" column="out_depot_id" />
                <result property="outDepotName" column="out_depot_name" />
                <result property="inDepotId" column="in_depot_id" />
                <result property="inDepotName" column="in_depot_name" />
                <result property="currency" column="currency" />
                <result property="poNo" column="po_no" />
                <result property="returnReason" column="return_reason" />
                <result property="tallyingUnit" column="tallying_unit" />
                <result property="lbxNo" column="lbx_no" />
                <result property="tradeTerms" column="trade_terms" />
                <result property="loadPort" column="load_port" />
                <result property="portDestNo" column="port_dest_no" />
                <result property="deliveryAddr" column="delivery_addr" />
                <result property="shipper" column="shipper" />
                <result property="invoiceNo" column="invoice_no" />
                <result property="contractNo" column="contract_no" />
                <result property="billWeight" column="bill_weight" />
                <result property="boxNum" column="box_num" />
                <result property="torrNum" column="torr_num" />
                <result property="pack" column="pack" />
                <result property="torrPackType" column="torr_pack_type" />
                <result property="transport" column="transport" />
                <result property="outCustomsId" column="out_customs_id" />
                <result property="outCustomsName" column="out_customs_name" />
                <result property="inCustomsId" column="in_customs_id" />
                <result property="inCustomsName" column="in_customs_name" />
                <result property="ladingBill" column="lading_bill" />
                <result property="mark" column="mark" />
                <result property="remark" column="remark" />
                <result property="status" column="status" />
                <result property="apiStatus" column="api_status" />
                <result property="saleReturnOrderIds" column="sale_return_order_ids" />
                <result property="saleReturnOrderCodes" column="sale_return_order_codes" />
                <result property="creater" column="creater" />
                <result property="createName" column="create_name" />
                <result property="createDate" column="create_date" />
                <result property="modifier" column="modifier" />
                <result property="modifierUsername" column="modifier_username" />
                <result property="modifyDate" column="modify_date" />
                <result property="auditer" column="auditer" />
                <result property="auditUsername" column="audit_username" />
                <result property="auditerDate" column="auditer_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='SaleReturnDeclareOrderModelMap' parameterType='SaleReturnDeclareOrderModel'>
        select <include refid='sql_columns' /> from t_sale_return_declare_order  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='SaleReturnDeclareOrderModelMap' parameterType='SaleReturnDeclareOrderModel'>
        select <include refid='sql_columns' /> from t_sale_return_declare_order  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='SaleReturnDeclareOrderModelMap' parameterType='SaleReturnDeclareOrderModel' >
        select <include refid='sql_columns' /> from t_sale_return_declare_order  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='SaleReturnDeclareOrderModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_sale_return_declare_order
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='code!=null and !"".equals(code)' > code , </if>
                        <if test='customerId!=null' >customer_id , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='returnType!=null and !"".equals(returnType)' > return_type , </if>
                        <if test='outDepotId!=null' >out_depot_id , </if>
                        <if test='outDepotName!=null and !"".equals(outDepotName)' > out_depot_name , </if>
                        <if test='inDepotId!=null' >in_depot_id , </if>
                        <if test='inDepotName!=null and !"".equals(inDepotName)' > in_depot_name , </if>
                        <if test='currency!=null and !"".equals(currency)' > currency , </if>
                        <if test='poNo!=null and !"".equals(poNo)' > po_no , </if>
                        <if test='returnReason!=null and !"".equals(returnReason)' > return_reason , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > tallying_unit , </if>
                        <if test='lbxNo!=null and !"".equals(lbxNo)' > lbx_no , </if>
                        <if test='tradeTerms!=null and !"".equals(tradeTerms)' > trade_terms , </if>
                        <if test='loadPort!=null and !"".equals(loadPort)' > load_port , </if>
                        <if test='portDestNo!=null and !"".equals(portDestNo)' > port_dest_no , </if>
                        <if test='deliveryAddr!=null and !"".equals(deliveryAddr)' > delivery_addr , </if>
                        <if test='shipper!=null and !"".equals(shipper)' > shipper , </if>
                        <if test='invoiceNo!=null and !"".equals(invoiceNo)' > invoice_no , </if>
                        <if test='contractNo!=null and !"".equals(contractNo)' > contract_no , </if>
                        <if test='billWeight!=null' >bill_weight , </if>
                        <if test='boxNum!=null' >box_num , </if>
                        <if test='torrNum!=null' >torr_num , </if>
                        <if test='pack!=null and !"".equals(pack)' > pack , </if>
                        <if test='torrPackType!=null and !"".equals(torrPackType)' > torr_pack_type , </if>
                        <if test='transport!=null and !"".equals(transport)' > transport , </if>
                        <if test='outCustomsId!=null' >out_customs_id , </if>
                        <if test='outCustomsName!=null and !"".equals(outCustomsName)' > out_customs_name , </if>
                        <if test='inCustomsId!=null' >in_customs_id , </if>
                        <if test='inCustomsName!=null and !"".equals(inCustomsName)' > in_customs_name , </if>
                        <if test='ladingBill!=null and !"".equals(ladingBill)' > lading_bill , </if>
                        <if test='mark!=null and !"".equals(mark)' > mark , </if>
                        <if test='remark!=null and !"".equals(remark)' > remark , </if>
                        <if test='status!=null and !"".equals(status)' > status , </if>
                        <if test='apiStatus!=null and !"".equals(apiStatus)' > api_status , </if>
                        <if test='saleReturnOrderIds!=null and !"".equals(saleReturnOrderIds)' > sale_return_order_ids , </if>
                        <if test='saleReturnOrderCodes!=null and !"".equals(saleReturnOrderCodes)' > sale_return_order_codes , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createName!=null and !"".equals(createName)' > create_name , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifier!=null' >modifier , </if>
                        <if test='modifierUsername!=null and !"".equals(modifierUsername)' > modifier_username , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
                        <if test='auditer!=null' >auditer , </if>
                        <if test='auditUsername!=null and !"".equals(auditUsername)' > audit_username , </if>
                        <if test='auditerDate!=null' >auditer_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='code!=null and !"".equals(code)' > #{code} , </if>
                        <if test='customerId!=null' > #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='returnType!=null and !"".equals(returnType)' > #{returnType} , </if>
                        <if test='outDepotId!=null' > #{outDepotId} , </if>
                        <if test='outDepotName!=null and !"".equals(outDepotName)' > #{outDepotName} , </if>
                        <if test='inDepotId!=null' > #{inDepotId} , </if>
                        <if test='inDepotName!=null and !"".equals(inDepotName)' > #{inDepotName} , </if>
                        <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
                        <if test='poNo!=null and !"".equals(poNo)' > #{poNo} , </if>
                        <if test='returnReason!=null and !"".equals(returnReason)' > #{returnReason} , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' > #{tallyingUnit} , </if>
                        <if test='lbxNo!=null and !"".equals(lbxNo)' > #{lbxNo} , </if>
                        <if test='tradeTerms!=null and !"".equals(tradeTerms)' > #{tradeTerms} , </if>
                        <if test='loadPort!=null and !"".equals(loadPort)' > #{loadPort} , </if>
                        <if test='portDestNo!=null and !"".equals(portDestNo)' > #{portDestNo} , </if>
                        <if test='deliveryAddr!=null and !"".equals(deliveryAddr)' > #{deliveryAddr} , </if>
                        <if test='shipper!=null and !"".equals(shipper)' > #{shipper} , </if>
                        <if test='invoiceNo!=null and !"".equals(invoiceNo)' > #{invoiceNo} , </if>
                        <if test='contractNo!=null and !"".equals(contractNo)' > #{contractNo} , </if>
                        <if test='billWeight!=null' > #{billWeight} , </if>
                        <if test='boxNum!=null' > #{boxNum} , </if>
                        <if test='torrNum!=null' > #{torrNum} , </if>
                        <if test='pack!=null and !"".equals(pack)' > #{pack} , </if>
                        <if test='torrPackType!=null and !"".equals(torrPackType)' > #{torrPackType} , </if>
                        <if test='transport!=null and !"".equals(transport)' > #{transport} , </if>
                        <if test='outCustomsId!=null' > #{outCustomsId} , </if>
                        <if test='outCustomsName!=null and !"".equals(outCustomsName)' > #{outCustomsName} , </if>
                        <if test='inCustomsId!=null' > #{inCustomsId} , </if>
                        <if test='inCustomsName!=null and !"".equals(inCustomsName)' > #{inCustomsName} , </if>
                        <if test='ladingBill!=null and !"".equals(ladingBill)' > #{ladingBill} , </if>
                        <if test='mark!=null and !"".equals(mark)' > #{mark} , </if>
                        <if test='remark!=null and !"".equals(remark)' > #{remark} , </if>
                        <if test='status!=null and !"".equals(status)' > #{status} , </if>
                        <if test='apiStatus!=null and !"".equals(apiStatus)' > #{apiStatus} , </if>
                        <if test='saleReturnOrderIds!=null and !"".equals(saleReturnOrderIds)' > #{saleReturnOrderIds} , </if>
                        <if test='saleReturnOrderCodes!=null and !"".equals(saleReturnOrderCodes)' > #{saleReturnOrderCodes} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifier!=null' > #{modifier} , </if>
                        <if test='modifierUsername!=null and !"".equals(modifierUsername)' > #{modifierUsername} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='auditer!=null' > #{auditer} , </if>
                        <if test='auditUsername!=null and !"".equals(auditUsername)' > #{auditUsername} , </if>
                        <if test='auditerDate!=null' > #{auditerDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='SaleReturnDeclareOrderModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_sale_return_declare_order SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
                        <if test='customerId!=null' > customer_id= #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='returnType!=null and !"".equals(returnType)' >return_type= #{returnType} , </if>
                        <if test='outDepotId!=null' > out_depot_id= #{outDepotId} , </if>
                        <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} , </if>
                        <if test='inDepotId!=null' > in_depot_id= #{inDepotId} , </if>
                        <if test='inDepotName!=null and !"".equals(inDepotName)' >in_depot_name= #{inDepotName} , </if>
                        <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
                        <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} , </if>
                        <if test='returnReason!=null and !"".equals(returnReason)' >return_reason= #{returnReason} , </if>
                        <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} , </if>
                        <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} , </if>
                        <if test='tradeTerms!=null and !"".equals(tradeTerms)' >trade_terms= #{tradeTerms} , </if>
                        <if test='loadPort!=null and !"".equals(loadPort)' >load_port= #{loadPort} , </if>
                        <if test='portDestNo!=null and !"".equals(portDestNo)' >port_dest_no= #{portDestNo} , </if>
                        <if test='deliveryAddr!=null and !"".equals(deliveryAddr)' >delivery_addr= #{deliveryAddr} , </if>
                        <if test='shipper!=null and !"".equals(shipper)' >shipper= #{shipper} , </if>
                        <if test='invoiceNo!=null and !"".equals(invoiceNo)' >invoice_no= #{invoiceNo} , </if>
                        <if test='contractNo!=null and !"".equals(contractNo)' >contract_no= #{contractNo} , </if>
                        <if test='billWeight!=null' > bill_weight= #{billWeight} , </if>
                        <if test='boxNum!=null' > box_num= #{boxNum} , </if>
                        <if test='torrNum!=null' > torr_num= #{torrNum} , </if>
                        <if test='pack!=null and !"".equals(pack)' >pack= #{pack} , </if>
                        <if test='torrPackType!=null and !"".equals(torrPackType)' >torr_pack_type= #{torrPackType} , </if>
                        <if test='transport!=null and !"".equals(transport)' >transport= #{transport} , </if>
                        <if test='outCustomsId!=null' > out_customs_id= #{outCustomsId} , </if>
                        <if test='outCustomsName!=null and !"".equals(outCustomsName)' >out_customs_name= #{outCustomsName} , </if>
                        <if test='inCustomsId!=null' > in_customs_id= #{inCustomsId} , </if>
                        <if test='inCustomsName!=null and !"".equals(inCustomsName)' >in_customs_name= #{inCustomsName} , </if>
                        <if test='ladingBill!=null and !"".equals(ladingBill)' >lading_bill= #{ladingBill} , </if>
                        <if test='mark!=null and !"".equals(mark)' >mark= #{mark} , </if>
                        <if test='remark!=null and !"".equals(remark)' >remark= #{remark} , </if>
                        <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                        <if test='apiStatus!=null and !"".equals(apiStatus)' >api_status= #{apiStatus} , </if>
                        <if test='saleReturnOrderIds!=null and !"".equals(saleReturnOrderIds)' >sale_return_order_ids= #{saleReturnOrderIds} , </if>
                        <if test='saleReturnOrderCodes!=null and !"".equals(saleReturnOrderCodes)' >sale_return_order_codes= #{saleReturnOrderCodes} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifier!=null' > modifier= #{modifier} , </if>
                        <if test='modifierUsername!=null and !"".equals(modifierUsername)' >modifier_username= #{modifierUsername} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='auditer!=null' > auditer= #{auditer} , </if>
                        <if test='auditUsername!=null and !"".equals(auditUsername)' >audit_username= #{auditUsername} , </if>
                        <if test='auditerDate!=null' > auditer_date= #{auditerDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_sale_return_declare_order  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_sale_return_declare_order where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            code,
            customer_id,
            customer_name,
            merchant_id,
            merchant_name,
            bu_id,
            bu_name,
            return_type,
            out_depot_id,
            out_depot_name,
            in_depot_id,
            in_depot_name,
            currency,
            po_no,
            return_reason,
            tallying_unit,
            lbx_no,
            trade_terms,
            load_port,
            port_dest_no,
            delivery_addr,
            shipper,
            invoice_no,
            contract_no,
            bill_weight,
            box_num,
            torr_num,
            pack,
            torr_pack_type,
            transport,
            out_customs_id,
            out_customs_name,
            in_customs_id,
            in_customs_name,
            lading_bill,
            mark,
            remark,
            status,
            api_status,
            sale_return_order_ids,
            sale_return_order_codes,
            creater,
            create_name,
            create_date,
            modifier,
            modifier_username,
            modify_date,
            auditer,
            audit_username,
            auditer_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                            <if test='returnType!=null and !"".equals(returnType)' >return_type= #{returnType} and </if>
                            <if test='outDepotId!=null' > out_depot_id= #{outDepotId} and </if>
                            <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} and </if>
                            <if test='inDepotId!=null' > in_depot_id= #{inDepotId} and </if>
                            <if test='inDepotName!=null and !"".equals(inDepotName)' >in_depot_name= #{inDepotName} and </if>
                            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                            <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                            <if test='returnReason!=null and !"".equals(returnReason)' >return_reason= #{returnReason} and </if>
                            <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} and </if>
                            <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} and </if>
                            <if test='tradeTerms!=null and !"".equals(tradeTerms)' >trade_terms= #{tradeTerms} and </if>
                            <if test='loadPort!=null and !"".equals(loadPort)' >load_port= #{loadPort} and </if>
                            <if test='portDestNo!=null and !"".equals(portDestNo)' >port_dest_no= #{portDestNo} and </if>
                            <if test='deliveryAddr!=null and !"".equals(deliveryAddr)' >delivery_addr= #{deliveryAddr} and </if>
                            <if test='shipper!=null and !"".equals(shipper)' >shipper= #{shipper} and </if>
                            <if test='invoiceNo!=null and !"".equals(invoiceNo)' >invoice_no= #{invoiceNo} and </if>
                            <if test='contractNo!=null and !"".equals(contractNo)' >contract_no= #{contractNo} and </if>
                            <if test='billWeight!=null' > bill_weight= #{billWeight} and </if>
                            <if test='boxNum!=null' > box_num= #{boxNum} and </if>
                            <if test='torrNum!=null' > torr_num= #{torrNum} and </if>
                            <if test='pack!=null and !"".equals(pack)' >pack= #{pack} and </if>
                            <if test='torrPackType!=null and !"".equals(torrPackType)' >torr_pack_type= #{torrPackType} and </if>
                            <if test='transport!=null and !"".equals(transport)' >transport= #{transport} and </if>
                            <if test='outCustomsId!=null' > out_customs_id= #{outCustomsId} and </if>
                            <if test='outCustomsName!=null and !"".equals(outCustomsName)' >out_customs_name= #{outCustomsName} and </if>
                            <if test='inCustomsId!=null' > in_customs_id= #{inCustomsId} and </if>
                            <if test='inCustomsName!=null and !"".equals(inCustomsName)' >in_customs_name= #{inCustomsName} and </if>
                            <if test='ladingBill!=null and !"".equals(ladingBill)' >lading_bill= #{ladingBill} and </if>
                            <if test='mark!=null and !"".equals(mark)' >mark= #{mark} and </if>
                            <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                            <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                            <if test='apiStatus!=null and !"".equals(apiStatus)' >api_status= #{apiStatus} and </if>
                            <!-- <if test='saleReturnOrderIds!=null and !"".equals(saleReturnOrderIds)' >sale_return_order_ids= #{saleReturnOrderIds} and </if>
                            <if test='saleReturnOrderCodes!=null and !"".equals(saleReturnOrderCodes)' >sale_return_order_codes= #{saleReturnOrderCodes} and </if>
                             -->
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifier!=null' > modifier= #{modifier} and </if>
                            <if test='modifierUsername!=null and !"".equals(modifierUsername)' >modifier_username= #{modifierUsername} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='auditer!=null' > auditer= #{auditer} and </if>
                            <if test='auditUsername!=null and !"".equals(auditUsername)' >audit_username= #{auditUsername} and </if>
                            <if test='auditerDate!=null' > auditer_date= #{auditerDate} and </if>
                            <if test='saleReturnOrderIds!=null and !"".equals(saleReturnOrderIds)' >
			                    sale_return_order_ids like CONCAT('%',#{saleReturnOrderIds},'%') and
			                </if>
			                <if test='saleReturnOrderCodes!=null and !"".equals(saleReturnOrderCodes)' >
			                    sale_return_order_codes like CONCAT('%',#{saleReturnOrderCodes},'%') and
			                </if>
                            status != '006'
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
    <sql id='sql_where_page'>
        <where>
            <trim suffixOverrides='and'>
                <if test='id!=null' > id= #{id} and </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='customerId!=null' > customer_id= #{customerId} and </if>
                <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='buId!=null' > bu_id= #{buId} and </if>
                <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                <if test='returnType!=null and !"".equals(returnType)' >return_type= #{returnType} and </if>
                <if test='outDepotId!=null' > out_depot_id= #{outDepotId} and </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} and </if>
                <if test='inDepotId!=null' > in_depot_id= #{inDepotId} and </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' >in_depot_name= #{inDepotName} and </if>
                <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                <if test='poNo!=null and !"".equals(poNo)' >po_no= #{poNo} and </if>
                <if test='returnReason!=null and !"".equals(returnReason)' >return_reason= #{returnReason} and </if>
                <if test='tallyingUnit!=null and !"".equals(tallyingUnit)' >tallying_unit= #{tallyingUnit} and </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} and </if>
                <if test='tradeTerms!=null and !"".equals(tradeTerms)' >trade_terms= #{tradeTerms} and </if>
                <if test='loadPort!=null and !"".equals(loadPort)' >load_port= #{loadPort} and </if>
                <if test='portDestNo!=null and !"".equals(portDestNo)' >port_dest_no= #{portDestNo} and </if>
                <if test='deliveryAddr!=null and !"".equals(deliveryAddr)' >delivery_addr= #{deliveryAddr} and </if>
                <if test='shipper!=null and !"".equals(shipper)' >shipper= #{shipper} and </if>
                <if test='invoiceNo!=null and !"".equals(invoiceNo)' >invoice_no= #{invoiceNo} and </if>
                <if test='contractNo!=null and !"".equals(contractNo)' >contract_no= #{contractNo} and </if>
                <if test='billWeight!=null' > bill_weight= #{billWeight} and </if>
                <if test='boxNum!=null' > box_num= #{boxNum} and </if>
                <if test='torrNum!=null' > torr_num= #{torrNum} and </if>
                <if test='pack!=null and !"".equals(pack)' >pack= #{pack} and </if>
                <if test='torrPackType!=null and !"".equals(torrPackType)' >torr_pack_type= #{torrPackType} and </if>
                <if test='transport!=null and !"".equals(transport)' >transport= #{transport} and </if>
                <if test='outCustomsId!=null' > out_customs_id= #{outCustomsId} and </if>
                <if test='outCustomsName!=null and !"".equals(outCustomsName)' >out_customs_name= #{outCustomsName} and </if>
                <if test='inCustomsId!=null' > in_customs_id= #{inCustomsId} and </if>
                <if test='inCustomsName!=null and !"".equals(inCustomsName)' >in_customs_name= #{inCustomsName} and </if>
                <if test='ladingBill!=null and !"".equals(ladingBill)' >lading_bill= #{ladingBill} and </if>
                <if test='mark!=null and !"".equals(mark)' >mark= #{mark} and </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                <if test='apiStatus!=null and !"".equals(apiStatus)' >api_status= #{apiStatus} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='modifier!=null' > modifier= #{modifier} and </if>
                <if test='modifierUsername!=null and !"".equals(modifierUsername)' >modifier_username= #{modifierUsername} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='auditer!=null' > auditer= #{auditer} and </if>
                <if test='auditUsername!=null and !"".equals(auditUsername)' >audit_username= #{auditUsername} and </if>
                <if test='auditerDate!=null' > auditer_date= #{auditerDate} and </if>
                <if test='buList!=null and !"".equals(buList)' >bu_id in
                    <foreach collection='buList' item='buId' separator=',' open='(' close=')'>
                        #{buId}
                    </foreach>
                    and
                </if>
                <if test='saleReturnOrderIds!=null and !"".equals(saleReturnOrderIds)' >
                    sale_return_order_ids like CONCAT('%',#{saleReturnOrderIds},'%') and
                </if>
                <if test='saleReturnOrderCodes!=null and !"".equals(saleReturnOrderCodes)' >
                    sale_return_order_codes like CONCAT('%',#{saleReturnOrderCodes},'%') and
                </if>
                <if test="ids!=null and !''.equals(ids)">
                    id in
                    <foreach collection="ids.split(',')" open="(" close=")" separator="," item="id">
                        #{id}
                    </foreach>
                    and
                </if>
                status != "006" and
            </trim>
        </where>
    </sql>
    <!-- 修改数据 -->
        <update id='updateWithNull' parameterType='SaleReturnDeclareOrderModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_sale_return_declare_order SET
            <trim  suffixOverrides=",">
                   code= #{code} ,
                   customer_id= #{customerId} , 
                   customer_name= #{customerName} ,
                   merchant_id= #{merchantId} ,
                   merchant_name= #{merchantName} , 
                   bu_id= #{buId} ,
                   bu_name= #{buName} ,
                   return_type= #{returnType} ,
                   out_depot_id= #{outDepotId} ,
                   out_depot_name= #{outDepotName} ,
                   in_depot_id= #{inDepotId} ,
                   in_depot_name= #{inDepotName} ,                   
                   currency= #{currency} ,
                   po_no= #{poNo} ,
                   return_reason= #{returnReason} ,
                   tallying_unit= #{tallyingUnit} ,
                   lbx_no= #{lbxNo} ,
                   trade_terms= #{tradeTerms} ,
                   load_port= #{loadPort} ,
                   port_dest_no= #{portDestNo} ,
                   delivery_addr= #{deliveryAddr} ,
                   shipper= #{shipper} ,
                   invoice_no= #{invoiceNo} ,
                   contract_no= #{contractNo} ,
                   bill_weight= #{billWeight} ,
                   box_num= #{boxNum} ,
                   torr_num= #{torrNum} ,
                   pack= #{pack} ,
                   torr_pack_type= #{torrPackType} , 
                   transport= #{transport} , 
                   out_customs_id= #{outCustomsId} , 
                   out_customs_name= #{outCustomsName} ,                   
                   in_customs_id= #{inCustomsId} , 
                   in_customs_name= #{inCustomsName} ,
                   lading_bill= #{ladingBill} ,
                   mark= #{mark} ,
                   remark= #{remark} ,
                   <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                   <if test='apiStatus!=null and !"".equals(apiStatus)' >api_status= #{apiStatus} , </if>
                   <if test='saleReturnOrderIds!=null and !"".equals(saleReturnOrderIds)' >sale_return_order_ids= #{saleReturnOrderIds} , </if>
                   <if test='saleReturnOrderCodes!=null and !"".equals(saleReturnOrderCodes)' >sale_return_order_codes= #{saleReturnOrderCodes} , </if>                        
                   <if test='creater!=null' > creater= #{creater} ,</if>
                   <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
                   <if test='createDate!=null' > create_date= #{createDate} , </if>
                   <if test='modifier!=null' > modifier= #{modifier} , </if>
                   <if test='modifierUsername!=null and !"".equals(modifierUsername)' >modifier_username= #{modifierUsername} , </if>
                   <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                   <if test='auditer!=null' > auditer= #{auditer} , </if>
                   <if test='auditUsername!=null and !"".equals(auditUsername)' >audit_username= #{auditUsername} , </if>
                   <if test='auditerDate!=null' > auditer_date= #{auditerDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>
    <!-- 查询所有信息 分页 -->
    <select id='listDTOByPage' resultType='SaleReturnDeclareOrderDTO' parameterType='SaleReturnDeclareOrderDTO'>
        select <include refid='sql_columns' /> from t_sale_return_declare_order  <include refid='sql_where_page' /> order by id desc
    </select>
    <!-- 条件查询 -->
    <select id='searchDetail' resultType='SaleReturnDeclareOrderDTO' parameterType='SaleReturnDeclareOrderDTO' >
        select <include refid='sql_columns' /> from t_sale_return_declare_order  <include refid='sql_where_page' />
    </select>
    <!-- 查询所有信息 -->
    <select id='listReturnDeclareOrder' resultType='SaleReturnDeclareOrderDTO' parameterType='SaleReturnDeclareOrderDTO'>
        select <include refid='sql_columns' /> from t_sale_return_declare_order  <include refid='sql_where_page' /> order by id desc
    </select>
</mapper>