<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Start content -->
<style>
    .item-webkit-box{
        display: -webkit-box !important;
        flex-flow: nowrap !important;
    }
    .item-webkit-box .form-control{
        width:160px !important;
        margin-left: 5px !important;
    }
</style>
<div class="content">
    <div class="container-fluid mt80">

        <div class="row">
            <!--  title   start  -->
            <div class="col-12">
                <div class="card-box table-responsive">
                    <div class="col-12 row">
                        <div>
                            <ol class="breadcrumb">
                                <li><i class="block"></i> 当前位置：</li>
                                <li class="breadcrumb-item"><a href="#">MQ日志管理</a></li>
                                <li class="breadcrumb-item active"><a href="#">异常单号池</a></li>
                            </ol>
                        </div>
                    </div>
                    <!--  title   end  -->
                    <!--  过滤条件查询  start  -->
                    <!--  ================================过滤条件 start  ===============================================   -->
                    <style>.input_msg{color: #495057;}</style>
                    <form id="form1" >
						<div class="form-inline form-group">
                            <div class="form-group col-3 item-webkit-box">
                               <label for="" class="form_title">接口编码：</label>
                               	<input class="form-control" type="text"  name="point" id="point">
                           </div>
                           <div class="form-group col-3 item-webkit-box">
                              <label for="" class="form_title">关键字 ：</label>
                               	<input class="form-control" type="text" name="keyword" id="keyword" required="" >
                            </div>
                             <div class="form-group col-3 item-webkit-box">   
                                   <label for="" class="form_title">模块：</label>
                                   <select  class="form-control" name="modelCode" id="modelCode">
                                   </select>
                            </div>
                             <div class="form-group col-3 item-webkit-box">
                                <div class="form_btn">
                                    <button type="button" class="btn btn-info" onclick='$mytable.fn.reload();' >查询</button>
                                	<button type="reset" class="btn btn-light waves-effect waves-light">重置</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group col-3 item-webkit-box">
                                 <label for="" class="form_title">失败原因：</label>
                                 <select  class="form-control" name="expType" id="expType">
                                 </select>
                            </div>
                            <div class="form-group col-3 item-webkit-box">
                                 <label for="" class="form_title">类型：</label>
                                 <select  class="form-control" name="type" id="type">
                                 </select>
                            </div>
                        </div>
                    </form>
                    <!--  ================================过滤条件  end===============================================   -->
                    <!-- 过滤条件查询  end  -->
                    <div class="btn_group col-12">
                       	<button type="button" class="btn btn-info" onclick="pushMQ();">批量重推</button>
                    </div>
                    <!--  ================================表格 ===============================================   -->
                    <table id="datatable-buttons" class="nowrap table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                            	<th>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" name="keeperUserGroup-checkable" class="group-checkable" />
                                        <span></span>
                                    </label>
                                </th>
                                <th>模块名称</th>
                                <th>接口编码</th>
                                <th>关键字</th>
                                <th>重推次数</th>
                                <th>类型</th>
                                <th>失败原因</th>
                                <th>创建时间</th>
                            </tr>
                            </thead>
                            <tbody id="tBody">
                            </tbody>
                        </table>
                    <!--  ================================表格  end ===============================================   -->
                </div>
            </div>
            <!--======================Modal框===========================  -->
        </div>
        <!-- End row -->
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->
<!--======================Modal框===========================  -->
<div th:include="modals/s001"></div>
<div th:include="common/common"></div>
<style>
    .fail{background: #f00;color: #fff;padding: 4px 6px;border-radius: 3px;}
    .success{background: #6ea9f3;color: #fff;padding: 4px 6px;border-radius: 3px;}
</style>
<script type="text/javascript">
$module.constant.getConstantListByNameURL.call($('select[name="modelCode"]')[0],"log_modelCodeList");
$module.constant.getConstantListByNameURL.call($('select[name="type"]')[0],"log_autologTypeList");
$module.constant.getConstantListByNameURL.call($('select[name="expType"]')[0],"log_autologExpTypeList");
    $(document).ready(function() {
    	$("#modelCode").prepend('<option value="" selected>请选择</option>') ;
    	$("#modelCode").find("option[value='6']").remove() ;
    	
    	var listURL = $module.fn.getModuleUrl(moduleCode,"/autoLog/list.asyn");
        
        //初始化
        $mytable.fn.init();
        //清空json中数据
        $m001.params.jsonMessage={};
        //配置表格参数
        $mytable.params={
            url:listURL+'?r='+Math.random(),
            columns:[
				{ //复选框单元格
				    className: "td-checkbox",
				    orderable: false,
				    width: "30px",
				    data: null,
				    render: function (data, type, row, meta) {
				        return '<input type="checkbox" class="iCheck">';
				    }
				},
				{data:'modelCode'},{data:'point'},{data:'keyword'},{data:'rePushTimes'},
				{
					data: null,
				    render: function (data, type, row, meta) {
				    	if (data.type == '0') {
			                return '冻结' ;
			            }else if (data.type == '1') {
			                return '解冻' ;
			            }else if (data.type == '2') {
			                return '国检' ;
			            }else if (data.type == '3') {
			                return '海关';
			            }else{
			            	return '';
			            }
				    }
				},{data:'expType'},{data:'createDate'}
            ],
            formid:'#form1'
        }
        //每一行都进行 回调
        $mytable.rewriter.fnRowCallback=function(nRow, aData, iDisplayIndex){
            //开始时间
            if (aData.modelCode == '1') {
                $('td:eq(1)', nRow).html('业务模块');
            }else if (aData.modelCode == '2') {
                $('td:eq(1)', nRow).html('推送外部API');
            }else if (aData.modelCode == '3') {
                $('td:eq(1)', nRow).html('仓储模块');
            }else if (aData.modelCode == '4') {
                $('td:eq(1)', nRow).html('库存模块');
            }
            
            if (aData.expType == 'mq_failtype_01') {
                $('td:eq(6)', nRow).html('B2C单号不存在');
            }else if (aData.expType == 'mq_failtype_02') {
                $('td:eq(6)', nRow).html('冻结记录不存在');
            }else if (aData.expType == 'mq_failtype_03') {
                $('td:eq(6)', nRow).html('锁记录');
            }else if (aData.expType == 'mq_failtype_04') {
                $('td:eq(6)', nRow).html('单号不存在');
            }

        };
        //生成列表信息s
        $('#datatable-buttons').mydatatables();
        /* //时间插件
        $('.date-input').mydate();
        //时间初始化
        $('[type="reset"]').click(); */

      //全选
	    $("input[name='keeperUserGroup-checkable']").on("change", function(){
	        if($(this).is(':checked')){
	            $(":checkbox", '#datatable-buttons').prop("checked",$(this).prop("checked"));
	        }else{
	            $(":checkbox", '#datatable-buttons').prop("checked",false);
	        }
	    })
	    
    } );

    /**
     * 全选
     */
    $('#datatable-buttons').on("change", ":checkbox", function() {
        // 列表复选框
        if ($(this).is("[name='keeperUserGroup-checkable']")) {
            // 全选
            $(":checkbox", '#datatable-buttons').prop("checked",$(this).prop("checked"));
            if($(this).is(':checked')){
                $('#datatable-buttons tbody tr').addClass('success');
            }else{
                $('#datatable-buttons tbody tr').removeClass('success');
            }
        }else{
            // 一般复选
            var checkbox = $("tbody :checkbox", '#datatable-buttons');
            $(":checkbox[name='cb-check-all']", '#datatable-buttons').prop('checked', checkbox.length == checkbox.filter(':checked').length);
            $(this).parents('tr').toggleClass('success');
        }
    });
    
    // 点击展开功能
    $(".unfold").click(function () {
        $(".form_con").toggleClass('hauto');
        if($(this).text() == '展开功能'){
            $(this).text('收起功能');
        }else{
            $(this).text('展开功能');
        }
    })
    
    //批量重推
    function pushMQ(){
    	var ids=$mytable.fn.getCheckedRow();
    	console.log(ids) ;
        if(ids==null||ids==''||ids==undefined){
            $custom.alert.warningText("至少选择一条记录！");
            return ;
        }
        $custom.alert.warning("确定确认选中对象？",function(){
        	var pushMQURL = $module.fn.getModuleUrl(moduleCode,"/autoLog/batchResetSend.asyn");
            $custom.request.ajax(pushMQURL+'?r='+Math.random(),{"ids":ids},function(data){
                if(data.state==200){
                    $custom.alert.success("批量重推成功");
                    //删除成功，重新加载页面
                    $mytable.fn.reload();
                }else{
                    $custom.alert.error("批量重推失败");
                }
            });
        }); 
    }
    
    
</script>