<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.main.GroupCommbarcodeItemMapper'>

        <!-- 关系映射 -->
        <resultMap id="GroupCommbarcodeItemModelMap" type="GroupCommbarcodeItemModel" >
                <result property="id" column="id" />
                <result property="groupCommbarcodeId" column="group_commbarcode_id" />
                <result property="commbarcode" column="commbarcode" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='GroupCommbarcodeItemModelMap' parameterType='GroupCommbarcodeItemModel'>
        select <include refid='sql_columns' /> from st_group_commbarcode_item  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='GroupCommbarcodeItemModelMap' parameterType='GroupCommbarcodeItemModel'>
        select <include refid='sql_columns' /> from st_group_commbarcode_item  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='GroupCommbarcodeItemModelMap' parameterType='GroupCommbarcodeItemModel' >
        select <include refid='sql_columns' /> from st_group_commbarcode_item  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='GroupCommbarcodeItemModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO st_group_commbarcode_item
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='groupCommbarcodeId!=null' >group_commbarcode_id , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='groupCommbarcodeId!=null' > #{groupCommbarcodeId} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='GroupCommbarcodeItemModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  st_group_commbarcode_item SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='groupCommbarcodeId!=null' > group_commbarcode_id= #{groupCommbarcodeId} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from st_group_commbarcode_item  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from st_group_commbarcode_item where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            group_commbarcode_id,
            commbarcode,
            create_date,
            modify_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='groupCommbarcodeId!=null' > group_commbarcode_id= #{groupCommbarcodeId} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->
        <!-- 根据标准条码ID删除 -->
        <delete id='deleteByCommbarcodeId' parameterType='java.util.ArrayList'>
            delete from st_group_commbarcode_item where group_commbarcode_id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
                #{id}
            </foreach>
        </delete>



</mapper>