<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.main.MerchandiseCatMapper'>

     <!-- 关系映射 -->
    <resultMap id="MerchandiseCatModelMap" type="MerchandiseCatModel" >
            <result property="sysCode" column="sys_code" />
            <result property="code" column="code" />
            <result property="modifyDate" column="modify_date" />
            <result property="level" column="level" />
            <result property="name" column="name" />
            <result property="creater" column="creater" />
            <result property="remark" column="remark" />
            <result property="id" column="id" />
            <result property="parentId" column="parent_id" />
            <result property="createDate" column="create_date" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='MerchandiseCatModelMap' parameterType='MerchandiseCatModel'>
        select <include refid='sql_columns' /> from st_merchandise_cat  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='MerchandiseCatModelMap' parameterType='MerchandiseCatModel'>
        select <include refid='sql_columns' /> from st_merchandise_cat  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='MerchandiseCatModelMap' parameterType='MerchandiseCatModel' >
        select <include refid='sql_columns' /> from st_merchandise_cat  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='MerchandiseCatModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO st_merchandise_cat
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='sysCode!=null and !"".equals(sysCode)' > sys_code , </if>
                <if test='code!=null and !"".equals(code)' > code , </if>
                <if test='modifyDate!=null' > modify_date , </if>
                <if test='level!=null and !"".equals(level)' > level , </if>
                <if test='name!=null and !"".equals(name)' > name , </if>
                <if test='creater!=null' > creater , </if>
                <if test='remark!=null and !"".equals(remark)' > remark , </if>
                <if test='id!=null' > id , </if>
                <if test='parentId!=null' > parent_id , </if>
                <if test='createDate!=null' > create_date , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='sysCode!=null and !"".equals(sysCode)' > #{sysCode} , </if>
                <if test='code!=null and !"".equals(code)' > #{code} , </if>
                <if test='modifyDate!=null' > #{modifyDate} , </if>
                <if test='level!=null and !"".equals(level)' > #{level} , </if>
                <if test='name!=null and !"".equals(name)' > #{name} , </if>
                <if test='creater!=null' > #{creater} , </if>
                <if test='remark!=null and !"".equals(remark)' > #{remark} , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='parentId!=null' > #{parentId} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='MerchandiseCatModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  st_merchandise_cat SET
        <trim  suffixOverrides=",">
                <if test='sysCode!=null and !"".equals(sysCode)' >sys_code= #{sysCode} , </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                <if test='level!=null and !"".equals(level)' >level= #{level} , </if>
                <if test='name!=null and !"".equals(name)' >name= #{name} , </if>
                <if test='creater!=null' > creater= #{creater} , </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='parentId!=null' > parent_id= #{parentId} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from st_merchandise_cat  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from st_merchandise_cat where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        sys_code,
        code,
        modify_date,
        level,
        name,
        creater,
        remark,
        id,
        parent_id,
        create_date
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='sysCode!=null and !"".equals(sysCode)' >sys_code= #{sysCode} and </if>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='level!=null and !"".equals(level)' >level= #{level} and </if>
                <if test='name!=null and !"".equals(name)' >name= #{name} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='parentId!=null' > parent_id= #{parentId} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
            </trim>
        </where>
    </sql>


	<!--自定义SQL-->
    <sql id='sql_like_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='code!=null and !"".equals(code)' >code like CONCAT('%',#{code},'%') and </if>
                <if test='level!=null and !"".equals(level)' >level= #{level} and </if>
                <if test='name!=null and !"".equals(name)' >name like CONCAT('%',#{name},'%') and </if>
            </trim>
        </where>
    </sql>
	<!-- 下拉列表关系映射 -->
	<resultMap id="SelectBeans" type="com.topideal.common.system.bean.SelectBean" >
                <result property="value" column="id" />
                <result property="label" column="name" />
    </resultMap>
    
    <!-- 查询下拉列表 -->
    <select id='getSelectBean' resultMap='SelectBeans'>
        select id,name from st_merchandise_cat
        <where>
            <trim suffixOverrides='and'>
                <if test='level!=null and !"".equals(level)' > level= #{level} and </if>
            </trim>
        </where>
    </select>

 	<!-- 根据传参获取下拉框 -->
    <select id='getSelectBeanByModel' resultMap='SelectBeans' parameterType='MerchandiseCatModel'>
        select id,name from st_merchandise_cat
         <include refid='sql_where' />
    </select>

    <select id="listByLike" resultMap='MerchandiseCatModelMap' parameterType='MerchandiseCatModel'>
        select <include refid='sql_columns' /> from st_merchandise_cat  <include refid='sql_like_where' />
    </select>
</mapper>
