<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.main.SupplierMerchandisePriceMapper'>

        <!-- 关系映射 -->
        <resultMap id="SupplierMerchandisePriceModelMap" type="SupplierMerchandisePriceModel" >
                <result property="id" column="id" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="customerId" column="customer_id" />
                <result property="customerCode" column="customer_code" />
                <result property="customerName" column="customer_name" />
                <result property="commbarcode" column="commbarcode" />
                <result property="goodsName" column="goods_name" />
                <result property="brandId" column="brand_id" />
                <result property="brandName" column="brand_name" />
                <result property="spec" column="spec" />
                <result property="currency" column="currency" />
                <result property="supplyPrice" column="supply_price" />
                <result property="state" column="state" />
                <result property="effectiveDate" column="effective_date" />
                <result property="expiryDate" column="expiry_date" />
                <result property="creater" column="creater" />
                <result property="createName" column="create_name" />
                <result property="createDate" column="create_date" />
                <result property="auditor" column="auditor" />
                <result property="auditName" column="audit_name" />
                <result property="auditDate" column="audit_date" />
                <result property="modifier" column="modifier" />
                <result property="modifierName" column="modifier_name" />
                <result property="modifyDate" column="modify_date" />
                <result property="buName" column="bu_name" />
                <result property="buId" column="bu_id" />
                <result property="submitName" column="submit_name" />
                <result property="submitId" column="submit_id" />
                <result property="submitDate" column="submit_date" />
                <result property="cancelReason" column="cancel_reason" />
                <result property="remark" column="remark" />
                <result property="code" column="code" />
                <result property="barcode" column="barcode" />
                <result property="stockLocationTypeId" column="stock_location_type_id" />
                <result property="stockLocationTypeName" column="stock_location_type_name" />
                <result property="dataSource" column="data_source" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='SupplierMerchandisePriceModelMap' parameterType='SupplierMerchandisePriceModel'>
        select <include refid='sql_columns' /> from st_supplier_merchandise_price  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='SupplierMerchandisePriceModelMap' parameterType='SupplierMerchandisePriceModel'>
        select <include refid='sql_columns' /> from st_supplier_merchandise_price  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='SupplierMerchandisePriceModelMap' parameterType='SupplierMerchandisePriceModel' >
        select <include refid='sql_columns' /> from st_supplier_merchandise_price  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='SupplierMerchandisePriceModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO st_supplier_merchandise_price
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='customerId!=null' >customer_id , </if>
                        <if test='customerCode!=null and !"".equals(customerCode)' > customer_code , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > goods_name , </if>
                        <if test='brandId!=null' >brand_id , </if>
                        <if test='brandName!=null and !"".equals(brandName)' > brand_name , </if>
                        <if test='spec!=null and !"".equals(spec)' > spec , </if>
                        <if test='currency!=null and !"".equals(currency)' > currency , </if>
                        <if test='supplyPrice!=null' >supply_price , </if>
                        <if test='state!=null and !"".equals(state)' > state , </if>
                        <if test='effectiveDate!=null' >effective_date , </if>
                        <if test='expiryDate!=null' >expiry_date , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createName!=null and !"".equals(createName)' > create_name , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='auditor!=null' >auditor , </if>
                        <if test='auditName!=null and !"".equals(auditName)' > audit_name , </if>
                        <if test='auditDate!=null' >audit_date , </if>
                        <if test='modifier!=null' >modifier , </if>
                        <if test='modifierName!=null and !"".equals(modifierName)' > modifier_name , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='submitName!=null and !"".equals(submitName)' > submit_name , </if>
                        <if test='submitId!=null' >submit_id , </if>
                        <if test='submitDate!=null' >submit_date , </if>
                        <if test='cancelReason!=null and !"".equals(cancelReason)' > cancel_reason , </if>
                        <if test='remark!=null and !"".equals(remark)' > remark , </if>
                        <if test='code!=null and !"".equals(code)' > code , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > barcode , </if>
                        <if test='stockLocationTypeId!=null' >stock_location_type_id , </if>
                        <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' > stock_location_type_name , </if>
                        <if test='dataSource!=null and !"".equals(dataSource)' > data_source , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='customerId!=null' > #{customerId} , </if>
                        <if test='customerCode!=null and !"".equals(customerCode)' > #{customerCode} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > #{goodsName} , </if>
                        <if test='brandId!=null' > #{brandId} , </if>
                        <if test='brandName!=null and !"".equals(brandName)' > #{brandName} , </if>
                        <if test='spec!=null and !"".equals(spec)' > #{spec} , </if>
                        <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
                        <if test='supplyPrice!=null' > #{supplyPrice} , </if>
                        <if test='state!=null and !"".equals(state)' > #{state} , </if>
                        <if test='effectiveDate!=null' > #{effectiveDate} , </if>
                        <if test='expiryDate!=null' > #{expiryDate} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='auditor!=null' > #{auditor} , </if>
                        <if test='auditName!=null and !"".equals(auditName)' > #{auditName} , </if>
                        <if test='auditDate!=null' > #{auditDate} , </if>
                        <if test='modifier!=null' > #{modifier} , </if>
                        <if test='modifierName!=null and !"".equals(modifierName)' > #{modifierName} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='submitName!=null and !"".equals(submitName)' > #{submitName} , </if>
                        <if test='submitId!=null' > #{submitId} , </if>
                        <if test='submitDate!=null' > #{submitDate} , </if>
                        <if test='cancelReason!=null and !"".equals(cancelReason)' > #{cancelReason} , </if>
                        <if test='remark!=null and !"".equals(remark)' > #{remark} , </if>
                        <if test='code!=null and !"".equals(code)' > #{code} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' > #{barcode} , </if>
                        <if test='stockLocationTypeId!=null' > #{stockLocationTypeId} , </if>
                        <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' > #{stockLocationTypeName} , </if>
                        <if test='dataSource!=null and !"".equals(dataSource)' > #{dataSource} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='SupplierMerchandisePriceModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  st_supplier_merchandise_price SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='customerId!=null' > customer_id= #{customerId} , </if>
                        <if test='customerCode!=null and !"".equals(customerCode)' >customer_code= #{customerCode} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} , </if>
                        <if test='brandId!=null' > brand_id= #{brandId} , </if>
                        <if test='brandName!=null and !"".equals(brandName)' >brand_name= #{brandName} , </if>
                        <if test='spec!=null and !"".equals(spec)' >spec= #{spec} , </if>
                        <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
                        <if test='supplyPrice!=null' > supply_price= #{supplyPrice} , </if>
                        <if test='state!=null and !"".equals(state)' >state= #{state} , </if>
                        <if test='effectiveDate!=null' > effective_date= #{effectiveDate} , </if>
                        <if test='expiryDate!=null' > expiry_date= #{expiryDate} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='auditor!=null' > auditor= #{auditor} , </if>
                        <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} , </if>
                        <if test='auditDate!=null' > audit_date= #{auditDate} , </if>
                        <if test='modifier!=null' > modifier= #{modifier} , </if>
                        <if test='modifierName!=null and !"".equals(modifierName)' >modifier_name= #{modifierName} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='submitName!=null and !"".equals(submitName)' >submit_name= #{submitName} , </if>
                        <if test='submitId!=null' > submit_id= #{submitId} , </if>
                        <if test='submitDate!=null' > submit_date= #{submitDate} , </if>
                        <if test='cancelReason!=null and !"".equals(cancelReason)' >cancel_reason= #{cancelReason} , </if>
                        <if test='remark!=null and !"".equals(remark)' >remark= #{remark} , </if>
                        <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
                        <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} , </if>
                        <if test='stockLocationTypeId!=null' > stock_location_type_id= #{stockLocationTypeId} , </if>
                        <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' >stock_location_type_name= #{stockLocationTypeName} , </if>
                        <if test='dataSource!=null and !"".equals(dataSource)' >data_source= #{dataSource} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from st_supplier_merchandise_price  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from st_supplier_merchandise_price where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            merchant_id,
            merchant_name,
            customer_id,
            customer_code,
            customer_name,
            commbarcode,
            goods_name,
            brand_id,
            brand_name,
            spec,
            currency,
            supply_price,
            state,
            effective_date,
            expiry_date,
            creater,
            create_name,
            create_date,
            auditor,
            audit_name,
            audit_date,
            modifier,
            modifier_name,
            modify_date,
            bu_name,
            bu_id,
            submit_name,
            submit_id,
            submit_date,
            cancel_reason,
            remark,
            code,
            barcode,
            stock_location_type_id,
            stock_location_type_name,
            data_source
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='customerCode!=null and !"".equals(customerCode)' >customer_code= #{customerCode} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                            <if test='brandId!=null' > brand_id= #{brandId} and </if>
                            <if test='brandName!=null and !"".equals(brandName)' >brand_name= #{brandName} and </if>
                            <if test='spec!=null and !"".equals(spec)' >spec= #{spec} and </if>
                            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                            <if test='supplyPrice!=null' > supply_price= #{supplyPrice} and </if>
                            <if test='state!=null and !"".equals(state)' >state= #{state} and </if>
                            <if test='effectiveDate!=null' > effective_date= #{effectiveDate} and </if>
                            <if test='expiryDate!=null' > expiry_date= #{expiryDate} and </if>
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='auditor!=null' > auditor= #{auditor} and </if>
                            <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} and </if>
                            <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                            <if test='modifier!=null' > modifier= #{modifier} and </if>
                            <if test='modifierName!=null and !"".equals(modifierName)' >modifier_name= #{modifierName} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='buName!=null and !"".equals(buName)' > bu_name=#{buName} and  </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='submitName!=null and !"".equals(submitName)' > submit_name=#{submitName} and  </if>
                            <if test='submitId!=null' > submit_id= #{submitId} and </if>
                            <if test='submitDate!=null' > submit_date= #{submitDate} and </if>
                            <if test='cancelReason!=null and !"".equals(cancelReason)' > cancel_reason=#{cancelReason} and  </if>
                            <if test='remark!=null and !"".equals(remark)' > remark=#{remark} and  </if>
                            <if test='code!=null and !"".equals(code)' > code=#{code} and  </if>
                            <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                            <if test='stockLocationTypeId!=null' > stock_location_type_id= #{stockLocationTypeId} and </if>
                            <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' >stock_location_type_name= #{stockLocationTypeName} and </if>
                            <if test='dataSource!=null and !"".equals(dataSource)' >data_source= #{dataSource} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->

    <sql id='sql_where_dto'>
        <where>
            <trim suffixOverrides='and'>
                <if test='id!=null' > id= #{id} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='customerId!=null' > customer_id= #{customerId} and </if>
                <if test='customerCode!=null and !"".equals(customerCode)' >customer_code= #{customerCode} and </if>
                <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode LIKE CONCAT('%',#{commbarcode},'%') and</if>
                <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                <if test='brandId!=null' > brand_id= #{brandId} and </if>
                <if test='brandName!=null and !"".equals(brandName)' >brand_name= #{brandName} and </if>
                <if test='spec!=null and !"".equals(spec)' >spec= #{spec} and </if>
                <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                <if test='supplyPrice!=null' > supply_price= #{supplyPrice} and </if>
                <if test='state!=null and !"".equals(state)' >state= #{state} and </if>
                <if test='effectiveDate!=null' > effective_date= #{effectiveDate} and </if>
                <if test='expiryDate!=null' > expiry_date= #{expiryDate} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='auditor!=null' > auditor= #{auditor} and </if>
                <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} and </if>
                <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                <if test='modifier!=null' > modifier= #{modifier} and </if>
                <if test='modifierName!=null and !"".equals(modifierName)' >modifier_name= #{modifierName} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='buName!=null and !"".equals(buName)' > bu_name=#{buName} and  </if>
                <if test='buId!=null' > bu_id= #{buId} and </if>
                <if test='submitName!=null and !"".equals(submitName)' > submit_name=#{submitName} and  </if>
                <if test='submitId!=null' > submit_id= #{submitId} and </if>
                <if test='submitDate!=null' > submit_date= #{submitDate} and </if>
                <if test='cancelReason!=null and !"".equals(cancelReason)' > cancel_reason=#{cancelReason} and  </if>
                <if test='barcode!=null and !"".equals(barcode)' >barcode= #{barcode} and </if>
                <if test='stockLocationTypeId!=null' > stock_location_type_id= #{stockLocationTypeId} and </if>
                <if test='stockLocationTypeName!=null and !"".equals(stockLocationTypeName)' >stock_location_type_name= #{stockLocationTypeName} and </if>
                <if test='dataSource!=null and !"".equals(dataSource)' >data_source= #{dataSource} and </if>
            </trim>
        </where>
    </sql>

    <!-- 查询所有信息 分页 -->
    <select id='getDTOListByPage' resultType='SupplierMerchandisePriceDTO' parameterType='SupplierMerchandisePriceDTO'>
        select <include refid='sql_columns' /> from st_supplier_merchandise_price  <include refid='sql_where_dto' />
        	<!--<if test='commbarcodeList!=null and commbarcodeList.size()>0' >
			   and  commbarcode in
				<foreach collection='commbarcodeList' item='commbarcode' separator=',' open='(' close=')'>
				        #{commbarcode}
				</foreach>
			</if>-->
            <if test='supplierList!=null and supplierList.size()>0' >
                and  customer_id in
                <foreach collection='supplierList' item='customerId' separator=',' open='(' close=')'>
                    #{customerId}
                </foreach>
            </if>
        order by create_date desc
    </select>
    <!-- 查询所有信息 -->
    <select id='queryDTOList' resultType='SupplierMerchandisePriceDTO' parameterType='SupplierMerchandisePriceDTO'>
        select <include refid='sql_columns' /> from st_supplier_merchandise_price  <include refid='sql_where_dto' />

       <!-- <if test='commbarcodeList!=null and commbarcodeList.size()>0' >
			   and  commbarcode in
				<foreach collection='commbarcodeList' item='commbarcode' separator=',' open='(' close=')'>
				        #{commbarcode}
				</foreach>
			</if>-->
        <if test='supplierList!=null and supplierList.size()>0' >
            and  customer_id in
            <foreach collection='supplierList' item='customerId' separator=',' open='(' close=')'>
                #{customerId}
            </foreach>
        </if>
        <if test='ids!=null and ids.size()>0' >
            and  id in
            <foreach collection='ids' item='id' separator=',' open='(' close=')'>
                #{id}
            </foreach>
        </if>
        order by create_date desc
    </select>

    <select id='getDetails' resultType='SupplierMerchandisePriceDTO' parameterType='java.lang.Long'>
        select <include refid='sql_columns' /> from st_supplier_merchandise_price where id=#{id}
    </select>

    <select id='getSMPriceByPurchaseOrder' resultType='SupplierMerchandisePriceModel' parameterType='SupplierMerchandisePriceModel' >
        select <include refid='sql_columns' /> from st_supplier_merchandise_price
        <where>
             <trim suffixOverrides='and'>
                         <if test='id!=null' > id= #{id} and </if>
                         <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                         <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                         <if test='customerId!=null' > customer_id= #{customerId} and </if>
                         <if test='customerCode!=null and !"".equals(customerCode)' >customer_code= #{customerCode} and </if>
                         <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                         <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                         <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                         <if test='brandId!=null' > brand_id= #{brandId} and </if>
                         <if test='brandName!=null and !"".equals(brandName)' >brand_name= #{brandName} and </if>
                         <if test='spec!=null and !"".equals(spec)' >spec= #{spec} and </if>
                         <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                         <if test='supplyPrice!=null' > supply_price= #{supplyPrice} and </if>
                         <if test='state!=null and !"".equals(state)' >state= #{state} and </if>
                         <if test='effectiveDate!=null' > effective_date = #{effectiveDate} and </if>
                         <if test='expiryDate!=null' >expiry_date = #{expiryDate} and  </if>
                         <if test='creater!=null' > creater= #{creater} and </if>
                         <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                         <if test='createDate!=null' > create_date= #{createDate} and </if>
                         <if test='auditor!=null' > auditor= #{auditor} and </if>
                         <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} and </if>
                         <if test='auditDate!=null' > audit_date= #{auditDate} and </if>
                         <if test='modifier!=null' > modifier= #{modifier} and </if>
                         <if test='modifierName!=null and !"".equals(modifierName)' >modifier_name= #{modifierName} and </if>
                         <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                         <if test='effectiveDateStr!=null' > DATE_FORMAT(effective_date,'%Y-%m-%d') &lt;= #{effectiveDateStr} and </if>
                         <if test='expiryDateStr!=null' > DATE_FORMAT(expiry_date,'%Y-%m-%d') &gt;= #{expiryDateStr} and  </if>
                         <if test='buId!=null' > bu_id= #{buId} and </if>
             </trim>
         </where>
         order by audit_date desc limit 1
    </select>

    <select id="statisticsStateNum" resultType="map" parameterType="SupplierMerchandisePriceDTO">
        select state , count(id) num
        from st_supplier_merchandise_price
        <include refid='sql_where_dto' />
        <!--<if test='commbarcodeList!=null and commbarcodeList.size()>0' >
			   and  commbarcode in
				<foreach collection='commbarcodeList' item='commbarcode' separator=',' open='(' close=')'>
				        #{commbarcode}
				</foreach>
			</if>-->
        <if test='supplierList!=null and supplierList.size()>0' >
            and  customer_id in
            <foreach collection='supplierList' item='customerId' separator=',' open='(' close=')'>
                #{customerId}
            </foreach>
        </if>
        group by state
    </select>

    <select id="listByIds" resultMap="SupplierMerchandisePriceModelMap" >
        select <include refid='sql_columns' /> from st_supplier_merchandise_price
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id='searchDTOById' resultType='SupplierMerchandisePriceDTO'  >
        select <include refid='sql_columns' /> from st_supplier_merchandise_price  where id=#{id}
    </select>

    <select id="listGroupByStockType" resultType="SupplierMerchandisePriceModel">
        select <include refid='sql_columns' />
        from st_supplier_merchandise_price a
        where id in (SELECT substring_index( group_concat( t.id ORDER BY t.audit_date DESC ), ',', 1 )
                     FROM ( SELECT id, merchant_id, bu_id, barcode, audit_date,stock_location_type_id FROM st_supplier_merchandise_price <include refid='sql_where' />
                           ORDER BY audit_date DESC) t
                     GROUP BY merchant_id, bu_id, barcode,stock_location_type_id)
    </select>
</mapper>
