<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.order.BillOutinDepotBatchMapper'>

        <!-- 关系映射 -->
        <resultMap id="BillOutinDepotBatchModelMap" type="BillOutinDepotBatchModel" >
                <result property="id" column="id" />
                <result property="outinDepotId" column="outin_depot_id" />
                <result property="goodsId" column="goods_id" />
                <result property="goodsNo" column="goods_no" />
                <result property="goodsName" column="goods_name" />
                <result property="commbarcode" column="commbarcode" />
                <result property="num" column="num" />
                <result property="batchNo" column="batch_no" />
                <result property="productionDate" column="production_date" />
                <result property="overdueDate" column="overdue_date" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
        </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='BillOutinDepotBatchModelMap' parameterType='BillOutinDepotBatchModel'>
        select <include refid='sql_columns' /> from t_bill_outin_depot_batch  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='BillOutinDepotBatchModelMap' parameterType='BillOutinDepotBatchModel'>
        select <include refid='sql_columns' /> from t_bill_outin_depot_batch  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='BillOutinDepotBatchModelMap' parameterType='BillOutinDepotBatchModel' >
        select <include refid='sql_columns' /> from t_bill_outin_depot_batch  <include refid='sql_where' />
    </select>

        <!-- 新增数据 -->
        <insert id='insert' parameterType='BillOutinDepotBatchModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO t_bill_outin_depot_batch
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='outinDepotId!=null' >outin_depot_id , </if>
                        <if test='goodsId!=null' >goods_id , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' > goods_no , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > goods_name , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='num!=null' >num , </if>
                        <if test='batchNo!=null and !"".equals(batchNo)' > batch_no , </if>
                        <if test='productionDate!=null' >production_date , </if>
                        <if test='overdueDate!=null' >overdue_date , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='outinDepotId!=null' > #{outinDepotId} , </if>
                        <if test='goodsId!=null' > #{goodsId} , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' > #{goodsNo} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > #{goodsName} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='num!=null' > #{num} , </if>
                        <if test='batchNo!=null and !"".equals(batchNo)' > #{batchNo} , </if>
                        <if test='productionDate!=null' > #{productionDate} , </if>
                        <if test='overdueDate!=null' > #{overdueDate} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
            </trim>
        </insert>

        <!-- 修改数据 -->
        <update id='update' parameterType='BillOutinDepotBatchModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  t_bill_outin_depot_batch SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='outinDepotId!=null' > outin_depot_id= #{outinDepotId} , </if>
                        <if test='goodsId!=null' > goods_id= #{goodsId} , </if>
                        <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='num!=null' > num= #{num} , </if>
                        <if test='batchNo!=null and !"".equals(batchNo)' >batch_no= #{batchNo} , </if>
                        <if test='productionDate!=null' > production_date= #{productionDate} , </if>
                        <if test='overdueDate!=null' > overdue_date= #{overdueDate} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_bill_outin_depot_batch  where id=#{id}
    </delete>

        <!-- 批量删除数据 -->
        <delete id='batchDel' parameterType='java.util.ArrayList'>
            delete from t_bill_outin_depot_batch where id in
            <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
            </foreach>
        </delete>

        <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            outin_depot_id,
            goods_id,
            goods_no,
            goods_name,
            commbarcode,
            num,
            batch_no,
            production_date,
            overdue_date,
            create_date,
            modify_date
        </sql>

        <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='outinDepotId!=null' > outin_depot_id= #{outinDepotId} and </if>
                            <if test='goodsId!=null' > goods_id= #{goodsId} and </if>
                            <if test='goodsNo!=null and !"".equals(goodsNo)' >goods_no= #{goodsNo} and </if>
                            <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='num!=null' > num= #{num} and </if>
                            <if test='batchNo!=null and !"".equals(batchNo)' >batch_no= #{batchNo} and </if>
                            <if test='productionDate!=null' > production_date= #{productionDate} and </if>
                            <if test='overdueDate!=null' > overdue_date= #{overdueDate} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                </trim>
            </where>
        </sql>

        <!--自定义SQL-->




</mapper>