<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.order.SaleReturnIdepotMapper'>

    <!-- 关系映射 -->
    <resultMap id="SaleReturnIdepotModelMap" type="SaleReturnIdepotModel" >
            <result property="code" column="code" />
            <result property="lbxNo" column="lbx_no" />
            <result property="orderId" column="order_id" />
            <result property="contractNo" column="contract_no" />
            <result property="outDepotId" column="out_depot_id" />
            <result property="remark" column="remark" />
            <result property="customsNo" column="customs_no" />
            <result property="merchantName" column="merchant_name" />
            <result property="returnInDate" column="return_in_date" />
            <result property="merchantId" column="merchant_id" />
            <result property="customerId" column="customer_id" />
            <result property="model" column="model" />
            <result property="id" column="id" />
            <result property="createDate" column="create_date" />
            <result property="returnInNum" column="return_in_num" />
            <result property="modifyDate" column="modify_date" />
            <result property="inspectNo" column="inspect_no" />
            <result property="customerName" column="customer_name" />
            <result property="inDepotName" column="in_depot_name" />
            <result property="inExternalCode" column="in_external_code" />
            <result property="outDepotName" column="out_depot_name" />
            <result property="merchantReturnNo" column="merchant_return_no" />
            <result property="inDepotId" column="in_depot_id" />
            <result property="creater" column="creater" />
            <result property="orderCode" column="order_code" />
            <result property="serveTypes" column="serve_types" />
            <result property="status" column="status" />
            <result property="yunjiAccountNo" column="yunji_account_no" />
            <result property="buName" column="bu_name" />
            <result property="buId" column="bu_id" />
            <result property="dataSource" column="data_source" />
            <result property="returnDeclareOrderId" column="return_declare_order_id" />
            <result property="returnDeclareOrderCode" column="return_declare_order_code" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='SaleReturnIdepotModelMap' parameterType='SaleReturnIdepotModel'>
        select <include refid='sql_columns' /> from t_sale_return_idepot  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='SaleReturnIdepotModelMap' parameterType='SaleReturnIdepotModel'>
        select <include refid='sql_columns' /> from t_sale_return_idepot  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='SaleReturnIdepotModelMap' parameterType='SaleReturnIdepotModel' >
        select <include refid='sql_columns' /> from t_sale_return_idepot  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='SaleReturnIdepotModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO t_sale_return_idepot
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='code!=null and !"".equals(code)' > code , </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' > lbx_no , </if>
                <if test='orderId!=null' > order_id , </if>
                <if test='contractNo!=null and !"".equals(contractNo)' > contract_no , </if>
                <if test='outDepotId!=null' > out_depot_id , </if>
                <if test='remark!=null and !"".equals(remark)' > remark , </if>
                <if test='customsNo!=null and !"".equals(customsNo)' > customs_no , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                <if test='returnInDate!=null' > return_in_date , </if>
                <if test='merchantId!=null' > merchant_id , </if>
                <if test='customerId!=null' > customer_id , </if>
                <if test='model!=null and !"".equals(model)' > model , </if>
                <if test='id!=null' > id , </if>
                <if test='createDate!=null' > create_date , </if>
                <if test='returnInNum!=null' > return_in_num , </if>
                <if test='modifyDate!=null' > modify_date , </if>
                <if test='inspectNo!=null and !"".equals(inspectNo)' > inspect_no , </if>
                <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' > in_depot_name , </if>
                <if test='inExternalCode!=null and !"".equals(inExternalCode)' > in_external_code , </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' > out_depot_name , </if>
                <if test='merchantReturnNo!=null and !"".equals(merchantReturnNo)' > merchant_return_no , </if>
                <if test='inDepotId!=null' > in_depot_id , </if>
                <if test='creater!=null' > creater , </if>
                <if test='orderCode!=null and !"".equals(orderCode)' > order_code , </if>
                <if test='serveTypes!=null and !"".equals(serveTypes)' > serve_types , </if>
                <if test='status!=null and !"".equals(status)' > status , </if>
                <if test='yunjiAccountNo!=null and !"".equals(yunjiAccountNo)' > yunji_account_no , </if>
                <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                <if test='buId!=null' >bu_id , </if>
                <if test='dataSource!=null and !"".equals(dataSource)' > data_source , </if>
                <if test='returnDeclareOrderId!=null' >return_declare_order_id , </if>
                <if test='returnDeclareOrderCode!=null and !"".equals(returnDeclareOrderCode)' > return_declare_order_code , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='code!=null and !"".equals(code)' > #{code} , </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' > #{lbxNo} , </if>
                <if test='orderId!=null' > #{orderId} , </if>
                <if test='contractNo!=null and !"".equals(contractNo)' > #{contractNo} , </if>
                <if test='outDepotId!=null' > #{outDepotId} , </if>
                <if test='remark!=null and !"".equals(remark)' > #{remark} , </if>
                <if test='customsNo!=null and !"".equals(customsNo)' > #{customsNo} , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                <if test='returnInDate!=null' > #{returnInDate} , </if>
                <if test='merchantId!=null' > #{merchantId} , </if>
                <if test='customerId!=null' > #{customerId} , </if>
                <if test='model!=null and !"".equals(model)' > #{model} , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
                <if test='returnInNum!=null' > #{returnInNum} , </if>
                <if test='modifyDate!=null' > #{modifyDate} , </if>
                <if test='inspectNo!=null and !"".equals(inspectNo)' > #{inspectNo} , </if>
                <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' > #{inDepotName} , </if>
                <if test='inExternalCode!=null and !"".equals(inExternalCode)' > #{inExternalCode} , </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' > #{outDepotName} , </if>
                <if test='merchantReturnNo!=null and !"".equals(merchantReturnNo)' > #{merchantReturnNo} , </if>
                <if test='inDepotId!=null' > #{inDepotId} , </if>
                <if test='creater!=null' > #{creater} , </if>
                <if test='orderCode!=null and !"".equals(orderCode)' > #{orderCode} , </if>
                <if test='serveTypes!=null and !"".equals(serveTypes)' > #{serveTypes} , </if>
                <if test='status!=null and !"".equals(status)' > #{status} , </if>
                <if test='yunjiAccountNo!=null and !"".equals(yunjiAccountNo)' > #{yunjiAccountNo} , </if>
                <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                <if test='buId!=null' > #{buId} , </if>
                <if test='dataSource!=null and !"".equals(dataSource)' > #{dataSource} , </if>
                <if test='returnDeclareOrderId!=null' > #{returnDeclareOrderId} , </if>
                <if test='returnDeclareOrderCode!=null and !"".equals(returnDeclareOrderCode)' > #{returnDeclareOrderCode} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='SaleReturnIdepotModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  t_sale_return_idepot SET
        <trim  suffixOverrides=",">
                <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} , </if>
                <if test='orderId!=null' > order_id= #{orderId} , </if>
                <if test='contractNo!=null and !"".equals(contractNo)' >contract_no= #{contractNo} , </if>
                <if test='outDepotId!=null' > out_depot_id= #{outDepotId} , </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} , </if>
                <if test='customsNo!=null and !"".equals(customsNo)' >customs_no= #{customsNo} , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                <if test='returnInDate!=null' > return_in_date= #{returnInDate} , </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                <if test='customerId!=null' > customer_id= #{customerId} , </if>
                <if test='model!=null and !"".equals(model)' >model= #{model} , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
                <if test='returnInNum!=null' > return_in_num= #{returnInNum} , </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                <if test='inspectNo!=null and !"".equals(inspectNo)' >inspect_no= #{inspectNo} , </if>
                <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' >in_depot_name= #{inDepotName} , </if>
                <if test='inExternalCode!=null and !"".equals(inExternalCode)' >in_external_code= #{inExternalCode} , </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} , </if>
                <if test='merchantReturnNo!=null and !"".equals(merchantReturnNo)' >merchant_return_no= #{merchantReturnNo} , </if>
                <if test='inDepotId!=null' > in_depot_id= #{inDepotId} , </if>
                <if test='creater!=null' > creater= #{creater} , </if>
                <if test='orderCode!=null and !"".equals(orderCode)' >order_code= #{orderCode} , </if>
                <if test='serveTypes!=null and !"".equals(serveTypes)' >serve_types= #{serveTypes} , </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                <if test='yunjiAccountNo!=null and !"".equals(yunjiAccountNo)' >yunji_account_no= #{yunjiAccountNo} , </if>
                <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                <if test='buId!=null' > bu_id= #{buId} , </if>
                <if test='dataSource!=null and !"".equals(dataSource)' >data_source= #{dataSource} , </if>
                <if test='returnDeclareOrderId!=null' > return_declare_order_id= #{returnDeclareOrderId} , </if>
                <if test='returnDeclareOrderCode!=null and !"".equals(returnDeclareOrderCode)' >return_declare_order_code= #{returnDeclareOrderCode} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_sale_return_idepot  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from t_sale_return_idepot where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        code,
        lbx_no,
        order_id,
        contract_no,
        out_depot_id,
        remark,
        customs_no,
        merchant_name,
        return_in_date,
        merchant_id,
        customer_id,
        model,
        id,
        create_date,
        return_in_num,
        modify_date,
        inspect_no,
        customer_name,
        in_depot_name,
        in_external_code,
        out_depot_name,
        merchant_return_no,
        in_depot_id,
        creater,
        order_code,
        serve_types,
        status,
        yunji_account_no,
        bu_name,
        bu_id,
        data_source,
        return_declare_order_id,
        return_declare_order_code
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} and </if>
                <if test='orderId!=null' > order_id= #{orderId} and </if>
                <if test='contractNo!=null and !"".equals(contractNo)' >contract_no= #{contractNo} and </if>
                <if test='outDepotId!=null' > out_depot_id= #{outDepotId} and </if>
                <if test='remark!=null and !"".equals(remark)' >remark= #{remark} and </if>
                <if test='customsNo!=null and !"".equals(customsNo)' >customs_no= #{customsNo} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='returnInDate!=null' > return_in_date= #{returnInDate} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='customerId!=null' > customer_id= #{customerId} and </if>
                <if test='model!=null and !"".equals(model)' >model= #{model} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='returnInNum!=null' > return_in_num= #{returnInNum} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='inspectNo!=null and !"".equals(inspectNo)' >inspect_no= #{inspectNo} and </if>
                <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' >in_depot_name= #{inDepotName} and </if>
                <if test='inExternalCode!=null and !"".equals(inExternalCode)' >in_external_code= #{inExternalCode} and </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} and </if>
                <if test='merchantReturnNo!=null and !"".equals(merchantReturnNo)' >merchant_return_no= #{merchantReturnNo} and </if>
                <if test='inDepotId!=null' > in_depot_id= #{inDepotId} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='orderCode!=null and !"".equals(orderCode)' >order_code= #{orderCode} and </if>
                <if test='serveTypes!=null and !"".equals(serveTypes)' >serve_types= #{serveTypes} and </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                <if test='yunjiAccountNo!=null and !"".equals(yunjiAccountNo)' >yunji_account_no= #{yunjiAccountNo} and </if>
                <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} and </if>
                <if test='buId!=null' > bu_id= #{buId} and </if>
                <if test='dataSource!=null and !"".equals(dataSource)' >data_source= #{dataSource} and </if>
                <if test='returnDeclareOrderId!=null' > return_declare_order_id= #{returnDeclareOrderId} and </if>
                <if test='returnDeclareOrderCode!=null and !"".equals(returnDeclareOrderCode)' >return_declare_order_code= #{returnDeclareOrderCode} and </if>
            </trim>
        </where>
    </sql>

<!--自定义SQL-->



<!-- 对外api分页查询的数据 -->
	 <select id='getListPage' resultType="map" >
        SELECT  
		t1.`code`,
        t1.lbx_no,
        t1.order_id,
        t1.contract_no,
        t1.out_depot_id,
        t1.remark,
        t1.customs_no,
        t1.merchant_name,
        t1.return_in_date,
        t1.merchant_id,
        t1.customer_id,
		t1. model,
        t1.id,
        t1.create_date,
        t1.return_in_num,
        t1.modify_date,
        t1.inspect_no,
        t1.customer_name,
        t1.in_depot_name,
        t1.in_external_code,
        t1.out_depot_name,
        t1.merchant_return_no,
        t1.in_depot_id,
        t1.creater,
        t1.order_code,
        t1.serve_types,
        t1.`status`,
        o.currency,
        c.code as supplier_code,
		t2.type as depot_type,
		t2.`code` as depot_code,
		t2.depot_code as depot_code1,
		t2.`name` as depot_name,
		t2.id as depot_id
	from t_sale_return_idepot t1
	left join t_sale_return_order o on o.id=t1.order_id
    LEFT JOIN st_customer_info c on t1.customer_id=c.id
	LEFT JOIN st_depot_info t2 ON t1.in_depot_id=t2.id

	WHERE  t1.merchant_id= #{merchantId} 
	AND (t1.status='012' or t1.status='006') 
	and t1.bu_id in (
			SELECT id from st_business_unit WHERE `code` IN (	
				'E071100',
				'I020300',
				'I020200'
			)
		)
	AND (t1.create_date &gt;= #{startTime} OR t1.modify_date &gt;= #{startTime})
	AND  (t1.create_date &lt;= #{endTime} OR t1.modify_date &lt;= #{endTime})
    limit #{startIndex},#{pageSize}

    </select>
    
    <select id='getListCount' resultType="java.lang.Integer" >
    	SELECT count(1)
    	from t_sale_return_idepot t1
    	LEFT JOIN st_customer_info c on t1.customer_id=c.id
		LEFT JOIN st_depot_info t2 ON t1.in_depot_id=t2.id
		WHERE  t1.merchant_id= #{merchantId} 
		AND (t1.status='012' or t1.status='006') 
		and t1.bu_id in (
			SELECT id from st_business_unit WHERE `code` IN (	
				'E071100',
				'I020300',
				'I020200'
			)
		)
	 	AND (t1.create_date &gt;= #{startTime} OR t1.modify_date &gt;= #{startTime})
		AND  (t1.create_date &lt;= #{endTime} OR t1.modify_date &lt;= #{endTime})
    </select>

</mapper>