<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.order.TransferInDepotMapper'>

    <!-- 关系映射 -->
    <resultMap id="TransferInDepotModelMap" type="TransferInDepotModel" >
                <result property="code" column="code" />
                <result property="lbxNo" column="lbx_no" />
                <result property="modifyDate" column="modify_date" />
                <result property="contractNo" column="contract_no" />
                <result property="outDepotId" column="out_depot_id" />
                <result property="inCustomerId" column="in_customer_id" />
                <result property="tallyingOrderCode" column="tallying_order_code" />
                <result property="transferOrderId" column="transfer_order_id" />
                <result property="source" column="source" />
                <result property="transferDate" column="transfer_date" />
                <result property="merchantName" column="merchant_name" />
                <result property="inDepotName" column="in_depot_name" />
                <result property="inExternalCode" column="in_external_code" />
                <result property="outDepotName" column="out_depot_name" />
                <result property="transferOrderCode" column="transfer_order_code" />
                <result property="merchantId" column="merchant_id" />
                <result property="inDepotId" column="in_depot_id" />
                <result property="creater" column="creater" />
                <result property="createName" column="create_name" />
                <result property="inCustomerName" column="in_customer_name" />
                <result property="id" column="id" />
                <result property="status" column="status" />
                <result property="createDate" column="create_date" />
                <result property="tallyingOrderId" column="tallying_order_id" />
                <result property="buName" column="bu_name" />
                <result property="buId" column="bu_id" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='TransferInDepotModelMap' parameterType='TransferInDepotModel'>
        select <include refid='sql_columns' /> from t_transfer_in_depot  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='TransferInDepotModelMap' parameterType='TransferInDepotModel'>
        select <include refid='sql_columns' /> from t_transfer_in_depot  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='TransferInDepotModelMap' parameterType='TransferInDepotModel' >
        select <include refid='sql_columns' /> from t_transfer_in_depot  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
    <insert id='insert' parameterType='TransferInDepotModel' keyProperty="id" useGeneratedKeys="true">
    INSERT INTO t_transfer_in_depot
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='code!=null and !"".equals(code)' > code , </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' > lbx_no , </if>
                <if test='modifyDate!=null' > modify_date , </if>
                <if test='contractNo!=null and !"".equals(contractNo)' > contract_no , </if>
                <if test='outDepotId!=null' > out_depot_id , </if>
                <if test='inCustomerId!=null' > in_customer_id , </if>
                <if test='tallyingOrderCode!=null and !"".equals(tallyingOrderCode)' > tallying_order_code , </if>
                <if test='transferOrderId!=null' > transfer_order_id , </if>
                <if test='source!=null and !"".equals(source)' > source , </if>
                <if test='transferDate!=null' > transfer_date , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' > in_depot_name , </if>
                <if test='inExternalCode!=null and !"".equals(inExternalCode)' > in_external_code , </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' > out_depot_name , </if>
                <if test='transferOrderCode!=null and !"".equals(transferOrderCode)' > transfer_order_code , </if>
                <if test='merchantId!=null' > merchant_id , </if>
                <if test='inDepotId!=null' > in_depot_id , </if>
                <if test='creater!=null' > creater , </if>
                <if test='createName!=null and !"".equals(createName)' > create_name , </if>
                <if test='inCustomerName!=null and !"".equals(inCustomerName)' > in_customer_name , </if>
                <if test='id!=null' > id , </if>
                <if test='status!=null and !"".equals(status)' > status , </if>
                <if test='createDate!=null' > create_date , </if>
                <if test='tallyingOrderId!=null' > tallying_order_id , </if>
                <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                <if test='buId!=null' >bu_id , </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test='code!=null and !"".equals(code)' > #{code} , </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' > #{lbxNo} , </if>
                <if test='modifyDate!=null' > #{modifyDate} , </if>
                <if test='contractNo!=null and !"".equals(contractNo)' > #{contractNo} , </if>
                <if test='outDepotId!=null' > #{outDepotId} , </if>
                <if test='inCustomerId!=null' > #{inCustomerId} , </if>
                <if test='tallyingOrderCode!=null and !"".equals(tallyingOrderCode)' > #{tallyingOrderCode} , </if>
                <if test='transferOrderId!=null' > #{transferOrderId} , </if>
                <if test='source!=null and !"".equals(source)' > #{source} , </if>
                <if test='transferDate!=null' > #{transferDate} , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' > #{inDepotName} , </if>
                <if test='inExternalCode!=null and !"".equals(inExternalCode)' > #{inExternalCode} , </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' > #{outDepotName} , </if>
                <if test='transferOrderCode!=null and !"".equals(transferOrderCode)' > #{transferOrderCode} , </if>
                <if test='merchantId!=null' > #{merchantId} , </if>
                <if test='inDepotId!=null' > #{inDepotId} , </if>
                <if test='creater!=null' > #{creater} , </if>
                <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
                <if test='inCustomerName!=null and !"".equals(inCustomerName)' > #{inCustomerName} , </if>
                <if test='id!=null' > #{id} , </if>
                <if test='status!=null and !"".equals(status)' > #{status} , </if>
                <if test='createDate!=null' > #{createDate} , </if>
                <if test='tallyingOrderId!=null' > #{tallyingOrderId} , </if>
                <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                <if test='buId!=null' > #{buId} , </if>
        </trim>
    </insert>

    <!-- 修改数据 -->
    <update id='update' parameterType='TransferInDepotModel' keyProperty="id" useGeneratedKeys="true">
    UPDATE  t_transfer_in_depot SET
        <trim  suffixOverrides=",">
                <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} , </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                <if test='contractNo!=null and !"".equals(contractNo)' >contract_no= #{contractNo} , </if>
                <if test='outDepotId!=null' > out_depot_id= #{outDepotId} , </if>
                <if test='inCustomerId!=null' > in_customer_id= #{inCustomerId} , </if>
                <if test='tallyingOrderCode!=null and !"".equals(tallyingOrderCode)' >tallying_order_code= #{tallyingOrderCode} , </if>
                <if test='transferOrderId!=null' > transfer_order_id= #{transferOrderId} , </if>
                <if test='source!=null and !"".equals(source)' >source= #{source} , </if>
                <if test='transferDate!=null' > transfer_date= #{transferDate} , </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' >in_depot_name= #{inDepotName} , </if>
                <if test='inExternalCode!=null and !"".equals(inExternalCode)' >in_external_code= #{inExternalCode} , </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} , </if>
                <if test='transferOrderCode!=null and !"".equals(transferOrderCode)' >transfer_order_code= #{transferOrderCode} , </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                <if test='inDepotId!=null' > in_depot_id= #{inDepotId} , </if>
                <if test='creater!=null' > creater= #{creater} , </if>
                <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
                <if test='inCustomerName!=null and !"".equals(inCustomerName)' >in_customer_name= #{inCustomerName} , </if>
                <if test='id!=null' > id= #{id} , </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                <if test='createDate!=null' > create_date= #{createDate} , </if>
                <if test='tallyingOrderId!=null' > tallying_order_id= #{tallyingOrderId} , </if>
                <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                <if test='buId!=null' > bu_id= #{buId} , </if>
        </trim>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from t_transfer_in_depot  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from t_transfer_in_depot where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
    <sql id='sql_columns'>
        code,
        lbx_no,
        modify_date,
        contract_no,
        out_depot_id,
        in_customer_id,
        tallying_order_code,
        transfer_order_id,
        source,
        transfer_date,
        merchant_name,
        in_depot_name,
        in_external_code,
        out_depot_name,
        transfer_order_code,
        merchant_id,
        in_depot_id,
        creater,
        create_name,
        in_customer_name,
        id,
        status,
        create_date,
        tallying_order_id,
        bu_name,
        bu_id
    </sql>

    <!-- 查询条件 -->
    <sql id='sql_where'>
        <where>
            <trim suffixOverrides='and'>
                <if test='code!=null and !"".equals(code)' >code= #{code} and </if>
                <if test='lbxNo!=null and !"".equals(lbxNo)' >lbx_no= #{lbxNo} and </if>
                <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                <if test='contractNo!=null and !"".equals(contractNo)' >contract_no= #{contractNo} and </if>
                <if test='outDepotId!=null' > out_depot_id= #{outDepotId} and </if>
                <if test='inCustomerId!=null' > in_customer_id= #{inCustomerId} and </if>
                <if test='tallyingOrderCode!=null and !"".equals(tallyingOrderCode)' >tallying_order_code= #{tallyingOrderCode} and </if>
                <if test='transferOrderId!=null' > transfer_order_id= #{transferOrderId} and </if>
                <if test='source!=null and !"".equals(source)' >source= #{source} and </if>
                <if test='transferDate!=null' > transfer_date= #{transferDate} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                <if test='inDepotName!=null and !"".equals(inDepotName)' >in_depot_name= #{inDepotName} and </if>
                <if test='inExternalCode!=null and !"".equals(inExternalCode)' >in_external_code= #{inExternalCode} and </if>
                <if test='outDepotName!=null and !"".equals(outDepotName)' >out_depot_name= #{outDepotName} and </if>
                <if test='transferOrderCode!=null and !"".equals(transferOrderCode)' >transfer_order_code= #{transferOrderCode} and </if>
                <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                <if test='inDepotId!=null' > in_depot_id= #{inDepotId} and </if>
                <if test='creater!=null' > creater= #{creater} and </if>
                <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                <if test='inCustomerName!=null and !"".equals(inCustomerName)' >in_customer_name= #{inCustomerName} and </if>
                <if test='id!=null' > id= #{id} and </if>
                <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                <if test='createDate!=null' > create_date= #{createDate} and </if>
                <if test='tallyingOrderId!=null' > tallying_order_id= #{tallyingOrderId} and </if>
                <if test='buName!=null and !"".equals(buName)' > bu_name=#{buName} and  </if>
                <if test='buId!=null' > bu_id= #{buId} and </if>
            </trim>
        </where>
    </sql>

	<!--自定义SQL-->
	
	
	<!-- 对外api分页查询的数据 -->
	 <select id='getListPage' resultType="map" >
        SELECT  
		t1.`code`,
        t1.lbx_no,
        t1.contract_no,
        t1.out_depot_id,
        t1.in_customer_id,
        t1.tallying_order_code,
        t1.transfer_order_id,
        t1.source,
        t1.transfer_date,
        t1.merchant_name,
        t1.in_depot_name,
        t1.out_depot_name,
        t1.transfer_order_code,
        t1.merchant_id,
        t1.in_depot_id,
        t1.creater,
        t1.in_customer_name,
        t1.id,
        t1.`status`,
        t1.create_date,
        t1.tallying_order_id,
		t2.type as depot_type,
		t2.`code` as depot_code,
		t2.depot_code as depot_code1,
		t2.`name` as depot_name,
		t2.id as depot_id,
        m.code as in_customer_code
	from t_transfer_in_depot t1
	LEFT JOIN st_merchant_info m ON m.id=t1.in_customer_id
	LEFT JOIN st_depot_info t2 ON t1.in_depot_id=t2.id

	WHERE  t1.merchant_id= #{merchantId} 
	AND (t1.`status`='012' or t1.`status`='006' ) 
	and t1.bu_id in (
			SELECT id from st_business_unit WHERE `code` IN (	
				'E071100',
				'I020300',
				'I020200'
			)
	)
		and
		(
		 ( t1.create_date &gt;= #{startTime} and t1.create_date &lt;= #{endTime} ) 
		 or 
		 ( t1.modify_date &gt;= #{startTime}  and t1.modify_date &lt;= #{endTime} )
		)				 
	
    limit #{startIndex},#{pageSize}

    </select>
    
    <select id='getListCount' resultType="java.lang.Integer" >
    	SELECT count(1)
    	from t_transfer_in_depot t1
    	LEFT JOIN st_merchant_info m ON m.id=t1.in_customer_id
		LEFT JOIN st_depot_info t2 ON t1.in_depot_id=t2.id
	WHERE  t1.merchant_id= #{merchantId} 
	AND (t1.`status`='012' or t1.`status`='006' ) 
	and t1.bu_id in (
			SELECT id from st_business_unit WHERE `code` IN (	
				'E071100',
				'I020300',
				'I020200'
			)
	)
	and
	(
	 ( t1.create_date &gt;= #{startTime} and t1.create_date &lt;= #{endTime} ) 
	 or 
	 ( t1.modify_date &gt;= #{startTime}  and t1.modify_date &lt;= #{endTime} )
	)	
    </select>

</mapper>
