<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.topideal.mapper.system.CustomerSalePriceMapper'>

	<!-- 关系映射 -->
    <resultMap id="CustomerSalePriceModelMap" type="CustomerSalePriceModel" >
                <result property="id" column="id" />
                <result property="commbarcode" column="commbarcode" />
                <result property="merchantId" column="merchant_id" />
                <result property="merchantName" column="merchant_name" />
                <result property="customerId" column="customer_id" />
                <result property="customerName" column="customer_name" />
                <result property="customerCode" column="customer_code" />
                <result property="goodsName" column="goods_name" />
                <result property="spec" column="spec" />
                <result property="brandId" column="brand_id" />
                <result property="brandName" column="brand_name" />
                <result property="salePrice" column="sale_price" />
                <result property="expiryDate" column="expiry_date" />
                <result property="effectiveDate" column="effective_date" />
                <result property="currency" column="currency" />
                <result property="status" column="status" />
                <result property="createDate" column="create_date" />
                <result property="modifyDate" column="modify_date" />
                <result property="auditDate" column="audit_date" />
                <result property="creater" column="creater" />
                <result property="createName" column="create_name" />
                <result property="auditor" column="auditor" />
                <result property="auditName" column="audit_name" />
                <result property="modifier" column="modifier" />
                <result property="modifierName" column="modifier_name" />
                <result property="buName" column="bu_name" />
                <result property="buId" column="bu_id" />
                <result property="submitName" column="submit_name" />
                <result property="submitId" column="submit_id" />
                <result property="submitDate" column="submit_date" />
                <result property="remark" column="remark" />
                <result property="code" column="code" />
    </resultMap>

    <!-- 查询所有信息 -->
    <select id="list" resultMap='CustomerSalePriceModelMap' parameterType='CustomerSalePriceModel'>
        select <include refid='sql_columns' /> from st_customer_sale_price  <include refid='sql_where' />
    </select>

    <!-- 查询所有信息 分页 -->
    <select id='listByPage' resultMap='CustomerSalePriceModelMap' parameterType='CustomerSalePriceModel'>
        select <include refid='sql_columns' /> from st_customer_sale_price  <include refid='sql_where' />
    </select>

    <!-- 条件查询 -->
    <select id='get' resultMap='CustomerSalePriceModelMap' parameterType='CustomerSalePriceModel' >
        select <include refid='sql_columns' /> from st_customer_sale_price  <include refid='sql_where' />
    </select>

    <!-- 新增数据 -->
        <!-- 新增数据 -->
        <insert id='insert' parameterType='CustomerSalePriceModel' keyProperty="id" useGeneratedKeys="true">
            INSERT INTO st_customer_sale_price
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' >id , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > commbarcode , </if>
                        <if test='merchantId!=null' >merchant_id , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > merchant_name , </if>
                        <if test='customerId!=null' >customer_id , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > customer_name , </if>
                        <if test='customerCode!=null and !"".equals(customerCode)' > customer_code , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > goods_name , </if>
                        <if test='spec!=null and !"".equals(spec)' > spec , </if>
                        <if test='brandId!=null' >brand_id , </if>
                        <if test='brandName!=null and !"".equals(brandName)' > brand_name , </if>
                        <if test='salePrice!=null' >sale_price , </if>
                        <if test='expiryDate!=null' >expiry_date , </if>
                        <if test='effectiveDate!=null' >effective_date , </if>
                        <if test='currency!=null and !"".equals(currency)' > currency , </if>
                        <if test='status!=null and !"".equals(status)' > status , </if>
                        <if test='createDate!=null' >create_date , </if>
                        <if test='modifyDate!=null' >modify_date , </if>
                        <if test='auditDate!=null' >audit_date , </if>
                        <if test='creater!=null' >creater , </if>
                        <if test='createName!=null and !"".equals(createName)' > create_name , </if>
                        <if test='auditor!=null' >auditor , </if>
                        <if test='auditName!=null and !"".equals(auditName)' > audit_name , </if>
                        <if test='modifier!=null' >modifier , </if>
                        <if test='modifierName!=null and !"".equals(modifierName)' > modifier_name , </if>
                        <if test='buName!=null and !"".equals(buName)' > bu_name , </if>
                        <if test='buId!=null' >bu_id , </if>
                        <if test='submitName!=null and !"".equals(submitName)' > submit_name , </if>
                        <if test='submitId!=null' >submit_id , </if>
                        <if test='submitDate!=null' >submit_date , </if>
                        <if test='remark!=null and !"".equals(remark)' > remark , </if>
                        <if test='code!=null and !"".equals(code)' > code , </if>
            </trim>
            VALUES
            <trim prefix="(" suffix=")" suffixOverrides="," >
                        <if test='id!=null' > #{id} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' > #{commbarcode} , </if>
                        <if test='merchantId!=null' > #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' > #{merchantName} , </if>
                        <if test='customerId!=null' > #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' > #{customerName} , </if>
                        <if test='customerCode!=null and !"".equals(customerCode)' > #{customerCode} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' > #{goodsName} , </if>
                        <if test='spec!=null and !"".equals(spec)' > #{spec} , </if>
                        <if test='brandId!=null' > #{brandId} , </if>
                        <if test='brandName!=null and !"".equals(brandName)' > #{brandName} , </if>
                        <if test='salePrice!=null' > #{salePrice} , </if>
                        <if test='expiryDate!=null' > #{expiryDate} , </if>
                        <if test='effectiveDate!=null' > #{effectiveDate} , </if>
                        <if test='currency!=null and !"".equals(currency)' > #{currency} , </if>
                        <if test='status!=null and !"".equals(status)' > #{status} , </if>
                        <if test='createDate!=null' > #{createDate} , </if>
                        <if test='modifyDate!=null' > #{modifyDate} , </if>
                        <if test='auditDate!=null' >#{auditDate} , </if>
                        <if test='creater!=null' > #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' > #{createName} , </if>
                        <if test='auditor!=null' > #{auditor} , </if>
                        <if test='auditName!=null and !"".equals(auditName)' > #{auditName} , </if>
                        <if test='modifier!=null' > #{modifier} , </if>
                        <if test='modifierName!=null and !"".equals(modifierName)' > #{modifierName} , </if>
                        <if test='buName!=null and !"".equals(buName)' > #{buName} , </if>
                        <if test='buId!=null' > #{buId} , </if>
                        <if test='submitName!=null and !"".equals(submitName)' > #{submitName} , </if>
                        <if test='submitId!=null' > #{submitId} , </if>
                        <if test='submitDate!=null' > #{submitDate} , </if>
                        <if test='remark!=null and !"".equals(remark)' > #{remark} , </if>
                        <if test='code!=null and !"".equals(code)' > #{code} , </if>
            </trim>
        </insert>

    <!-- 修改数据 -->
        <update id='update' parameterType='CustomerSalePriceModel' keyProperty="id" useGeneratedKeys="true">
            UPDATE  st_customer_sale_price SET
            <trim  suffixOverrides=",">
                        <if test='id!=null' > id= #{id} , </if>
                        <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} , </if>
                        <if test='merchantId!=null' > merchant_id= #{merchantId} , </if>
                        <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} , </if>
                        <if test='customerId!=null' > customer_id= #{customerId} , </if>
                        <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} , </if>
                        <if test='customerCode!=null and !"".equals(customerCode)' >customer_code= #{customerCode} , </if>
                        <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} , </if>
                        <if test='spec!=null and !"".equals(spec)' >spec= #{spec} , </if>
                        <if test='brandId!=null' > brand_id= #{brandId} , </if>
                        <if test='brandName!=null and !"".equals(brandName)' >brand_name= #{brandName} , </if>
                        <if test='salePrice!=null' > sale_price= #{salePrice} , </if>
                        <if test='expiryDate!=null' > expiry_date= #{expiryDate} , </if>
                        <if test='effectiveDate!=null' > effective_date= #{effectiveDate} , </if>
                        <if test='currency!=null and !"".equals(currency)' >currency= #{currency} , </if>
                        <if test='status!=null and !"".equals(status)' >status= #{status} , </if>
                        <if test='createDate!=null' > create_date= #{createDate} , </if>
                        <if test='modifyDate!=null' > modify_date= #{modifyDate} , </if>
                        <if test='auditDate!=null' >audit_date= #{auditDate} , </if>
                        <if test='creater!=null' > creater= #{creater} , </if>
                        <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} , </if>
                        <if test='auditor!=null' > auditor= #{auditor} , </if>
                        <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} , </if>
                        <if test='modifier!=null' > modifier= #{modifier} , </if>
                        <if test='modifierName!=null and !"".equals(modifierName)' >modifier_name= #{modifierName} , </if>
                        <if test='buName!=null and !"".equals(buName)' >bu_name= #{buName} , </if>
                        <if test='buId!=null' > bu_id= #{buId} , </if>
                        <if test='submitName!=null and !"".equals(submitName)' >submit_name= #{submitName} , </if>
                        <if test='submitId!=null' > submit_id= #{submitId} , </if>
                        <if test='submitDate!=null' > submit_date= #{submitDate} , </if>
                        <if test='remark!=null and !"".equals(remark)' >remark= #{remark} , </if>
                        <if test='code!=null and !"".equals(code)' >code= #{code} , </if>
            </trim>
            <where>
                id=#{id}
            </where>
        </update>

    <!-- 删除数据 -->
    <delete id='del' parameterType='java.lang.Long'>
        delete from st_customer_sale_price  where id=#{id}
    </delete>

    <!-- 批量删除数据 -->
    <delete id='batchDel' parameterType='java.util.ArrayList'>
        delete from st_customer_sale_price where id in
        <foreach collection='list' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </delete>

    <!-- 表字段 -->
        <sql id='sql_columns'>
            id,
            commbarcode,
            merchant_id,
            merchant_name,
            customer_id,
            customer_name,
            customer_code,
            goods_name,
            spec,
            brand_id,
            brand_name,
            sale_price,
            expiry_date,
            effective_date,
            currency,
            status,
            create_date,
            modify_date,
            audit_date,
            creater,
            create_name,
            auditor,
            audit_name,
            modifier,
            modifier_name,
            bu_name,
            bu_id,
            submit_name,
            submit_id,
            submit_date,
            remark,
            code
        </sql>

    <!-- 查询条件 -->
        <sql id='sql_where'>
            <where>
                <trim suffixOverrides='and'>
                            <if test='id!=null' > id= #{id} and </if>
                            <if test='commbarcode!=null and !"".equals(commbarcode)' >commbarcode= #{commbarcode} and </if>
                            <if test='merchantId!=null' > merchant_id= #{merchantId} and </if>
                            <if test='merchantName!=null and !"".equals(merchantName)' >merchant_name= #{merchantName} and </if>
                            <if test='customerId!=null' > customer_id= #{customerId} and </if>
                            <if test='customerName!=null and !"".equals(customerName)' >customer_name= #{customerName} and </if>
                            <if test='customerCode!=null and !"".equals(customerCode)' >customer_code= #{customerCode} and </if>
                            <if test='goodsName!=null and !"".equals(goodsName)' >goods_name= #{goodsName} and </if>
                            <if test='spec!=null and !"".equals(spec)' >spec= #{spec} and </if>
                            <if test='brandId!=null' > brand_id= #{brandId} and </if>
                            <if test='brandName!=null and !"".equals(brandName)' >brand_name= #{brandName} and </if>
                            <if test='salePrice!=null' > sale_price= #{salePrice} and </if>
                            <if test='expiryDate!=null' > expiry_date= #{expiryDate} and </if>
                            <if test='effectiveDate!=null' > effective_date= #{effectiveDate} and </if>
                            <if test='currency!=null and !"".equals(currency)' >currency= #{currency} and </if>
                            <if test='status!=null and !"".equals(status)' >status= #{status} and </if>
                            <if test='createDate!=null' > create_date= #{createDate} and </if>
                            <if test='modifyDate!=null' > modify_date= #{modifyDate} and </if>
                            <if test='auditDate!=null' >audit_date= #{auditDate} and </if>
                            <if test='creater!=null' > creater= #{creater} and </if>
                            <if test='createName!=null and !"".equals(createName)' >create_name= #{createName} and </if>
                            <if test='auditor!=null' > auditor= #{auditor} and </if>
                            <if test='auditName!=null and !"".equals(auditName)' >audit_name= #{auditName} and </if>
                            <if test='modifier!=null' > modifier= #{modifier} and </if>
                            <if test='modifierName!=null and !"".equals(modifierName)' >modifier_name= #{modifierName} and </if>
                            <if test='buName!=null and !"".equals(buName)' > bu_name=#{buName} and  </if>
                            <if test='buId!=null' > bu_id= #{buId} and </if>
                            <if test='submitName!=null and !"".equals(submitName)' > submit_name=#{submitName} and  </if>
                            <if test='submitId!=null' > submit_id= #{submitId} and </if>
                            <if test='submitDate!=null' > submit_date= #{submitDate} and </if>
                            <if test='remark!=null and !"".equals(remark)' > remark=#{remark} and  </if>
                            <if test='code!=null and !"".equals(code)' > code=#{code} and  </if>
                             status !='006' and
                </trim>
            </where>
        </sql>

<!--自定义SQL-->
    <resultMap id="CustomerSalePriceModelMap2" type="CustomerSalePriceModel" >
              <!--   <result property="expiryDate" column="expiry_date" />
                <result property="modifyDate" column="modify_date" />
                <result property="merchantId" column="merchant_id" />
                <result property="customerId" column="customer_id" />
                <result property="immediateEffect" column="immediate_effect" />
                <result property="id" column="id" />
                  <result property="priceId" column="priceId" />
                <result property="customerName" column="customer_name" />
                <result property="effectiveDate" column="effective_date" />
                <result property="merchantName" column="merchant_name" />
                <result property="createDate" column="create_date" />
                <result property="currency" column="currency" />
                
                拓展字段
                  <result property="customerCode" column="customer_code" />
                  <result property="mainId" column="main_id" />
                  <result property="goodsNo" column="goods_no" />
                  <result property="brandName" column="brand_name" />
                  <result property="unitName" column="unit_name" />
                  <result property="salePrice" column="sale_price" />
                  <result property="salePriceId" column="sale_price_id" />
                  <result property="spec" column="spec" />
                  <result property="goodsClassifyName" column="goods_classify_name" />
                  <result property="barcode" column="barcode" />
                  <result property="goodsName" column="goods_name" />
                  <result property="createDate" column="create_date" />
                  <result property="isGroup" column="is_group" />
                  <result property="salePriceItemId" column="sale_price_item_id" /> -->
    </resultMap>
    
	<select id='getListByPage' resultMap='CustomerSalePriceModelMap2' parameterType='CustomerSalePriceModel'>
			<!-- SELECT
				t1.id,t1.customer_name,t1.merchant_name,t2.sale_price,
			t1.effective_date,t1.expiry_date,t2.barcode,t2.brand_name,t2.unit_name,t2.create_date,t2.goods_name,t2.goods_no,t2.spec
			FROM
				st_customer_sale_price t1
			LEFT JOIN st_customer_sale_price_item t2 ON t1.id = t2.sale_price_id
			 <where>
            <trim suffixOverrides='and'>
                <if test='goodsNo!=null and !"".equals(goodsNo)' >t2.goods_no= #{goodsNo} and </if>
                <if test='unitName!=null and !"".equals(unitName)' >t2.unit_name= #{unitName} and </if>
                <if test='modifyDate!=null' > t1.modify_date= #{modifyDate} and </if>
                <if test='salePrice!=null' > t2.sale_price= #{salePrice} and </if>
                <if test='goodsId!=null' > t2.goods_id= #{goodsId} and </if>
                <if test='customerName!=null and !"".equals(customerName)' >t1.customer_name= #{customerName} and </if>
                <if test='spec!=null and !"".equals(spec)' >t2.spec= #{spec} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >t1.merchant_name= #{merchantName} and </if>
                <if test='expiryDate!=null' > t1.expiry_date= #{expiryDate} and </if>
                <if test='merchantId!=null' > t1.merchant_id= #{merchantId} and </if>
                <if test='customerId!=null' > t1.customer_id= #{customerId} and </if>
                <if test='unitId!=null' >t2.unit_id= #{unitId} and </if>
                <if test='id!=null' > t2.id= #{id} and </if>
                <if test='barcode!=null and !"".equals(barcode)' >t2.barcode= #{barcode} and </if>
                <if test='goodsName!=null and !"".equals(goodsName)' >t2.goods_name= #{goodsName} and </if>
                <if test='effectiveDate!=null' > t1.effective_date= #{effectiveDate} and </if>
                <if test='createDate!=null' > t2.create_date= #{createDate} and </if>
            </trim>
        </where>
        order by t2.id desc -->
	</select>
	
	<select id="getDetails" resultMap='CustomerSalePriceModelMap2' parameterType='CustomerSalePriceModel'>
		<!-- SELECT
				t1.id,
				t1.customer_id,
				t1.customer_name,
				t1.merchant_name,
				t1.effective_date,
				t1.expiry_date,
				t1.immediate_effect,
				t2.barcode,
				t2.brand_name,
				t1.create_date,
				t2.goods_name,
				t2.goods_no,
				t2.spec,
				t2.unit_name,
				t2.sale_price,
				t2.is_group,
				t1.customer_code,
				t1.main_id
			FROM
				st_customer_sale_price t1
			LEFT JOIN st_customer_sale_price_item t2 ON t1.id = t2.sale_price_id
			<where>
            <trim suffixOverrides='and'>
                <if test='goodsNo!=null and !"".equals(goodsNo)' >t2.goods_no= #{goodsNo} and </if>
                <if test='unitName!=null and !"".equals(unitName)' >t2.unit_name= #{unitName} and </if>
                <if test='modifyDate!=null' > t1.modify_date= #{modifyDate} and </if>
                <if test='salePrice!=null' > t2.sale_price= #{salePrice} and </if>
                <if test='goodsId!=null' > t2.goods_id= #{goodsId} and </if>
                <if test='customerName!=null and !"".equals(customerName)' >t1.customer_name= #{customerName} and </if>
                <if test='spec!=null and !"".equals(spec)' >t2.spec= #{spec} and </if>
                <if test='merchantName!=null and !"".equals(merchantName)' >t1.merchant_name= #{merchantName} and </if>
                <if test='expiryDate!=null' > t1.expiry_date= #{expiryDate} and </if>
                <if test='merchantId!=null' > t1.merchant_id= #{merchantId} and </if>
                <if test='customerId!=null' > t1.customer_id= #{customerId} and </if>
                <if test='unitId!=null' >t2.unit_id= #{unitId} and </if>
                <if test='id!=null' > t2.id= #{id} and </if>
                <if test='barcode!=null and !"".equals(barcode)' >t2.barcode= #{barcode} and </if>
                <if test='goodsName!=null and !"".equals(goodsName)' >t2.goods_name= #{goodsName} and </if>
                <if test='effectiveDate!=null' > t1.effective_date= #{effectiveDate} and </if>
                <if test='createDate!=null' > t2.create_date= #{createDate} and </if>
            </trim>
        </where> -->
	</select>
	
	<!-- 客户 关系映射 -->
	<resultMap id="CustomerInfoModelMap" type="CustomerInfoModel" >
		 <!-- <result property="code" column="code" />
		 <result property="id" column="id" />
		  <result property="mainId" column="main_id" /> -->
	</resultMap>
	
	<!-- 根据客户ID回显code和mainId -->
	<select id="getCodeById" resultMap='CustomerInfoModelMap' parameterType='CustomerInfoModel'>
	<!-- 	SELECT id,CODE,case when (main_id = 'null') then '0'
		when (main_id !='0') then main_id
    else '' end as main_id FROM st_customer_info WHERE id = #{id} -->
	</select>
	
	
	<!-- 根据表体id删除表体数据 -->
    <delete id='batchDelById' parameterType='java.util.ArrayList'>
        <!-- delete from st_customer_sale_price where id in (select sale_price_id from st_customer_sale_price_item) -->
        
    </delete>

<!-- 根据商家id,客户id,商品货号 获取价格 -->
<!-- <select id="getPrice" resultMap='CustomerSalePriceModelMap2' parameterType='CustomerSalePriceModel'>
select *,t.sale_price as salePrice from st_customer_sale_price tt
left join st_customer_sale_price_item t on tt.id = t.sale_price_id
<where>
	<trim suffixOverrides="and">
		<if test="customerId != null">tt.customer_id = #{customerId} and</if>
		<if test="merchantId != null"> tt.merchant_id = #{merchantId} and</if>
		<if test="goodsNo != null">t.goods_no= #{goodsNo} and </if>
	</trim>
</where>
</select> -->

<!-- 根据商家id,客户id,商品货号 获取价格 -->
<select id="getPrice" resultMap='CustomerSalePriceModelMap2' parameterType='CustomerSalePriceModel'>
select id,sale_price,currency from st_customer_sale_price 
<where>
	<trim suffixOverrides="and">
		<if test="customerId != null"> customer_id = #{customerId} and</if>
		<if test="merchantId != null"> merchant_id = #{merchantId} and</if>
		<if test="goodsNo != null"> commbarcode= #{commbarcode} and </if>
		<if test="expiryDate!=null"> expiry_date &gt;= #{expiryDate} and </if><!-- 价格失效时间 -->
		<if test="effectiveDate!=null" > effective_date &lt;= #{effectiveDate} and </if><!-- 价格生效时间 -->
		<if test='immediateEffect!=null and !"".equals(immediateEffect)' >immediate_effect= #{immediateEffect} and</if>
		IFNULL(`status`,'')!='006' and  
	</trim>
</where>
</select>


</mapper>
